
	.navbar-default{
		height: 60px;
		margin-bottom: 0px;
		border-radius: 0px;
		border:none;
		background: #101010;
	}
	.container-fluid{
		height: 60px;
	}
	.navbar-header{
		padding-top:5px;
		width: 100px;
	}
	.navbar-brand{
		padding-left: 25px;
	}
	.navbar-collapse{
		padding-top:5px; 
	}
  
  .book-content-top-box{
    width: 100%;
    background: #1F1E1E;
  }
  .book-content-top{
    width: 1200px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .book-content-top span{
    font-size: 15px;
    height: 30px;
    line-height: 30px;
  }
  .book-content-top span p{
    font-size: 10px;
    margin-left: 5px;
  }
  .book-content-top span a{
    color:#ccc;
  }
  .book-content-top span a:hover{
    color:#fff;
  }
  .glyphicon-menu-right{
    color:#ccc;
  }

  .book-content-box{
    width: 1200px;
    min-width: 950px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .book-content-left{
    float: left;
    min-height: 950px;
    height: auto;
    width: 170px;
    background: #EDE8D5;
  }
  .book-content-left h4{
    font-weight: bold;
  /*  text-align: center;*/
  }
  .book-content-right h5{
    padding-left: 8px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .book-content-right h3{
    font-size: 10px;
  }
  .book-content-right h5 a{
    float: right;
    font-weight: bold;
    color: #337AB7;
  }
  .book-content-right h5 a:hover{
    color: #777;
  }
  .btn-primary{
    font-size: 10px;
  }

  body{
    font-size: 15px;
    background: #EDE8D5;
  }
  body a{
    color: #444444;
    text-decoration:none;
    cursor: pointer;
  }
  body a:hover{
    text-decoration: none;
  }
  body label{
    color: #444444;
    font-weight:normal;
  }
.book-content-left{
  width: 175px;
}
.book-content-left ul{
  width: 175px;
  margin-left: -40px;
}
.book-content-left ul li{
  width: 175px;
  list-style-type: none;
}

  .book-content-center{
    float: left;
    min-height: 950px;
    height: auto;
    width: 835px;
    background: #FAF7ED;

}
.book-content-center-header{
  height: 55px;
  width: 750px;
  margin:0 auto 20px auto;
  border-bottom:1px solid #E6E4D5;
}
.book-content-center-footer{
  height: 55px;
  width: 750px;
  margin:20px auto 0 auto;
  border-top: 1px solid #E6E4D5;
}

.book-content-center-header-left span{
  float: left;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
}

.book-content-center-content{
  width: 750px;
  margin:0px auto;
}

.glyphicon-circle-arrow-left{
  line-height: 55px;
  font-size: 25px;
  color: #63A742;
}
.book-content-center-header-right span{
  float: right;
  line-height: 55px;
}
.glyphicon-circle-arrow-right{
  margin-left: 10px;
  line-height: 55px;
  font-size: 25px;
  color: #63A742;
}

 .book-content-right{
    float: left;
    min-height: 950px;
    height: auto;
    width: 175px;

  }

  .thumbnail{
    width:175px;
    margin-left: 5px;
    border-radius:0px; 
    border: 0px;
    background: #FAF7ED;
  }
  .row{
    float:left;
    margin-top:-15px;
  }
  
    #footer{
      clear: both;
    	width:100%;
    	height: 100px;
    	background: #101010;
    }
    .waper{
    	width:1090px;
    	height: 100px;
    	margin-left: auto;
    	margin-right: auto;
    }
    .footer_link li{
    	float: left;
    	list-style-type: none;
    	margin-right: 20px;
    	padding-top: 20px;
    }
    .copyright{
    	float: left;
    	margin-left: 40px;
    	padding-top: 5px;
    	color: #Fff;

    }
