<script language="javascript" src="{#CP#}js/changemenu.js"></script>
<style>
.pw_mainc1{width:194px;height:52px;float:left;background:url(images/p1.jpg) 0px 0px no-repeat;}
.pw_mainc2{width:194px;height:52px;float:left;background:url(images/p2.jpg) 0px 0px no-repeat;}
.pw_mainc3{width:194px;height:52px;float:left;background:url(images/p3.jpg) 0px 0px no-repeat;}
.pw_mainc4{width:194px;height:52px;float:left;background:url(images/p4.jpg) 0px 0px no-repeat;}
.pw_mainc1hover{width:194px;height:52px;float:left;background:url(images/p11.jpg) 0px 0px no-repeat;cursor:hand;}
.pw_mainc2hover{width:194px;height:52px;float:left;background:url(images/p22.jpg) 0px 0px no-repeat;cursor:hand;}
.pw_mainc3hover{width:194px;height:52px;float:left;background:url(images/p33.jpg) 0px 0px no-repeat;cursor:hand;}
.pw_mainc4hover{width:194px;height:52px;float:left;background:url(images/p44.jpg) 0px 0px no-repeat;cursor:hand;}
</style>
<a href="{#RP#}page/html/company.php"><div class="pw_mainc1" id="pw_mainc1">
</div></a>
<a href="{#RP#}product/class/" ><div class="pw_mainc2" id="pw_mainc2">
</div></a>
<a href="{#RP#}page/html/research.php"><div class="pw_mainc3" id="pw_mainc3">
</div></a>
<a href="{#RP#}page/contact/contact.php"><div class="pw_mainc4" id="pw_mainc4">
</div></a>