<include file="$header" />
<div class="module_add">
  <div class="module_title"> <strong>{$MsgInfo.account_name_users}</strong> </div>
</div>
<table border="0" cellspacing="1" width="100%">
  <form action="" method="post">
    <tr>
      <td class="main_td">{$MsgInfo.account_name_id}</td>
      <td class="main_td">{$MsgInfo.account_name_username}</td>
      <td class="main_td">{$MsgInfo.account_name_type}</td>
      <td class="main_td">{$MsgInfo.account_name_money}</td>
      <td class="main_td">{$MsgInfo.account_name_balance}</td>
      <td class="main_td">{$MsgInfo.account_name_income}</td>
      <td class="main_td">{$MsgInfo.account_name_expend}</td>
      <td class="main_td">待收</td>
      <td class="main_td">冻结</td>
      <td class="main_td">备注</td>
      <td class="main_td">{$MsgInfo.account_name_addtime}</td>
      <td class="main_td">{$MsgInfo.account_name_addip}</td>
    </tr>
    <foreach name="list" item="item">
      <tr>
        <td>{$item.id}</td>
        <td>{$item.username}</td>
        <td>{$item.type|linkages="account_type",###}</td>
        <td>￥{$item.money}</td>
        <td>￥{$item.balance}</td>
        <td>￥{$item.income}</td>
        <td>￥{$item.expend}</td>
        <td>￥{$item.await}</td>
        <td>￥{$item.frost}</td>
        <td>{$item.remark}</td>
        <td>{$item.addtime|date="Y-m-d H:i:s",###}</td>
        <td>{$item.addip}</td>
      </tr>
    </foreach>
    <tr>
      <td colspan="12" class="action"><div class="floatl"></div>
        <div class="floatr"> 类型：
          <tagLib name="zi" />
          <zi:linkages name="type" nid="account_type" type="value" default="不限" checked='Think.request.type' />
          用户名：
          <input type="text" name="username" id="username" value="{$Think.request.username}" />
          操作时间：
          <input type="text" name="dotime1" id="dotime1" value="{$Think.request.dotime1}" size="15" onclick="laydate()" />
          到
          <input type="text" name="dotime2" value="{$Think.request.dotime2}" id="dotime2" size="15" onclick="laydate()" />
          <input type="button" value="搜索"  onclick="sousuo()">
        </div></td>
    </tr>
    <tr>
      <td colspan="12" class="page">{$page}</td>
    </tr>
  </form>
</table>
<script>
var url = '{:U(CONTROLLER_NAME.'/'.ACTION_NAME,'','')}';

function sousuo(){
	var sou = "";
	
	var dotime1 = $("#dotime1").val();
	var keywords = $("#keywords").val();
	var username = $("#username").val();
	var dotime2 = $("#dotime2").val();
	var type = $("#type").val();
	if (username!=null&&username!=''){
		 sou += "/username/"+username;
	}
	if (keywords!=null&&keywords!=''){
		 sou += "/keywords/"+keywords;
	}
	if (dotime1!=null&&dotime1!=''){
		 sou += "/dotime1/"+dotime1;
	}
	if (dotime2!=null&&dotime2!=''){
		 sou += "/dotime2/"+dotime2;
	}
	if (type!=null&&type!=''){
		 sou += "/type/"+type;
	}

	if (sou!=""){
	location.href=url+sou;
	
	}
}

</script>

<include file="$footer" /> 