<include file="$header" />
<div class="module_add">
	<div class="module_title">
		<strong><font color="#FF0000">{$Think.request.username|urldecode}</font>{$MsgInfo.account_name_log}</strong>
	</div>
</div>
<table border="0" cellspacing="1" width="100%">
	<form action="" method="post">
		<tr>
			<td class="main_td">ID</td>
			<td class="main_td">用户名</td>
			<td class="main_td">类型</td>
			<td class="main_td">操作金额</td>
			<td class="main_td">可用金额</td>
			<td class="main_td">冻结金额</td>
			<td class="main_td">待收金额</td>
			<td class="main_td">资产总额</td>
			<td class="main_td">累计存入</td>
			<td class="main_td">累计支出</td>

			<td class="main_td">操作时间</td>
		</tr>
		<foreach name="list" item="item">
		<tr>
			<td>{$item.id}</td>
			<td><a href="{:U('Account/log?username='.$item['username'])}">{$item.username}</a></td>
			<td>{$item.type|linkages="account_type",###}</td>
			<td>￥{$item.money}</td>
			<td>￥{$item.balance}</td>
			<td><if condition="$item.frost gt 0">￥{$item.frost}<else />-</if></td>
			<td><if condition="$item.await gt 0">￥{$item.await}<else />-</if></td>
			<td>￥{$item.total}</td>
			<td><if condition="$item.income gt 0">￥{$item.income}<else />-</if></td>
			<td><if condition="$item.expend gt 0">￥{$item.expend}<else />-</if></td>
			<td>￥{$item.addtime|date="Y-m-d",###}</td>
		</tr>
		</foreach>
		<tr>
			<td colspan="14" class="action">
				<div class="floatl"></div>
				<div class="floatr">
					用户名：<input type="text" name="username" id="username" value="{$Think.request.username|urldecode}" /> 操作时间：<input type="text" name="dotime1" id="dotime1" value="{$Think.request.dotime1}" size="15" onclick="laydate()" /> 到 <input type="text" name="dotime2" value="{$Think.request.dotime2}" id="dotime2" size="15" onclick="laydate()" /> <input type="button" value="搜索" onclick="sousuo()">
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="14" class="page">{$page}</td>
		</tr>

	</form>
</table>
<include file="$footer" />