<include file="$header" />
<div class="module_add">
  <div class="module_title"> <strong>账号信息管理</strong> </div>
</div>
<table border="0" cellspacing="1" width="100%">
  <form action="" method="post">
    <tr>
      <td class="main_td">ID</td>
      <td class="main_td">用户名</td>
      <td class="main_td">总金额</td>
      <td class="main_td">可用金额</td>
      <td class="main_td">冻结金额</td>
      <td class="main_td">待收金额</td>
      <td class="main_td">操作</td>
    </tr>
    <foreach name="list" item="item">
      <tr>
        <td>{$item.id}</td>
        <td><a href="javascript:void(0)" onclick='tipsWindown("用户详细信息查看","{:U('Users/views?user_id'.$item['user_id'])}",700,400);'>{$item.username}</a></td>
        <td>￥{$item.total}</td>
        <td>￥{$item.balance}</td>
        <td>￥{$item.frost}</td>
        <td>￥{$item.await}</td>
        <td><a
				href="{:U('Account/recharge?username='.$item['username'])}">充值记录</a> <a href="{:U('Account/cash?username='.$item['username'])}">提现记录</a> <a href="{:U('Account/log?username='.$item['username'])}">资金记录</a> <a
				href="{:U('Account/tender?username='.$item['username'])}">投标记录</a> <a
				href="{:U('Account/exits?username='.$item['username'])}" style="color: #FF0000">修改资金</a></td>
      </tr>
    </foreach>
    <tr>
      <td colspan="12" class="action"> 总计（可用+冻结）：{$all_account|default=0}元
        <div class="floatr"> 用户名：
          <input type="text" name="username" id="username" value="{$Think.request.username}" />
          <input type="button" value="搜索" / onclick="sousuo()">
        </div></td>
    </tr>
    <tr>
      <td colspan="12" class="page">{$page}</td>
    </tr>
  </form>
</table>
<script>
var url = '{:U('Account/lists','','')}';

function sousuo(_url){
	var sou = "";
	var dotime1 = $("#dotime1").val();
	var keywords = $("#keywords").val();
	var username = $("#username").val();
	var dotime2 = $("#dotime2").val();
	var type = $("#type").val();
	if (username!=''&&username!=null){
		 sou += "/username/"+username;
	}
	if (keywords!=''&&keywords!=null){
		 sou += "/keywords/"+keywords;
	}
	if (dotime1!=''&&dotime1!=null){
		 sou += "/dotime1/"+dotime1;
	}
	if (dotime2!=''&&dotime2!=null){
		 sou += "/dotime2/"+dotime2;
	}
	if (type!=''&&type!=null){
		 sou += "/type/"+type;
	}
	if (sou!=""){
	location.href=url+sou;
	
	}
}

</script> 
<include file="$footer" />