<include file="$header" />
<div class="module_add">
	<div class="module_title">
		<strong>管理员信息</strong>&nbsp;
	</div>
	<div style="margin-top: 10px;">
		<div style="">

			<div style="border: 1px solid #CCCCCC;">
				<!--添加管理员开始-->
				<form action="{:U('admin/users/addadmin')}" method="post">
					<div class="module_title">
						<strong>管理员设置</strong>
					</div>
					<div class="module_border">
						<div class="l">用户名：</div>
						<div class="c">
							<input type="text" name="username" value="">
						</div>
					</div>
					<div class="module_border">
						<div class="l">用户别名：</div>
						<div class="c">
							<input type="text" name="adminname" value="">
						</div>
					</div>
					<div class="module_border">
						<div class="l">管理密码：</div>
						<div class="c">
							<input type="password" name="password" value="">
						</div>
					</div>
					<div class="module_border">
						<div class="l">管理QQ：</div>
						<div class="c">
							<input type="text" name="qq" value="">
						</div>
					</div>
					<div class="module_border">
						<div class="l">管理电话：</div>
						<div class="c">
							<input type="text" name="phone" value="">
						</div>
					</div>
					<div class="module_border">
						<div class="l">所在地：</div>
						<div class="c">
							<script src="{:U('plugins/index/areas?type=p,c')}"></script>
						</div>
						<div class="module_border">
							<div class="l">类型：</div>
							<div class="c">
								<tagLib name="zi" />
								<zi:select table="admin_type" name="name" value="id" select_name="type_id" />
							</div>
							<div class="module_border">
								<div class="l">管理员备注：</div>
								<div class="c">
									<textarea name="remark" cols="30" rows="4"></textarea>
								</div>
							</div>
							<div class="module_border">
								<div class="l"></div>
								<div class="c">
									<input type="hidden" name="action" value="add_admin"> <input
										type="submit" value="确认提交" class="submit_button">
								</div>
							</div>
				</form>
			</div>
			<!--添加管理员结束-->
		</div>
	</div>
	<div style="text-align: left"></div>



	<!--管理类型列表 开始-->



</div>
<include file="$footer" />