<include file="$header" />
<if condition="$Think.request.examine eq ''">
<ul class="nav3">
	<li><a href="{:U('Borrow/amount')}" id="c_so">额度列表</a></li>
	<li><a href="{:U('Borrow/amountapply')}">额度审核</a></li>
	<li><a href="{:U('Borrow/amountlog')}">额度记录</a></li>
</ul>


<script>
function CheckExamine(){
	if ($("#verify_remark").val()==""){
		alert("备注不能为空");
		return false;
	}
}
</script>



<div class="module_add">
	<div style="text-align: left">
		<div class="module_add">
			<div class="module_title">
				<strong>用户额度申请列表</strong>
			</div>
		</div>
		<table border="0" cellspacing="1" width="100%">
			<tbody>
				<tr>
					<td width="" class="main_td">ID</td>
					<td width="" class="main_td">用户</td>
					<td width="" class="main_td">类型</td>
					<td width="*" class="main_td">操作</td>
					<td width="*" class="main_td">申请金额</td>
					<td width="*" class="main_td">通过额度</td>
					<td width="*" class="main_td">备注</td>
					<td width="*" class="main_td">状态</td>
					<td width="*" class="main_td">时间</td>
					<td width="*" class="main_td">操作</td>
				</tr>
				<foreach name="list" item="item">
				<tr>
					<td class="main_td1" align="center">{$item.id}</td>
					<td class="main_td1" align="center">{$item.username}</td>
					<td class="main_td1" align="center">{$item.amount_type|amounttye=$borrow_amount_type,###}</td>
					<td class="main_td1" align="center"><if condition="$item.oprate eq 'add'"> 增加<else />减少</if></td>
					<td class="main_td1" align="center">{$item.amount_account}</td>
					<td class="main_td1" align="center">{$item.account}</td>
					<td class="main_td1" align="center">{$item.content}</td>
					<td class="main_td1" align="center"><if condition="$item.status eq 0">待审<elseif condition="$item.status eq 1" />审核通过<else />审核不通过</if></td>
					<td class="main_td1" align="center">{$item.addtime|date='Y-m-d H:i:s',###}</td>
					<td class="main_td1" align="center"><if condition="$item.status eq 0">
						<a href="javascript:void(0)" onclick='tipsWindown("审核用户申请额度","{:U('Borrow/amountapply?examine='.$item['id'])}",500,330);'/>审核</a>
						<else />-</if></td>
				</tr>
				</foreach>
				<tr>
					<td colspan="15" class="action">
						<div class="floatl">
							<script>
			  var url = "{:U('Borrow/amountapply','','')}";
				
				function amount_sou(){
					var username = $("#username").val();
					location.href=url+"/username/"+username;
				}
			  </script>

						</div>
						<div class="floatr">
							用户名：<input type="text" name="username" id="username" value=""
								size="7"> <input type="button" value="搜索"
								onclick="amount_sou()">
						</div>
					</td>
				</tr>

				<tr align="center">
					<td colspan="14" align="center" class="page">{$page}</td>
				</tr>

			</tbody>
		</table>
		<!--菜单列表 结束-->
	</div>
</div>
 <script>

var urls = '{:U(CONTROLLER_NAME.'/'.ACTION_NAME,'','')}';

function sousuo(url){
	var sou = "";
	var username = $("#username").val();
	if (username!="" && username!=null){
		sou += "/username/"+username;
	}
	var keywords = $("#keywords").val();
	if (keywords!="" && keywords!=null){
		sou += "/keywords/"+keywords;
	}
	var borrow_name = $("#borrow_name").val();
	if (borrow_name!="" && borrow_name!=null){
		sou += "/borrow_name/"+borrow_name;
	}
	var borrow_nid = $("#borrow_nid").val();
	if (borrow_nid!="" && borrow_nid!=null){
		sou += "/borrow_nid/"+borrow_nid;
	}
	var dotime1 = $("#dotime1").val();
	if (dotime1!="" && dotime1!=null){
		sou += "/dotime1/"+dotime1;
	}
	var dotime2 = $("#dotime2").val();
	if (dotime2!="" && dotime2!=null){
		sou += "/dotime2/"+dotime2;
	}
	var status = $("#status").val();
	if (status!="" && status!=null){
		sou += "/status/"+status;
	}
	var borrow_type = $("#borrow_type").val();
	if (borrow_type!="" && borrow_type!=null){
		sou += "/borrow_type/"+borrow_type;
	}
	
		location.href=url+sou;
	
}
</script> <else />
<div style="height: 305px; overflow: hidden">
	<form name="form1" method="post" action=""
		onsubmit="return CheckExamine()">
		<div class="module_border_ajax">
			<div class="l">审核:</div>
			<div class="c">
				<input type="radio" name="status" value="1" />审核通过<input
					type="radio" name="status" value="2" />审核不通过

			</div>

			<div class="module_border_ajax">
				<div class="l">操作:</div>
				<div class="c">
					<if condition="$_A['amount_apply_result']['oprate'] eq 'add' ">
					增加<else />减少</if>
				</div>
				<div class="module_border_ajax">
					<div class="l">申请额度:</div>
					<div class="c">{$_A.amount_apply_result.amount_account}</div>
					<div class="module_border_ajax">
						<div class="l">通过额度:</div>
						<div class="c">
							<input type="text"
								value="{$_A.amount_apply_result.amount_account}" name="account" />
						</div>
						<div class="module_border_ajax">
							<div class="l">审核备注:</div>
							<div class="c">
								<textarea name="verify_remark" id="verify_remark" cols="45" rows="7">{$_A.amount_apply_result.verify_remark}</textarea>
							</div>
						</div>
						<div class="module_border_ajax">
							<div class="l">验证码：</div>
							<div class="c">
								<input name="valicode" type="text" size="11" maxlength="4" tabindex="3" />
							</div>
							<div class="c">
								<img src="{:U('Borrow/verify')}" id="valicode1" alt="点击刷新" onClick="this.src='{:U('Borrow/verify','','')}/'+ Math.random()"
									align="absmiddle" style="cursor: pointer" />
							</div>
						</div>

						<div class="module_submit_ajax">
							<input type="hidden" name="user_id"
								value="{$_A.amount_apply_result.user_id}" /> <input
								type="hidden" name="nid" value="{$_A.amount_apply_result.nid}" />
							<input type="hidden" name="id" value="{$Think.request.examine}" />
							<input type="submit" name="reset" class="submit_button"
								value="确认审核" />
						</div>
	</form>
</div>
</if>
<include file="$footer" />