<include file="$header" />
<ul class="nav3">
	<li><a href="{:U('Borrow/amount')}" id="c_so">额度列表</a></li>
	<li><a href="{:U('Borrow/amountapply')}">额度审核</a></li>
	<li><a href="{:U('Borrow/amountlog')}">额度记录</a></li>
</ul>


<div class="module_add">


	<div class="module_title">
		<strong>用户额度列表</strong>
	</div>
</div>
<table border="0" cellspacing="1" width="100%">
	<tbody>
		<tr>
			<td width="" class="main_td">用户名</td>
			<td width="" class="main_td" colspan="3" align="center">借款额度</td>
			<!--<td width="" class="main_td" colspan="3" align="center">担保借款额度</td>-->
			<!--<td width="" class="main_td" colspan="3" align="center">担保投资额度</td>-->
		</tr>
		<tr>
			<td width="" class="main_td"></td>
			<td width="*" class="main_td">总额度 =</td>
			<td width="" class="main_td">可用额度 +</td>
			<td width="*" class="main_td">不可用额度</td>
			<!--<td width="*" class="main_td">总额度 =</td>
			<td width="" class="main_td">可用额度 +</td>
			<td width="*" class="main_td">不可用额度</td>-->
			<!--<td width="*" class="main_td">总额度 =</td>
			<td width="" class="main_td">可用额度 +</td>
			<td width="*" class="main_td">不可用额度</td>-->
		</tr>

		<foreach name="list" item="item">
		<tr>
			<td class="main_td1" align="center">{$item.username}</td>
			<td class="main_td1" align="center">{$item.borrow_amount}</td>
			<td class="main_td1" align="center">{$item.borrow_amount_use}</td>
			<td class="main_td1" align="center">{$item.borrow_amount_nouse}</td>
			<td class="main_td1" align="center">{$item.vouch_borrow}</td>
			<td class="main_td1" align="center">{$item.vouch_borrow_use}</td>
			<td class="main_td1" align="center">{$item.vouch_borrow_nouse}</td>
			<!--<td class="main_td1" align="center">{$item.vouch_tender}</td>
			<td class="main_td1" align="center">{$item.vouch_tender_use}</td>
			<td class="main_td1" align="center">{$item.vouch_tender_nouse}</td>-->
		</tr>
		</foreach>

		<tr align="center">
			<td colspan="10" class="page">{$page}</td>
		</tr>

	</tbody>
</table>



<!--统计 开始-->



<include file="$footer" />