<include file="$header" />
<ul class="nav3">
	<li><a href="{:U('Borrow/amount')}" id="c_so">额度列表</a></li>
	<li><a href="{:U('Borrow/amountapply')}">额度审核</a></li>
	<li><a href="{:U('Borrow/amountlog')}">额度记录</a></li>
</ul>
<tagLib name="zi" />
<div class="module_add">
	<div class="module_title"><strong>额度记录列表</strong></div>
	</div>
<table  border="0"  cellspacing="1"   width="100%">
	<tr >
		<td width="" class="main_td">ID</td>
		<td width="" class="main_td">用户</td>
		<td width="" class="main_td">类型</td>
		<td width="*" class="main_td">操作类型</td>
		<td width="*" class="main_td">操作</td>
		<td width="*" class="main_td">金额</td>
		<td width="*" class="main_td">备注</td>
		<td width="*" class="main_td">时间</td>
	</tr>

	<foreach name="list" item="item" >
	<tr>
		<td class="main_td1" align="center">{$item.id}</td>
		<td class="main_td1" align="center">{$item.username}</td>
		<td class="main_td1" align="center">{$item.amount_type|amounttye=$borrow_amount_type,###}</td>
		<td class="main_td1" align="center">{$item.type}</td>
		<td class="main_td1" align="center"><eq name="item.oprate" value="add">增加<else/>减少</eq></td>
		<td class="main_td1" align="center">{$item.account}</td>
		<td class="main_td1" align="center">{$item.remark}</td>
		<td class="main_td1" align="center">{$item.addtime|date="Y-m-d H:i:s",###}</td>
	</tr>
	</foreach>
	<tr>
			<td colspan="15" class="action">
			<div class="floatl">
			增加的额度：{$oprate_add|default=0} 减少的额度：{$oprate_reduce|default=0}
			<script>
			  var url = '{:U(CONTROLLER_NAME.'/'.ACTION_NAME,'','')}';
				
				function amount_sou(){
					var username = $("#username").val();
					var amount_type = $("#amount_type").val();
					sou='';
					if (username!="" && username!=null){
		sou += "/username/"+username;
	}
	if (amount_type!="" && amount_type!=null){sou += "/amount_type/"+amount_type;}
					location.href=url+sou;
				}
			  </script>
			
			</div>
			<div class="floatr">
				用户名：<input type="text" name="username" id="username" value="{$Think.request.username|urldecode}" size="7"/>  额度类型：<zi:select  result="borrow_amount_type" select_name="amount_type" selected="_REQUEST['amount_type']" default="全部"/> <input type="button" value="{$MsgInfo.users_name_sousuo}" / onclick="amount_sou()">
			</div>
			</td>
		</tr>
		
	<tr align="center">
		<td colspan="14" align="center"><div align="center">{$page}</div></td>
	</tr>
	
	
</table><include file="$footer" />