<include file="$header" />
<ul class="nav3">
  <li><a href="{:U('Areas/province')}">{$MsgInfo.areas_menu_province}</a></li>
  <li><a href="{:U('Areas/city')}">{$MsgInfo.areas_menu_city}</a></li>
  <li><a href="{:U('Areas/area')}">{$MsgInfo.areas_menu_area}</a></li>
  <li><a href="{:U('Areas/province?action=new')}">{$MsgInfo.areas_menu_province_new}</a></li>
</ul>
<tagLib name="zi" />
<empty name="Think.request.action">
<div class="module_add">
<div class="module_title"><strong>
  <if condition="ACTION_NAME eq 'province'">{$MsgInfo.areas_menu_province}
    <elseif condition="ACTION_NAME eq 'city'"/>
    {$MsgInfo.areas_menu_city}
    <elseif condition="ACTION_NAME eq 'area'"/>
    {$MsgInfo.areas_menu_area}</if>
  </strong></div>
<table  border="0"  cellspacing="1"   width="100%">
  <form action="{:U('Areas/action?id='.$_REQUEST['id'])}" method="post">
    <tr >
      <td class="main_td">{$MsgInfo.areas_name_id}</td>
      <td class="main_td">{$MsgInfo.areas_name_name}</td>
      <if condition="ACTION_NAME eq 'province'">
        <elseif condition="ACTION_NAME eq 'city'"/>
        <td class="main_td">{$MsgInfo.areas_name_province}</td>
        <elseif condition="ACTION_NAME eq 'area'"/>
        <td class="main_td">{$MsgInfo.areas_name_city}</td>
        <td class="main_td">{$MsgInfo.areas_name_province}</td>
      </if>
      <td class="main_td">{$MsgInfo.areas_name_nid}</td>
      <td class="main_td">{$MsgInfo.areas_name_order}</td>
      <td class="main_td">{$MsgInfo.areas_name_manage}</td>
    </tr>
    <foreach name="list" item="item" >
      <tr>
        <td class="main_td1" align="center">{$item.id}</td>
        <td class="main_td1" align="center" >{$item.name}</td>
        <if condition="ACTION_NAME eq 'province'">
          <elseif condition="ACTION_NAME eq 'city'"/>
          <td class="main_td1" align="center" >{$item.province|areas}</td>
          <elseif condition="ACTION_NAME eq 'area'"/>
          <td class="main_td1" align="center" >{$item.city|areas}</td>
          <td class="main_td1" align="center" >{$item.province|areas}</td>
        </if>
        <td class="main_td1" align="center" >{$item.nid}</td>
        <td class="main_td1" align="center" ><input type="text" value="{$item.order|default=10}" name="order[]" size="5" />
          <input type="hidden" name="id[]" value="{$item.id}" />
          <input type="hidden" name="query_type" value="ACTION_NAME " /></td>
        <td class="main_td1" align="center" ><if condition="ACTION_NAME eq 'province'">
          <a href="{:U('Areas/city?id='.$item['id'])}">{$MsgInfo.areas_name_city}</a> / <a href="{:U(CONTROLLER_NAME.'/'.ACTION_NAME.'?action=edit&edit_id='.$item['id'].'&id='.$_REQUEST['id'])}">{$MsgInfo.areas_name_edit}</a> / <a href="#" onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U(CONTROLLER_NAME.'/'.ACTION_NAME.'?action=del&del_id='.$item['id'].'&id='.$_REQUEST['id'])}'">{$MsgInfo.areas_name_del}</a> / <a href="{:U('Areas/city?action=new&new_id='.$item['id'])}">{$MsgInfo.areas_name_city_new}</a>
          <elseif condition="ACTION_NAME eq 'city'"/>
          <a href="{:U('Areas/area?id='.$item['id'])}">{$MsgInfo.areas_name_area}</a> / <a href="{:U(CONTROLLER_NAME.'/'.ACTION_NAME.'?action=edit&edit_id='.$item['id'].'&id='.$_REQUEST['id'])}">{$MsgInfo.areas_name_edit}</a> / <a href="#" onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U(CONTROLLER_NAME.'/'.ACTION_NAME.'?action=del&del_id='.$item['id'].'&id='.$_REQUEST['id'])}'">{$MsgInfo.areas_name_del}</a> / <a href="{:U('Areas/area?action=new&new_id='.$item['id'].'&id='.$_REQUEST['id'])}">{$MsgInfo.areas_name_area_new}</a>
          <elseif condition="ACTION_NAME eq 'area'"/>
          <a href="{:U(CONTROLLER_NAME.'/'.ACTION_NAME.'?action=edit&edit_id='.$item['id'].'&id='.$_REQUEST['id'])}">{$MsgInfo.areas_name_edit}</a> / <a href="#" onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U(CONTROLLER_NAME.'/'.ACTION_NAME.'?action=del&del_id='.$item['id'].'&id='.$_REQUEST['id'])}'">{$MsgInfo.areas_name_del}</a></td>
          </if>
      </tr>
    </foreach>
    <tr >
      <td colspan="8" class="submit"  height="30"><input type="submit" name="submit" value="{$MsgInfo.areas_name_submit}" /></td>
    </tr>
    <tr >
      <td colspan="8" class="page"  height="30"> {$page} </td>
    </tr>
  </form>
</table>
<script>
function check_form(){
	 var frm = document.forms['form1'];
	 var title = frm.elements['name'].value;
	 var nid = frm.elements['nid'].value;
	 var errorMsg = '';
	  if (title.length == 0 ) {
		errorMsg += '名称必须填写' + '\n';
	  }
	  if (nid.length == 0 ) {
		errorMsg += '标识名必须填写' + '\n';
	  }
	  if (errorMsg.length > 0){
		alert(errorMsg); return false;
	  } else{  
		return true;
	  }
}
</script>
<else/>
<div class="module_add">
  <form action="" method="post" onsubmit="return check_form()" name="form1">
    <div class="module_title"><strong><eq name="Think.request.action" value="edit">{$MsgInfo.areas_name_edit}<else/>{$MsgInfo.areas_name_new}</eq></strong></div>
    <div class="module_border">
      <div class="l">{$MsgInfo.areas_name_aname}：</div>
      <div class="c"> 
      <eq name="Think.request.action" value="edit">
        {$_A.area_result.id|areas="p,c,a",###}
        <input type="hidden" name="province" value="{$_A.area_result.province}" />
        <input type="hidden" name="city" value="{$_A.area_result.city}" />
        <else/>
          <empty name="_A.area_result.id">全国<else />{$_A.area_result.id|areas="p,c,a",###}</empty>
        <if condition="ACTION_NAME eq 'city'">
         
        <input type="hidden" name="province" value="{$_A.area_results.id}" />
          <elseif condition="ACTION_NAME eq 'area'"/>
        <input type="hidden" name="province" value="{$_A.area_results.province}" />
        <input type="hidden" name="city" value="{$_A.area_results.id}" />
          </if>
        <input type="hidden" name="pid" value="{$_A.area_results.id}" />
        </eq> </div>
    </div>
    <div class="module_border">
      <div class="l">  <if condition="ACTION_NAME eq 'city'">{$MsgInfo.areas_name_city}<elseif condition="ACTION_NAME eq 'area'"/>{$MsgInfo.areas_name_area}<else/>{$MsgInfo.areas_name_province}</if>{$MsgInfo.areas_name_name}：</div>
      <div class="c">
        <input type="text" name="name"  class="input_border" value="{$_A.area_result.name}" size="30" />
      </div>
    </div>
    <div class="module_border">
      <div class="l">{$MsgInfo.areas_name_nid}：</div>
      <div class="c">
        <input type="text" name="nid"  class="input_border" value="{$_A.area_result.nid}" size="30" />
      </div>
    </div>
    <div class="module_border">
      <div class="l">是否显示：</div>
      <div class="c">
       <tagLib name="zi" />  <zi:input name="status" value="1|显示,2|隐藏" checked="_A.area_result.status" type="radio"/>
      </div>
    </div>
    <div class="module_border">
      <div class="l">{$MsgInfo.areas_name_order}：</div>
      <div class="c">
        <input type="text" name="order"  class="input_border" value="{$_A.area_result.order|default=10}" size="10" />
      </div>
    </div>
    <div class="module_submit border_b" > 
    <eq name="Think.request.action" value="edit">
      <input type="hidden" name="id" value="{$_A.area_result.id }" />
     </eq>
      <input type="submit"  name="submit" value="{$MsgInfo.areas_name_submit}" />
    </div>
  </form>
</div>
</empty>
<include file="$footer" />