<include file="$header" />
<if condition="$Think.request.examine neq ''">
  <div style="height: 205px; overflow: hidden">
    <form name="form1" method="post"
		action="{:U('Rating/educations?examine='.$_REQUEST['examine'])}">
      <div class="module_border_ajax">
        <div class="l">审核:</div>
        <div class="c">
          <input type="radio" name="status" value="1" />
          初审通过
          <input
					type="radio" name="status" value="2" checked="checked" />
          初审不通过 </div>
      </div>
      <div class="module_border_ajax">
        <div class="l">审核备注:</div>
        <div class="c">
          <textarea name="verify_remark" cols="45" rows="7"></textarea>
        </div>
      </div>
      <div class="module_border_ajax">
        <div class="l">验证码:</div>
        <div class="c">
          <input name="valicode" type="text" size="11" maxlength="4" tabindex="3" />
        </div>
        <div class="c"> <img src="{:U('admin/index/verify')}" id="valicode1" alt="点击刷新" onClick="this.src='{:U('Index/verify','','')}/' + Math.random();" align="absmiddle" style="cursor: pointer" /> </div>
      </div>
      <div class="module_submit_ajax">
        <input type="hidden" name="borrow_nid" value="{$Think.request.check}" />
        <input type="submit" name="reset" class="submit_button" value="审核此标" />
      </div>
    </form>
  </div>
  <else />
  <div
	style="background-color: #ffffff; line-height: 30px; margin-bottom: 10px;"> <span style="margin: 5px" class="ding_note"><a href="{:U('rating/educations')}">教育</a></span> <span style="margin: 5px" class="ding_note"><a href="{:U('rating/job')}">工作</a></span> <span style="margin: 5px" class="ding_note"><a href="{:U('rating/house')}">房产</a></span> <span style="margin: 5px" class="ding_note"><a href="{:U('rating/company')}">公司管理</a></span> <span style="margin: 5px" class="ding_note"><a href="{:U('rating/contact')}">联系方式</a></span> </div>
  <div class="module_add">
    <div class="module_title"> <strong>学历资料</strong>
      <if condition="$Think.request.edit neq ''"> <span> <a href="{:U('Rating/educations')}" style="color: #45a7df; font-size: 16px;">(添加学历)</a> </span>
        <else />
        &nbsp;&nbsp;<strong class="dogo_js_click cursor_pointer">(添加学历)</strong> </if>
    </div>
    <div style="margin-top: 10px;"> 
      <script>
                var edit = '{$Think.request.edit}';
                $(function(){
                    $('.dogo_js_click').click(function(){
                        $('.dogo_section').toggle("slow");
                    });
                    if(edit!=''){
                        $('.dogo_section').css('display','block');
                    }
                });
                
                </script>
      <div class="dogo_section" style="display: none;">
        <div style="border: 1px solid #CCCCCC;">
          <form action="{:U('Rating/educations')}" method="post">
            <div class="module_title"> <strong>
              <if condition="$Think.request.edit neq ''">
                <input type="hidden" name="id" value="{$_A.rating_result.id}" />
                修改学历
                <else />
                添加学历</if>
              </strong> </div>
            <div class="module_border">
              <div class="c"> 用户名：
                <if condition="$Think.request.edit neq ''">
                  <input type="hidden" name="username"
								value="{$_A.rating_result.username}" />
                  {$_A.rating_result.username}
                  <else />
                  <input type="text" name="username" />
                </if>
              </div>
            </div>
            <if condition="$Think.request.edit neq ''">
              <div class="module_border">
                <div class="c"> 状&nbsp;&nbsp;态：{$_A.rating_result.status|linkages="rating_approve_status",###} </div>
              </div>
            </if>
            <div class="module_border">
              <div class="c">
                <tagLib name="zi" />
                学&nbsp;&nbsp;历 ：
                <zi:linkages type="value" nid="rating_education" name="degree" value="_A.rating_result.degree"/>
              </div>
            </div>
            <div class="module_border">
              <div class="c"> 入学年份：
                <zi:digit name="in_year" start="2012" end="1970"
								value="$_A['rating_result']['in_year']" />
              </div>
            </div>
            <div class="module_border">
              <div class="c"> 学&nbsp;&nbsp;校 ：
                <input type="text" name="name" value="{$_A.rating_result.name}" />
              </div>
            </div>
            <div class="module_border">
              <div class="c"> 专&nbsp;&nbsp;业 ：
                <input type="text" name="professional" value="{$_A.rating_result.professional}" />
              </div>
            </div>
            <div class="module_border_ajax">
              <div class="c"> 验证码：
                <input name="valicode" type="text" size="11" maxlength="4" />
                <img src="{:U('admin/index/verify')}" id="valicode" alt="点击刷新" onClick="this.src='{:U('Index/verify','','')}/' + Math.random();" align="absmiddle" style="cursor: pointer" /> </div>
            </div>
            <div class="module_border">
              <div class="c">
                <input type="submit" value="确认提交" class="submit_button" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div style="text-align: left">
      <div class="module_add">
        <div class="module_title"> <strong>学历列表</strong> </div>
      </div>
      <table border="0" cellspacing="1" width="100%">
        <tr>
          <td width="" class="main_td">ID</td>
          <td width="" class="main_td">用户</td>
          <td width="*" class="main_td">学校</td>
          <td width="*" class="main_td">学历</td>
          <td width="*" class="main_td">专业</td>
          <td width="*" class="main_td">入学时间</td>
          <td width="*" class="main_td">状态</td>
          <td width="*" class="main_td">操作</td>
        </tr>
        <foreach name="list" item="item">
          <tr>
            <td class="main_td1" align="center">{$item.id}</td>
            <td class="main_td1" align="center">{$item.username}</td>
            <td class="main_td1" align="center">{$item.name}</td>
            <td class="main_td1" align="center">{$item.degree|linkages="rating_education",###}</td>
            <td class="main_td1" align="center">{$item.professional}</td>
            <td class="main_td1" align="center">{$item.in_year}</td>
            <td class="main_td1" align="center">{$item.status|linkages="rating_approve_status",###}</td>
            <td class="main_td1" align="center"><a
					href="javascript:void(0)" onclick='tipsWindown("学历审核","{:U('Rating/educations?examine='.$item['id'])}",500,230);'/>审核</a>/<a href="{:U('Rating/educations?edit='.$item['id'])}">修改</a>/<a href="#" onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U('Rating/educations?del=='.$item['id'])}'">删除</a></td>
          </tr>
        </foreach>
        <tr>
          <td colspan="11" class="action"><div class="floatl"> 
              <script>
	  var url = "{:U('Rating/educations','','')}";
	  	function sousuo(){
			var username = $("#username").val();
			location.href=url+"/username/"+username;
		}
	  
	  </script> 
            </div>
            <div class="floatr"> 用户名：
              <input type="text" name="username" id="username" value="{$Think.request.username|urldecode}" />
              <input type="button" value="{$MsgInfo.users_name_sousuo}" onclick="sousuo()">
            </div></td>
        </tr>
        <tr align="center">
          <td colspan="10" align="center"><div align="center">{$page}</div></td>
        </tr>
      </table>
      <!--菜单列表 结束--> 
    </div>
  </div>
</if>
<include file="$footer" />