<include file="$header" />
<ul class="nav3"> 
<li><a href="{:U('Linkages/lists?code='.$_REQUEST['code'])}" id="c_so">{$MsgInfo.linkages_name_list}</a></li> 
<li><a href="{:U('Linkages/type_new?code='.$_REQUEST['code'])}">{$MsgInfo.linkages_name_add_type}</a></li> 
</ul> 
<if condition="ACTION_NAME eq 'lists'"> 

<div class="module_add">
<div class="module_title"><strong>{$MsgInfo.linkages_name_list}</strong></div>
</div>
<table  border="0"  cellspacing="1"   width="100%">
	<form action="{:U('Linkages/type_action?code='.$_REQUEST['code'])}" method="post">
	<tr >
		<td class="main_td">{$MsgInfo.linkages_name_type_id}</td>
		<td class="main_td">{$MsgInfo.linkages_name_type_name}</td>
		<td class="main_td">{$MsgInfo.linkages_name_type_code}</td>
		<td class="main_td">{$MsgInfo.linkages_name_type_nid}</td>
		<td class="main_td">{$MsgInfo.linkages_name_type_order}</td>
		<td class="main_td">{$MsgInfo.linkages_name_type_manage}</td>
	</tr>

	<foreach name="list" item="item" >
	<tr>
		<td class="main_td1" align="center" >{$item.id}</td>
		<td class="main_td1" align="center" ><input type="text" value="{$item.name}" name="name[]" /></td>
		<td class="main_td1" align="center" >{$item.code}</td>
		<td class="main_td1" align="center" width="*">{$item.nid}</td>
		<td class="main_td1" align="center" ><input type="text" value="{$item.order|default=10}" name="order[]" size="5" /><input type="hidden" name="id[]" value="{$item.id}" /></td>
		<td class="main_td1" align="center" width="130"><a href="{:U('Linkages/news?code='.$_REQUEST['code'].'&id='.$item['id'])}">{$MsgInfo.linkages_name_manage}</a> / <a href="{:U('Linkages/type_edit?code='.$_REQUEST['code'].'&id='.$item['id'])}">{$MsgInfo.linkages_name_edit}</a> / <a href="#" onClick="javascript:if(confirm('{$MsgInfo.linkages_name_del_msg}')) location.href='{:U('Linkages/type_del?code='.$_REQUEST['code'].'&id='.$item['id'])}'">{$MsgInfo.linkages_name_del}</a></td>
	</tr>
	</foreach>
	<tr >
		<td colspan="8"  class="page">
			{$page}
		</td>
	</tr>
	<tr >
		<td colspan="8"  class="submit">
			<input type="submit" name="submit" value="{$MsgInfo.linkages_name_submit}" />
		</td>
	</tr>
	</form>	
</table>
<elseif condition="(ACTION_NAME eq 'news') OR (ACTION_NAME eq 'edit')"/>

<div class="module_add">
<div class="module_title"><strong>{$MsgInfo.linkages_name_sub}</strong></div>
</div>
<table  border="0"  cellspacing="1"   width="100%">
<form action="{:U('Linkages/actions?code='.$_REQUEST['code'].'&type_id='.$_REQUEST['id'])}" method="post">
	<tr >
		<td class="main_td">{$MsgInfo.linkages_name_id}</td>
		<td class="main_td">{$MsgInfo.linkages_name_type_name}</td>
		<td class="main_td">{$MsgInfo.linkages_name_type_nid}</td>
		<td class="main_td">{$MsgInfo.linkages_name_name}</td>
		<td class="main_td">{$MsgInfo.linkages_name_value}</td>
		<td class="main_td">{$MsgInfo.linkages_name_order}</td>
		<td class="main_td">{$MsgInfo.linkages_name_manage}</td>
	</tr>
	<foreach name="_A.linkage_list" item="item" key="key">
	<tr>
		<td class="main_td1" align="center">{$item.id}</td>
		<td class="main_td1" align="center">{$item.type_name}</td>
		<td class="main_td1" align="center">{$item.type_nid}</td>
		<td class="main_td1" align="center"><input type="text" value="{$item.name}" name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" value="{$item.value}" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" value="{$item.order|default=10}" name="order[]" size="5" /><input type="hidden" name="id[]" value="{$item.id}" /></td>
		<td class="main_td1" align="center" width="130"> <a href="#" onClick="javascript:if(confirm('{$MsgInfo.linkages_name_del_msg}')) location.href='{:U('Linkages/del?code='.$_REQUEST['code'].'&type_id='.$item['type_id'].'&id='.$item['id'])}'">{$MsgInfo.linkages_name_del}</a></td>
	</tr>
	</foreach>
<tr>
	<td colspan="7"  class="submit">
		<input type="submit" name="submit" value="{$MsgInfo.linkages_name_submit}" />
	</td>
</tr>
</form>	
</table>

<div class="module_add">
<form name="form1" method="post" action="" onsubmit="return check_form()" >
	<div class="module_title"><strong><if condition="ACTION_NAME eq 'edit'"> {$MsgInfo.linkages_name_edit}<else/>{$MsgInfo.linkages_name_new}</if> ({$_A.linkage_type_result.name}) {$MsgInfo.linkages_name_sub}</strong></div>
	
	<div class="module_border">
		<div class="l">{$MsgInfo.linkages_name_type_name}：</div>
		<div class="c">
			{$_A.linkage_type_result.name}
		</div>
	</div>

	<div class="module_border">
		<div class="l">{$MsgInfo.linkages_name_name}：</div>
		<div class="c">
			<input type="text" name="name"  value="{$_A.linkage_result.name}"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">{$MsgInfo.linkages_name_value}：</div>
		<div class="c">
			<input type="text" name="value"  value="{$_A.linkage_result.value}" /> 
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">{$MsgInfo.linkages_name_order}：</div>
		<div class="c">
			<input type="text" name="order"  value="{$_A.linkage_result.order|default=10}" onkeyup="value=value.replace(/[^0-9]/g,'')"/>
		</div>
	</div>
	
	<div class="module_submit" >
		<input type="hidden" name="pid" value="{$Think.request.pid|default=0}" />
		<input type="hidden" name="type_id" value="{$Think.request.id}" />
		<input type="submit"  name="submit" value="{$MsgInfo.linkages_name_submit}" />
		<input type="reset"  name="reset" value="{$MsgInfo.linkages_name_reset}" />
	</div>
</form>
</div>
<div class="module_add">
<div class="module_title"><strong>{$MsgInfo.linkages_name_list_new}</strong></div>
</div>
<table  border="0"  cellspacing="1"   width="100%">
<form action="{:U('Linkages/actions?code='.$_REQUEST['code'])}" method="post">
	
	<tr  class="tr2">
		<td class="main_td1" align="center">{$MsgInfo.linkages_name_name}</td>
		<td class="main_td1" align="center">{$MsgInfo.linkages_name_value}</td>
		<td class="main_td1" align="center" >{$MsgInfo.linkages_name_order}</td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]" value="10" size="5" /></td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]" value="10" size="5" /></td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]" value="10" size="5" /></td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]"  value="10"size="5" /></td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]" value="10" size="5" /></td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]" value="10" size="5" /></td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]" value="10" size="5" /></td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]" value="10" size="5" /></td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]"  value="10"size="5" /></td>
	</tr>
	<tr >
		<td class="main_td1" align="center"><input type="text"  name="name[]" /></td>
		<td class="main_td1" align="center"><input type="text" name="value[]" /></td>
		<td class="main_td1" align="center" ><input type="text" name="order[]" value="10" size="5" /></td>
	</tr>
	<input type="hidden" name="type_id" value="{$Think.request.id}" />
<tr >
	<td colspan="6"  class="submit">
		<input type="submit" name="submit" value="{$MsgInfo.linkages_name_submit}" />
	</td>
</tr>
</form>	
</table>
<script>
function check_form(){
	
	var frm = document.forms['form1'];
	var title = frm.elements['name'].value;
	
	 var errorMsg = '';
	  if (title == "") {
		errorMsg += '联动的名称必须填写' + '\n';
	  }
	 
	  
	  if (errorMsg.length > 0){
		alert(errorMsg); return false;
	  } else{  
		return true;
	  }
}

</script>

<elseif condition="(ACTION_NAME eq 'type_new') OR (ACTION_NAME eq 'type_edit')"/>

<div class="module_add">

	<form name="form1" method="post" action="" >
	<div class="module_title"><strong><if condition="ACTION_NAME eq 'type_edit'"> {$MsgInfo.linkages_name_edit}<else/>{$MsgInfo.linkages_name_new}</if>{$MsgInfo.linkages_name_type}</strong></div>
	<if condition="ACTION_NAME eq 'type_edit'">
	<div class="module_border">
		<div class="l">{$MsgInfo.linkages_name_code}：</div>
		<div class="c">
			<input type="text" name="code" value="{$_A.linkage_type_result.code}" />
		</div>
	</div>
	<else/>
	<div class="module_border">
		<div class="l">{$MsgInfo.linkages_name_code}：</div>
		<div class="c">
			<input type="hidden" name="code" value="{$Think.request.code|default='system'}" />{$Think.request.code|default='system'}
		</div>
	</div>
	</if>
	<div class="module_border">
		<div class="l">{$MsgInfo.linkages_name_name}：</div>
		<div class="c">
			<input type="text" name="name" value="{$_A.linkage_type_result.name}" />
		</div>
	</div>

	<div class="module_border">
		<div class="l">{$MsgInfo.linkages_name_nid}：</div>
		<div class="c">
			<input type="text" name="nid"  value="{$_A.linkage_type_result.nid}" onkeyup="value=value.replace(/[^a-z_]/g,'')"/>
		</div>
	</div>

	<div class="module_border">
		<div class="l">{$MsgInfo.linkages_name_order}：</div>
		<div class="c">
			<input type="text" name="order"  value="{$_A.linkage_type_result.order|default=10}"  onkeyup="value=value.replace(/[^0-9]/g,'')"/>
		</div>
	</div>
	
	<div class="module_submit" >
		<if condition="ACTION_NAME eq 'type_edit'"><input type="hidden" name="id" value="{$Think.request.id}" /></if>
		<input type="submit"  name="submit" value="{$MsgInfo.linkages_name_submit}" />
		<input type="reset"  name="reset" value="{$MsgInfo.linkages_name_reset}" />
	</div>
	</form>
</div>
</if><include file="$footer" />