<include file="$header" />
<div class="module_add">
	<div class="module_title">
		<strong>页面列表</strong>
	</div>
</div>

<table border="0" cellspacing="1" width="100%">

	<tr>
		<td width="" class="main_td"><if condition=" $Think.request.order eq 'id_desc'">
			<a href="{:U('Articles/page_list?order=id_asc')}">ID↓</a>
			<elseif condition="$Think.request.order eq 'id_asc'" />
			<a href="{:U('Articles/page_list?order=id_desc')}">ID↑</a>
			<else />
			<a href="{:U('Articles/page_list?order=id_desc')}">ID</a></if></td>
		<td width="*" class="main_td">作者</td>
		<td width="*" class="main_td">标题</td>
		<td width="" class="main_td">标识名</td>
		<td width="" class="main_td">状态</td>
		<td width="" class="main_td"><if condition="$Think.request.order eq 'order_desc'">
			<a href="{:U('Articles/page_list?order=order_asc')}">排序↓</a>
			<elseif condition="$Think.request.order eq 'order_asc'" />
			<a href="{:U('Articles/page_list?order=order_desc')}">排序↑</a>
			<else />
			<a href="{:U('Articles/page_list?order=order_desc')}">排序</a></if></td>

		<td width="" class="main_td">发布时间</td>
		<td width="" class="main_td">操作</td>
	</tr>
	<foreach name="list" item="item">
	<tr>
		<td class="main_td1" align="center">{$item.id}</td>
		<td class="main_td1" align="center">{$item.username}</td>
		<td class="main_td1" align="center"><a
			href="#">{$item.type_name}</a></td>
		<td class="main_td1" align="center">{$item.nid}</td>
		<td class="main_td1" align="center"><if condition="$item.status eq 1">发布<elseif condition="$item.status eq 2" />草稿<elseif condition="$item.status eq 3" />等待发布</if></td>
		<td class="main_td1" align="center">{$item.order}</td>
		<td class="main_td1" align="center">{$item.publish}</td>
		<td class="main_td1" align="center"><a
			href="{:U('Articles/page_edit?id='.$item['id'])}">修改</a> <a href="#"
			onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U('Articles/page_list?del='.$item['id'])}'">删除</a></td>
	</tr>
	</foreach>


</table>
<include file="$footer" />