<include file="$header" />
<div class="module_add">
	<form action="" method="post" name="form1">
		<div class="module_title">
			<strong>个人资料</strong>
		</div>

		<div class="module_border">
			<div class="l">用户名：</div>
			<div class="c">
				{$_A.admin_result.username}<input type="hidden" value="{$_G.user_id}" name="user_id" />
			</div>
		</div>


		<div class="module_border">
			<div class="l">昵称：</div>
			<div class="c">
				<input type="text" value="{$_A.admin_result.adminname}" name="adminname" />
			</div>
		</div>
		<div class="module_border">
			<div class="l">所在地：</div>
			<div class="c">
		<script src="{:U('plugins/index/areas?type=p,c&area='.$_A['admin_result']['city'])}" type="text/javascript"></script>
			</div>
		</div>

		<div class="module_border">
			<div class="l">管理密码：</div>
			<div class="c">
				<input type="password" value="" name="adminpassword" />
				注意：如果不修改密码，此处为空！
			</div>
		</div>

		<div class="module_border">
			<div class="l">确认管理密码：</div>
			<div class="c">
				<input type="password" value="" name="adminpassword1" />
				注意：如果不修改密码，此处为空！
			</div>
		</div>

		<div class="module_submit border_b">
			<input type="submit" value=" 提 交 " class="submitstyle" name="submit_ok" />&nbsp;&nbsp; <input name="reset" type="reset" class="submitstyle" value=" 重 置 " />
		</div>
	</form>
</div>



<!--模块编辑 结束-->
<include file="$footer" />