<include file="$header" />
<ul class="nav3">
	<li><a href="{:U('Payment/lists')}" id="c_so">{$MsgInfo.payment_name_list}</a></li>
	<li><a href="{:U('Payment/all')}">{$MsgInfo.payment_name_all}</a></li>
</ul>
<if condition="(ACTION_NAME eq 'news') OR (ACTION_NAME eq 'edit') OR (ACTION_NAME eq 'start')">
<div class="module_add">
	<form name="form1" method="post" action="{:U('Payment/news')}"
		enctype="multipart/form-data">
		<div class="module_title">
			<strong><eq name="ACTION_NAME" value="edit">
				<input type="hidden" name="actions" value="edit" />{$MsgInfo.payment_name_edit}<else />{$MsgInfo.payment_name_new}</eq></strong>
		</div>


		<div class="module_border">
			<div class="w">{$MsgInfo.payment_name_name}：</div>
			<div class="c">
				<input type="text" name="name" class="input_border"
					value="{$_A.payment_result.name}" size="30" />
			</div>
		</div>

		<div class="module_border">
			<div class="w">{$MsgInfo.payment_name_litpic}：</div>
			<div class="c">
				<input type="file" name="litpic" size="30" class="input_border" />
				<notempty name="_A.payment_result.litpic">
				<a href="{$_A.payment_result.litpic}" target="_blank" title="有图片"><img src="/template/admin/images/ico_1.jpg" border="0" /></a>
				<input type="checkbox" name="clearlitpic" value="1" />去掉缩略图</notempty>
			</div>
		</div>
		<foreach name="_A.payment_result.fields" item="item">
		<div class="module_border">
			<div class="w">{$item.label}</div>
			<div class="c">
				<if condition="$item.type eq 'string'"> <input type="text" name="config[{$key}]" class="input_border" value="{$item.value}" size="30" /> <elseif condition="$item.type eq 'select'" /> <select name="config[{$key}]">
					<foreach name="item.options" item="var" key="_key">

					<option value="{$_key}"<eq name="item.value" value="$_key"> selected="selected"</eq>>{$var}
					</option>
					</foreach>
				</select> </if>
			</div>
		</div>
		</foreach>


		<div class="module_border">
			<div class="w">{$MsgInfo.payment_name_order}:</div>
			<div class="c">
				<input type="text" name="order" class="input_border"
					value="{$_A.payment_result.order|default=10}" size="10" />
			</div>
		</div>


		<div class="module_border">
			<div class="w">{$MsgInfo.payment_name_description}：</div>
			<div class="c">
				<textarea id="bcontents" name="description" rows="10"
					style="width: 100%">{$_A.payment_result.description}</textarea>
			</div>
		</div>
		<script type="text/javascript">
        var ue = UE.getEditor('bcontents');
    </script>
		<div class="module_submit">
			<input type="hidden" name="nid" value="{$_A.payment_result.nid }" />
			<input type="hidden" name="status" value="{$_A.payment_result.status|default=1 }" /> <input type="hidden" name="type" value="{$_A.payment_result.type }" />
			<eq name="ACTION_NAME" value="edit"> <input type="hidden" name="id" value="{$Think.request.id}" /> </eq>
			<input type="submit" name="submit" value="{$MsgInfo.payment_name_submit}" /> <input type="reset" name="reset" value="{$MsgInfo.payment_name_reset}" />
		</div>
</div>
</form>

<script>
function change(type){
	if (type==1){
		$("#fee").hide();
		$("#fee_money").show();
	}else{
		$("#fee_money").hide();
		$("#fee").show();
	}

}
function check_form(){

	 var frm = document.forms['form1'];
	 var title = frm.elements['name'].value;
	 var errorMsg = '';
	  if (title.length == 0 ) {
		errorMsg += '标题必须填写' + '\n';
	  }
	  if (errorMsg.length > 0){
		alert(errorMsg); return false;
	  } else{  
		return true;
	  }
	 
}

</script> <elseif condition="ACTION_NAME eq 'all'" />
<div class="module_add">
	<div class="module_title">
		<strong>{$MsgInfo.payment_name_all}</strong>
	</div>
</div>
<table border="0" cellspacing="1" width="100%">
	<form action="{:U(CONTROLLER_NAME.'/'.ACTION_NAME)}" method="post">
		<tr>
			<td width="*" class="main_td">{$MsgInfo.payment_name_logo}</td>
			<td width="*" class="main_td">{$MsgInfo.payment_name_name}</td>
			<td width="*" class="main_td">{$MsgInfo.payment_name_description}</td>
			<td width="" class="main_td">{$MsgInfo.payment_name_manage}</td>
		</tr>
		<foreach name="_A.payment_list" item="item" key='key'>

		<tr class="tr1">
			<td><img src="{$item.logo}" height="50" /></td>
			<td>{$item.name}</td>
			<td>{$item.description|htmlspecialchars_decode}</td>
			<td><eq name="item.type" value="1"><a href="{:U(CONTROLLER_NAME.'/start?nid='.$item['nid'])}">{$MsgInfo.payment_name_open}</a>
				<else />
				<a href="{:U('Payment/news?nid='.$item['nid'])}">{$MsgInfo.payment_name_new}</a></eq></td>
		</tr>
		</foreach>

	</form>
</table>
<elseif condition="ACTION_NAME eq 'lists'" />
<div class="module_add">
	<div class="module_title">
		<strong>{$MsgInfo.payment_name_list}</strong>
	</div>
</div>
<table border="0" cellspacing="1" width="100%">
	<form action="{:U('Payment/action')}" method="post">
		<tr>
			<td width="*" class="main_td">{$MsgInfo.payment_name_logo}</td>
			<td width="*" class="main_td">{$MsgInfo.payment_name_name}</td>
			<td width="*" class="main_td">{$MsgInfo.payment_name_description}</td>
			<td width="" class="main_td">{$MsgInfo.payment_name_manage}</td>
		</tr>
		<foreach name="_A.payment_list" key='key' item='item'>
		<tr class="tr1">
			<td><img src="{$item.logo}" height="50" /></td>
			<td>{$item.name}</td>
			<td>{$item.description|htmlspecialchars_decode}</td>
			<td><a
				href="{:U('Payment/edit?nid='.$item['nid'].'&id='.$item['id'])}">{$MsgInfo.payment_name_edit}</a>
				| <a href="#"
				onClick="javascript:if(confirm('{$MsgInfo.payment_name_del_msg}')) location.href='{:U('Payment/del?id='.$item['id'])}'">{$MsgInfo.payment_name_del}</a>
				| <eq name="item.status" value="1">
				<a href="{:U('Payment/lists?status=0&nid='.$item['nid'].'&id='.$item['id'])}">{$MsgInfo.payment_name_close}</a>
				<else />
				<a href="{:U('Payment/lists?status=1&nid='.$item['nid'].'&id='.$item['id'])}">{$MsgInfo.payment_name_open}</a></eq>
			</td>
		</tr>
		</foreach>

	</form>
</table>
</if>
<include file="$footer" />