<include file="$header" />
<if condition="$Think.request.examine neq ''">
<div style="height: 205px; overflow: hidden">
	<form name="form1" method="post"
		action="{:U('rating/company?examine='.$_REQUEST['examine'])}">
		<div class="module_border_ajax">
			<div class="l">工作单位审核:</div>
			<div class="c">
				<input type="radio" name="status" value="1" />初审通过 <input type="radio" name="status" value="2" checked="checked" />初审不通过
			</div>
		</div>

		<div class="module_border_ajax">
			<div class="l">审核备注:</div>
			<div class="c">
				<textarea name="verify_remark" cols="45" rows="7"></textarea>
			</div>
		</div>
		<div class="module_border_ajax">
			<div class="l">验证码:</div>
			<div class="c">
				<input name="valicode" type="text" size="11" maxlength="4"
					tabindex="3" />
			</div>
			<div class="c">
				<img src="{:U('Index/verify','','')}" id="valicode1" alt="点击刷新" onClick="this.src='{:U('Index/verify','','')}/' + Math.random();" align="absmiddle" style="cursor: pointer" />
			</div>
		</div>

		<div class="module_submit_ajax">
			<input type="hidden" name="borrow_nid" value="{$Think.request.check}" />
			<input type="submit" name="reset" class="submit_button" value="审核此标" />
		</div>

	</form>
</div>

<else />
<div
	style="background-color: #ffffff; line-height: 30px; margin-bottom: 10px;">
	<span style="margin: 5px" class="ding_note"><a
		href="{:U('rating/educations')}">教育</a></span> <span style="margin: 5px"
		class="ding_note"><a href="{:U('rating/job')}">工作</a></span> <span
		style="margin: 5px" class="ding_note"><a
		href="{:U('rating/house')}">房产</a></span> <span style="margin: 5px"
		class="ding_note"><a href="{:U('rating/company')}">公司管理</a></span> <span
		style="margin: 5px" class="ding_note"><a href="{:U('rating/contact')}">联系方式</a></span>

</div>
<div class="module_add">
	<div class="module_title">
		<strong>公司资料</strong>
		<if condition="$Think.request.edit neq ''"> <span> <a
			href="{:U('rating/company')}"
			style="color: #45a7df; font-size: 16px;">(添加公司资料)</a>
		</span> <else /> &nbsp;&nbsp;<strong class="dogo_js_click cursor_pointer">(添加公司资料)</strong>
            </if>

	</div>
	<div style="margin-top: 10px;">
		<script>
                var edit = '{$Think.request.edit}';
                $(function(){
                    $('.dogo_js_click').click(function(){
                        $('.dogo_section').toggle("slow");
                    });
                    if(edit!=''){
                        $('.dogo_section').css('display','block');
                    }
                });
                
                </script>
		<div class="dogo_section" style="display: none;">

			<div style="border: 1px solid #CCCCCC;">

				<form action="{:U('rating/company')}" method="post">
					<div class="module_title">
						<strong> <if condition="$Think.request.edit neq ''">
							<input type="hidden" name="id" value="{$_A.rating_result.id}" />修改工作单位资料
							<else />添加工作单位资料</if></strong>
					</div>

					<div class="module_border">
						<div class="c">
							用 户 名 ：
							<if condition="$Think.request.edit neq ''">
							<input type="hidden" name="username" value="{$_A.rating_result.username}" />{$_A.rating_result.username}<else />
							<input type="text" name="username" /></if>
						</div>
					</div>

					<if condition="$Think.request.edit neq ''">
					<div class="module_border">
						<div class="c">
							状&nbsp;&nbsp;态：{$_A.rating_result.status|linkages="rating_approve_status",###}
						</div>
					</div>
					</if>


					<div class="module_border">
						<div class="c">
							公司名称：<input type="text" name="name"
								value="{$_A.rating_result.name}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							公司电话:<input type="text" name="tel"
								value="{$_A.rating_result.tel}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							公司地址:<input type="text" name="address"
								value="{$_A.rating_result.address}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							行业:<input type="text" name="hangye"
								value="{$_A.rating_result.hangye}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							执照号：<input type="text" name="license_num"
								value="{$_A.rating_result.license_num}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							税务号(地税)：<input type="text" name="tax_num_di"
								value="{$_A.rating_result.tax_num_di}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							税务号(国税)：<input type="text" name="tax_num_guo"
								value="{$_A.rating_result.tax_num_guo}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							租期：<input type="text" name="rent_time"
								value="{$_A.rating_result.rent_time}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							租金：<input type="text" name="rent_money"
								value="{$_A.rating_result.rent_money}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							人员规模：<input type="text" name="people"
								value="{$_A.rating_result.people}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							成立时间：<input type="text" name="time"
								value="{$_A.rating_result.time}" />
						</div>
					</div>
					<div class="module_border_ajax">
						<div class="c">
							验 证 码 ：<input name="valicode" type="text" size="11" maxlength="4" />

							<img src="{:U('Index/verify','','')}" id="valicode" alt="点击刷新" onClick="this.src='{:U('Index/verify','','')}/' + Math.random();" align="absmiddle" style="cursor: pointer" />
						</div>
					</div>


					<div class="module_border">
						<div class="c">
							<input type="submit" value="确认提交" class="submit_button" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div style="text-align: left">
		<div class="module_add">
			<div class="module_title">
				<strong>公司资料列表</strong>
			</div>
		</div>
		<table border="0" cellspacing="1" width="100%">
			<tr>
				<td width="" class="main_td">ID</td>
		<td width="" class="main_td">用户</td>
		<td width="*" class="main_td">公司名称</td>
		<td width="*" class="main_td">公司地址</td>
		<td width="*" class="main_td">租金</td>
		<td width="*" class="main_td">人员规模</td>
		<td width="*" class="main_td">租期</td>
		<td width="*" class="main_td">状态</td>
		<td width="*" class="main_td">操作</td>
			</tr>
			<foreach name="list" item="item">
			<tr>
				<td class="main_td1" align="center">{$item.id}</td>
				<td class="main_td1" align="center">{$item.username}</td>
				<td class="main_td1" align="center">{$item.name}</td>
				<td class="main_td1" align="center">{$item.address}</td>
				<td class="main_td1" align="center">{$item.rent_money}</td>
				<td class="main_td1" align="center">{$item.people}</td>
				<td class="main_td1" align="center">{$item.rent_time}</td>
				<td class="main_td1" align="center">{$item.status|linkages="rating_approve_status",###}</td>
				<td class="main_td1" align="center"><a href="javascript:void(0)" onclick='tipsWindown("工作单位审核","{:U('rating/company?examine='.$item['id'])}",500,230);'/>审核</a>/<a href="{:U('rating/company?edit='.$item['id'])}">修改</a>/<a href="#" onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U('rating/company?del='.$item['id'])}'">删除</a></td>
			</tr>
			</foreach>
			<tr>
				<td colspan="11" class="action">
					<div class="floatl">
						<script>
	  var url = "{:U('rating/company','','')}";
	  	function sousuo(){
			var username = $("#username").val();
			var email = $("#email").val();
			location.href=url+"/username/"+username+"/email/"+email;
		}
	  
	  </script>

					</div>
					<div class="floatr">
						{$MsgInfo.users_name_username}<input type="text" name="username"
							id="username" value="{$Think.request.username|urldecode}" /> <input
							type="button" value="{$MsgInfo.users_name_sousuo}"
							 onclick="sousuo()">
					</div>
				</td>
			</tr>
			<tr align="center">
				<td colspan="10" align="center"><div align="center">{$page}</div></td>
			</tr>

		</table>
		<!--菜单列表 结束-->
	</div>
</div>
</if>
<include file="$footer" />