<include file="$header" />
<if condition="$Think.request.examine neq ''">
<div style="height: 205px; overflow: hidden">
	<form name="form1" method="post" action="{:U('Rating/house?examine='.$_REQUEST['examine'])}">
		<div class="module_border_ajax">
			<div class="l">房产资料审核:</div>
			<div class="c">
				<input type="radio" name="status" value="1" />初审通过 <input type="radio" name="status" value="2" checked="checked" />初审不通过
			</div>
		</div>

		<div class="module_border_ajax">
			<div class="l">审核备注:</div>
			<div class="c">
				<textarea name="verify_remark" cols="45" rows="7"></textarea>
			</div>
		</div>
		<div class="module_border_ajax">
			<div class="l">验证码</div>
			<div class="c">
				<input name="valicode" type="text" size="11" maxlength="4" tabindex="3" />
			</div>
			<div class="c">
				<img src="{:U('admin/index/verify')}" id="valicode1" alt="点击刷新" onClick="this.src='{:U('Index/verify','','')}/' + Math.random();" align="absmiddle" style="cursor: pointer" />
			</div>
		</div>

		<div class="module_submit_ajax">
			<input type="hidden" name="borrow_nid" value="{$Think.request.check}" />
			<input type="submit" name="reset" class="submit_button" value="审核此标" />
		</div>

	</form>
</div>

<else />
<div
	style="background-color: #ffffff; line-height: 30px; margin-bottom: 10px;">
	<span style="margin: 5px" class="ding_note"><a href="{:U('rating/educations')}">教育</a></span> <span style="margin: 5px" class="ding_note"><a href="{:U('rating/job')}">工作</a></span> <span style="margin: 5px" class="ding_note"><a href="{:U('rating/house')}">房产</a></span> <span style="margin: 5px" class="ding_note"><a href="{:U('rating/company')}">公司管理</a></span> <span style="margin: 5px" class="ding_note"><a href="{:U('rating/contact')}">联系方式</a></span>

</div>
<div class="module_add">
	<div class="module_title">
		<strong>房产资料</strong>
		<empty name="Think.request.edit"> &nbsp;&nbsp;<strong
			class="dogo_js_click cursor_pointer">(添加房产资料)</strong> <else /> <span>
			<a href="__SELF__ " style="color: #45a7df; font-size: 16px;">(添加房产资料)</a>
		</span> </empty>

	</div>
	<div style="margin-top: 10px;">
		<script>
                var edit = '{$Think.request.edit}';
                $(function(){
                    $('.dogo_js_click').click(function(){
                        $('.dogo_section').toggle("slow");
                    });
                    if(edit!=''){
                        $('.dogo_section').css('display','block');
                    }
                });
                
                </script>
		<div class="dogo_section" style="display: none;">

			<div style="border: 1px solid #CCCCCC;">

				<form action="{:U('Rating/house')}" method="post">
					<div class="module_title">
						<strong><empty name="Think.request.edit">添加房产资料<input type="hidden" name="name" value="1" />
							<else />
							<input type="hidden" name="id" value="{$_A.rating_result.id}" />修改房产资料<input type="hidden" name="name" value="1" /></empty></strong>
					</div>

					<div class="module_border">
						<div class="c">
							用 户 名 ：
							<empty name="Think.request.edit">
							<input type="text" name="username" />
							<else />
							<input type="hidden" name="username"
								value="{$_A.rating_result.username}" />{$_A.rating_result.username}</empty>
						</div>
					</div>
					<notempty name="Think.request.edit">
					<div class="module_border">
						<div class="c">
							状&nbsp;&nbsp;态：{$_A.rating_result.status|linkages="rating_approve_status",###}
						</div>
					</div>
					</notempty>


					<div class="module_border">
						<div class="c">
							房产地址：<input type="text" name="address"
								value="{$_A.rating_result.address}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							建筑面积：<input type="text" name="areas" value="{$_A.rating_result.areas}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							建筑年份：<input type="text" name="in_year" value="{$_A.rating_result.in_year}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							供款状况：<input type="text" name="repay" value="{$_A.rating_result.repay}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							所有权人1：<input type="text" name="holder1" value="{$_A.rating_result.holder1}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							产权份额：<input type="text" name="right1" value="{$_A.rating_result.right1}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							所有权人：<input type="text" name="holder2" value="{$_A.rating_result.holder2}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							产权份额：<input type="text" name="right2" value="{$_A.rating_result.right2}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							贷款年限：<input type="text" name="load_year" value="{$_A.rating_result.load_year}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							每月供款：<input type="text" name="repay_month" value="{$_A.rating_result.repay_month}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							尚欠贷款余额：<input type="text" name="balance"
								value="{$_A.rating_result.balance}" />
						</div>
					</div>
					<div class="module_border">
						<div class="c">
							按揭银行：<input type="text" name="bank" value="{$_A.rating_result.bank}" />
						</div>
					</div>

					<div class="module_border_ajax">
						<div class="c">
							验 证 码 ：<input name="valicode" type="text" size="11" maxlength="4" />

							<img src="{:U('admin/index/verify')}" id="valicode" alt="点击刷新" onClick="this.src='{:U('Index/verify','','')}/' + Math.random();" align="absmiddle" style="cursor: pointer" />
						</div>
					</div>


					<div class="module_border">
						<div class="c">
							<input type="submit" value="确认提交" class="submit_button" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div style="text-align: left">
		<div class="module_add">
			<div class="module_title">
				<strong>房产资料列表</strong>
			</div>
		</div>
		<table border="0" cellspacing="1" width="100%">
			<tr>
				<td width="" class="main_td">ID</td>
		<td width="" class="main_td">用户</td>
		<td width="*" class="main_td">房产地址</td>
		<td width="*" class="main_td">建筑面积</td>
		<td width="*" class="main_td">建筑年份</td>
		<td width="*" class="main_td">每月供款</td>
		<td width="*" class="main_td">供款状况</td>
		<td width="*" class="main_td">贷款年限</td>
		<td width="*" class="main_td">尚欠余额</td>
		<td width="*" class="main_td">状态</td>
		<td width="*" class="main_td">操作</td>
			</tr>
			<foreach name="list" item="item">
			<tr>
				<td class="main_td1" align="center">{$item.id}</td>
				<td class="main_td1" align="center">{$item.username}</td>
				<td class="main_td1" align="center">{$item.address}</td>
				<td class="main_td1" align="center">{$item.areas}</td>
				<td class="main_td1" align="center">{$item.in_year}</td>
				<td class="main_td1" align="center">{$item.repay_month}</td>
				<td class="main_td1" align="center">{$item.repay}</td>
				<td class="main_td1" align="center">{$item.load_year}</td>
				<td class="main_td1" align="center">{$item.balance}</td>
				<td class="main_td1" align="center">{$item.status|linkages="rating_approve_status",###}</td>
				<td class="main_td1" align="center"><a href="javascript:void(0)" onclick='tipsWindown("房产资料审核","{:U('rating/house?examine='.$item['id'])}",500,230);'/>审核</a>/<a href="{:U('rating/house?edit='.$item['id'])}">修改</a>/<a href="#" onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U('rating/house?del='.$item['id'])}'">删除</a></td>
			</tr>
			</foreach>
			<tr>
				<td colspan="11" class="action">
					<div class="floatl">
						<script>
	  var url = "{:U('rating/house','','')}";
	  	function sousuo(){
			var username = $("#username").val();
			var email = $("#email").val();
			location.href=url+"/username/"+username+"/email/"+email;
		}
	  
	  </script>

					</div>
					<div class="floatr">
						{$MsgInfo.users_name_username}：<input type="text" name="username" id="username" value="{$Think.request.username|urldecode}" /> <input type="button" value="{$MsgInfo.users_name_sousuo}" onclick="sousuo()">
					</div>
				</td>
			</tr>
			<tr align="center">
				<td colspan="10" align="center"><div align="center">{$page}</div></td>
			</tr>
		</table>
		<!--菜单列表 结束-->
	</div>
</div>
</if>
<include file="$footer" />