<include file="$header" />
<div class="module_add">

	<form name="form1" method="post" action=""
		onsubmit="return check_form();" enctype="multipart/form-data">
		<div class="module_title">
			<strong>添加充值</strong>
		</div>

		<div class="module_border">
			<div class="l">用户名：</div>
			<div class="c">
				<input type="text" name="username" />
			</div>
		</div>
		<div class="module_border">
			<div class="l">类型：</div>
			<div class="c">
				线下充值<input type="hidden" name="type" />
			</div>
		</div>
		<div class="module_border">
			<div class="l">金额：</div>
			<div class="c">
				<input type="text" name="money" />
			</div>
		</div>

		<div class="module_border">
			<div class="l">备注：</div>
			<div class="c">
				<input type="text" name="remark" />
			</div>
		</div>

		<div class="module_submit">

			<input type="submit" name="reset" value="确认充值" />
		</div>
	</form>
</div>
<include file="$footer" />