<include file="$header" />
<if condition="ACTION_NAME  eq 'site'">
<form action="" method="post">
<div class="module_add">
	<div class="module_title"><strong>站点管理</strong>所属菜单：
	<select onchange="change_menu(this.value)" name="menu_id" id="menu_id">
	<foreach name="menu" item="item" >
	<option value="{$item.id}" <eq name="Think.request.menu_id" value="$item['id']">selected="selected"</eq>>{$item.name}</option>
	</foreach>
	</select>
	
	<input type="submit" value="修改排序" /></div>
</div>
<table  border="0"  cellspacing="1"   width="100%">
	<tr >
		<td width="" class="main_td">ID</td>
		<td width="" class="main_td">名称</td>
		<td width="*" class="main_td">别名</td>
		<td width="*" class="main_td">类型</td>
		<td width="*" class="main_td">状态</td>
		<td width="*" class="main_td">排序</td>
		<td width="*" class="main_td">操作</td>
	</tr>
	<foreach name="list" item="item" >
	<tr>
		<td class="main_td1" align="center">{$item.id}</td>
		<td class="main_td1" align="center">{$item.type_name}</td>
		<td class="main_td1" align="center">{$item.nid}</td>
		<td class="main_td1" align="center"><if condition="$item.type eq 'url'">跳转<elseif condition="$item.type eq 'article'"/>文章<elseif condition="$item.type eq 'page'"/>页面<else/>模块</if></td>
		<td class="main_td1" align="center"><eq name="item.status" value="1">显示<else/>隐藏</eq></td>
		<td class="main_td1" align="center"><input type="text" size="5" value="{$item.order}" name="order[]" /><input type="hidden"  value="{$item.id}" name="id[]" /></td>
		<td class="main_td1" align="center"><a href="{:U('System/sitenew?action='.$item['type'].'&edit='.$item['id'])}">修改</a>/<a href="#" onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U('System/sitenew?action='.$item['type'].'&menu_id='.$item['menu_id'].'&del='.$item['id'])}'">删除</a></td>
	</tr>
	</foreach>
</table>
<!--菜单列表 结束-->
</form>
<script language="javascript">
var url = "{:U('System/site','','')}";

 function change_menu(obj){
  window.location.href=url+"/menu_id/"+obj
 }
</script>
<elseif condition="ACTION_NAME  eq 'sitenew'"/>


<script language="javascript">
var url = "{:U('System/sitenew?action='.$_REQUEST['action'],'','')}";

 function change_menu(obj){
  window.location.href=url+"/menu_id/"+obj
 }
</script>

<ul class="nav3"> 
<li><a href="{:U('System/sitenew?action=article','','')}" id="c_so">文章站点</a></li> 
<li><a href="{:U('System/sitenew?action=page','','')}" id="c_so">页面站点</a></li> 
<li><a href="{:U('System/sitenew?action=url','','')}" id="c_so">跳转站点</a></li> 
</ul> 
<div class="module_add">
	<form action="{:U('System/sitenew?action='.$_REQUEST['action'],'','')}" method="post">
	
	<div style="border:1px solid #CCCCCC;">
 <if condition="$Think.request.action eq 'url'"> 
	<div class="module_title"><strong>
   <empty name="Think.request.edit">添加跳转地址<else/><input type="hidden" name="id" value="{$_A.site_result.id}" />修改跳转地址 （<a href="__SELF__ ">添加</a>)</empty>
   <input type="hidden" name="type" value="url" /></strong> (
	<select onchange="change_menu(this.value)" name="menu_id" id="menu_id">
	<foreach name="Menu" item="item" >
	<option value="{$item.id}" <switch name="item.id" ><case value="$_REQUEST['menu_id']">selected="selected"</case><case value="$_G['site_menu_id']">selected="selected"</case></switch>>{$item.name}</option>
	</foreach>
	</select>)</div>
	
	
	<div class="module_border">
		<div class="l">名&nbsp;&nbsp;称：</div>
		<div class="c">
			<input type="text" name="name" value="{$_A.site_result.name}"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">别&nbsp;&nbsp;名：</div>
		<div class="c">
			<input type="text" name="nid" value="{$_A.site_result.nid}"  onkeyup="value=value.replace(/[^a-z0-9_]/g,'')"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">地&nbsp;&nbsp;址：</div>
		<div class="c">
			<input type="text" name="value" value="{$_A.site_result.value}"/>
		</div>
	</div>
	
	
	<div class="module_border">
		<div class="l">父&nbsp;&nbsp;级：</div>
		<div class="c">
			<select name="pid">
			<option value='0'>根目录</option>
			<foreach name="sites" item="item" >
			<option value="{$item.id}" <eq name="item.id" value="$_A['site_result']['pid']">{selected="selected"</eq>>{$item._name}</option>
			</foreach>
			</select>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">排&nbsp;&nbsp;序：</div>
		<div class="c">
			<input type="text" name="order" value="{$_A.site_result.order|default=10}" size="6"/>
		</div>
	</div>
 <elseif condition="$Think.request.action eq 'code'"/>
	
	<div class="module_title"><strong><empty name="Think.request.edit">添加模块站点<else/><input type="hidden" name="id" value="{$_A.site_result.id}" />修改模块栏目 （<a href="__SELF__ ">添加</a>）</empty><input type="hidden" name="type" value="code" /></strong> (
	<select onchange="change_menu(this.value)" name="menu_id" id="menu_id">
	<foreach name="Menu" item="item" >
	<option value="{$item.id}" <switch name="item.id" ><case value="$_REQUEST['menu_id']">selected="selected"</case><case value="$_G['site_menu_id']">selected="selected"</case></switch>>{$item.name}</option>
	</foreach>
	</select>)</div>
	<div class="module_border">
		<div class="l">名&nbsp;&nbsp;称：</div>
		<div class="c">
			<input type="text" name="name" value="{$_A.site_result.name}"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">别&nbsp;&nbsp;名：</div>
		<div class="c">
			<input type="text" name="nid" value="{$_A.site_result.nid}"  onkeyup="value=value.replace(/[^a-z0-9_]/g,'')"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">所属模块：</div>
		<div class="c"><tagLib name="zi"/>
			<zi:select result="_G['module']" name="name" value="nid" select_name="value" selected="_A['credit_type_result']['code']" />
		</div>
	</div>
	
	
	<div class="module_border">
		<div class="l">父&nbsp;&nbsp;级：</div>
		<div class="c">
			<select name="pid">
			<option>根目录</option>
            <foreach name="sites" item="item" >
			<option value="{$item.id}" <eq name="_A.site_result.pid" value="$item['id']"> selected="selected"</eq>>{$item._name}</option>
			</foreach>
			</select>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">排&nbsp;&nbsp;序：</div>
		<div class="c">
			<input type="text" name="order" value="{$_A.site_result.order|default=10}" size="6"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">首页模板：</div>
		<div class="c">
			<input type="text" name="index_tpl" value="{$_A.site_result.index_tpl}" size="15"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">列表模板：</div>
		<div class="c">
			<input type="text" name="list_tpl" value="{$_A.site_result.list_tpl}" size="15"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">文章模板：</div>
		<div class="c">
			<input type="text" name="content_tpl" value="{$_A.site_result.content_tpl}" size="15"/>
		</div>
	</div>	
	
	<div class="module_border">
		<div class="l">关键字 ：</div>
		<div class="c">
			<input type="text" name="keywords" value="{$_A.site_result.keywords}" size="20"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">站点描述 ：</div>
		<div class="c">
			<textarea cols="30" rows="4" name="description">{$_A.site_result.description}</textarea>
		</div>
	</div>
	
<elseif condition="($Think.request.action eq 'article') OR ($Think.request.action eq '')"/>
	
	<div class="module_title"><strong><empty name="Think.request.edit">添加文章站点<else/><input type="hidden" name="id" value="{$_A.site_result.id}" />修改文章站点 （<a href="__SELF__ ">添加</a>）</empty><input type="hidden" name="type" value="article" /></strong> (
	<select onchange="change_menu(this.value)" name="menu_id" id="menu_id">
	<foreach name="Menu" item="item" >
	<option value="{$item.id}" <switch name="item.id" ><case value="$_REQUEST['menu_id']">selected="selected"</case><case value="$_G['site_menu_id']">selected="selected"</case></switch>>{$item.name}</option>
	</foreach>
	</select>)</div>
	
	<div class="module_border">
		<div class="l">名&nbsp;&nbsp;称：</div>
		<div class="c">
			<input type="text" name="name" value="{$_A.site_result.name}"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">别&nbsp;&nbsp;名：</div>
		<div class="c">
			<input type="text" name="nid" value="{$_A.site_result.nid}"  onkeyup="value=value.replace(/[^a-z0-9_]/g,'')"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">分类栏目：</div>
		<div class="c">
			<select name="value">
			<foreach name="TypeMenu" item="item" >
			
			<option value="{$item.id}" <if condition="$_A['site_result']['value'] eq $item['id']">selected="selected"</if>>{$item._name}</option>
			
			</foreach>
			</select>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">	父&nbsp;&nbsp;级：</div>
		<div class="c">
			<select name="pid">
			<option>根目录</option>
            <foreach name="sites" item="item" >
			<option value="{$item.id}" <eq name="_A.site_result.pid" value="$item['id']">selected="selected"</eq>>{$item._name}</option>
			</foreach>
			</select>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">排&nbsp;&nbsp;序：</div>
		<div class="c">
			<input type="text" name="order" value="{$_A.site_result.order|default=10}" size="6"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">首页模板：</div>
		<div class="c">
			<input type="text" name="index_tpl" value="{$_A.site_result.index_tpl}" size="15"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">列表模板：</div>
		<div class="c">
			<input type="text" name="list_tpl" value="{$_A.site_result.list_tpl}" size="15"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">文章模板：</div>
		<div class="c">
			<input type="text" name="content_tpl" value="{$_A.site_result.content_tpl}" size="15"/>
		</div>
	</div>	
	
	<div class="module_border">
		<div class="l">关键字 ：</div>
		<div class="c">
			<input type="text" name="keywords" value="{$_A.site_result.keywords}" size="20"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">站点描述 ：</div>
		<div class="c">
			<textarea cols="30" rows="4" name="description">{$_A.site_result.description}</textarea>
		</div>
	</div>
	
<elseif condition="$Think.request.action eq 'page'"/>	
	<div class="module_title"><strong><empty name="Think.request.edit">添加页面站点<else/><input type="hidden" name="id" value="{$_A.site_result.id}" />修改页面站点 （<a href="__SELF__ ">添加</a>）</empty><input type="hidden" name="type" value="page" /></strong> (
	<select onchange="change_menu(this.value)" name="menu_id" id="menu_id">
	<foreach name="Menu" item="item" >
	<option value="{$item.id}" <switch name="item.id" ><case value="$_REQUEST['menu_id']">selected="selected"</case><case value="$_G['site_menu_id']">selected="selected"</case></switch>>{$item.name}</option>
	</foreach>
	</select>)</div>
	<div class="module_border">
	
	<div class="module_border">
		<div class="l">名&nbsp;&nbsp;称：</div>
		<div class="c">
			<input type="text" name="name" value="{$_A.site_result.name}"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">别&nbsp;&nbsp;名：</div>
		<div class="c">
			<input type="text" name="nid" value="{$_A.site_result.nid}"  onkeyup="value=value.replace(/[^a-z0-9_]/g,'')"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">所属页面：</div>
		<div class="c">
			<select name="value">
			<foreach name="PageMenu" item="item" >
			
			<option value="{$item.id}" <if condition="$_A['site_result']['value'] eq $item['id']"> selected="selected"</if>>{$item._name}</option>
			
			</foreach>
			</select>
		</div>
	</div>
	
	
	<div class="module_border">
		<div class="l">父&nbsp;&nbsp;级：</div>
		<div class="c">
			<select name="pid">
			<option>根目录</option>
			<foreach name="sites" item="item" >
			<option value="{$item.id}" <if condition="$_A['site_result']['pid'] eq $item['id']"> selected="selected"</if>>{$item._name}</option>
			</foreach>
			</select>
		</div>
	</div>
	<div class="module_border">
		<div class="l">排&nbsp;&nbsp;序：</div>
		<div class="c">
			<input type="text" name="order" value="{$_A.site_result.order|default=10}" size="6"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">首页模板：</div>
		<div class="c">
			<input type="text" name="index_tpl" value="{$_A.site_result.index_tpl}" size="15"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">列表模板：</div>
		<div class="c">
			<input type="text" name="list_tpl" value="{$_A.site_result.list_tpl}" size="15"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">文章模板：</div>
		<div class="c">
			<input type="text" name="content_tpl" value="{$_A.site_result.content_tpl}" size="15"/>
		</div>
	</div>	
	
	<div class="module_border">
		<div class="l">关键字 ：</div>
		<div class="c">
			<input type="text" name="keywords" value="{$_A.site_result.keywords}" size="20"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">站点描述 ：</div>
		<div class="c">
			<textarea cols="30" rows="4" name="description">{$_A.site_result.description}</textarea>
		</div>
	</div>
</if>
	
	<div class="module_border">
		<div class="l">显&nbsp;&nbsp;示：</div>
		<div class="c"><tagLib name="zi" />
			<zi:input type="radio" name="status" value="1|显示,0|隐藏" checked="_A['site_result']['status']"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="l">备&nbsp;&nbsp;注：</div>
		<div class="c">
			<textarea cols="30" rows="5" name="remark">{$_A.site_result.remark}</textarea>
		</div>
	</div>
	
	
	<div class="module_submit"><input type="submit" value="确认提交"  class="xinbuton" class="submit_button" /></div>
	
	</form>
	</div>
</div>
<!--菜单列表 结束-->
<elseif condition="ACTION_NAME  eq 'sitemenu'"/>

<div class="module_add">
	<div class="module_title"><strong>菜单管理</strong>
      <empty name="Think.request.edit">  &nbsp;&nbsp;<strong class="dogo_js_click cursor_pointer">(添加菜单)</strong><else/>
            <span>
                <a href="{:U('System/sitemenu')}" style="color: #45a7df;font-size: 16px;">(添加菜单)</a>
            </span>
           </empty>
        </div>
    <script>
                var edit = '{$Think.request.edit}';
               
                $(function(){
                    $('.dogo_js_click').click(function(){
                        $('.dogo_section').toggle("slow");
                    });
                    if(edit!=''){
                        $('.dogo_section').css('display','block');
                    }
                });
                </script>
	<div style="margin-top:10px;">
	<div class="dogo_section" style="display:none;">
		
	<div style="border:1px solid #CCCCCC; ">
	
	<form action="{:U('System/sitemenu')}" method="post">
	<div class="module_title">
            <strong><empty name="Think.request.edit">添加菜单<else/>
                <input type="hidden" name="id" value="{$_A.site_menu_result.id}" />修改菜单
                </empty>
            </strong>
        </div>
	<div class="module_border">
		<div class="c">
			名&nbsp;&nbsp;称：<input type="text" name="name" value="{$_A.site_menu_result.name}"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="c">
			别&nbsp;&nbsp;名：<input type="text" name="nid" value="{$_A.site_menu_result.nid}" onkeyup="value=value.replace(/[^a-z0-9_]/g,'')"/>
		</div>
	</div>
	
	<div class="module_border">
		<div class="c">
			排&nbsp;&nbsp;序：<input type="text" name="order" value="{$_A.site_menu_result.order|default=10}" size="6" onkeyup="value=value.replace(/[^0-9]/g,'')"/>
		</div>
	</div>
	<eq name="_A.site_menu_result.checked" value="1">
	
	<div class="module_border">
		<div class="c">
			默&nbsp;&nbsp;认：<tagLib name="zi" /> <zi:input type="radio" name="checked" value="0|否,1|是" checked="_A.site_menu_result.checked"/>
		</div>
	</div>
	<else/>
	<input type="hidden" name="checked" value="1" />
	</eq>
	<div class="module_border">
		<div class="c">
			内&nbsp;&nbsp;容：<textarea cols="30" rows="5" name="contents">{$_A.site_menu_result.contents}</textarea>
		</div>
	</div>
	
	<div class="module_border_ajax" >
		<div class="c">
			验证码：<input name="valicode" type="text" size="11" maxlength="4"/>
		
			<img src="{:U('admin/index/verify')}" id="valicode" alt="点击刷新" onClick="this.src='{:U('Index/verify','','')}/' + Math.random();" align="absmiddle" style="cursor:pointer" />
		</div>
	</div>
	<div class="module_border">
		<div class="c">
			<input type="submit" value="确认提交"  class="xinbuton"  class="submit_button" />
		</div>
	</div>
	
		</form>
	</div>
	</div>
		</div>
	<div style=" text-align:left">
	<div class="module_add">
	<div class="module_title"><strong>菜单列表</strong></div>
	</div>
<table  border="0"  cellspacing="1"   width="100%">
	<tr >
		<td width="" class="main_td">ID</td>
		<td width="" class="main_td">名称</td>
		<td width="*" class="main_td">别名</td>
		<td width="*" class="main_td">排序</td>
		<td width="*" class="main_td">是否默认</td>
		<td width="*" class="main_td">操作</td>
	</tr>
	<foreach name="list" item="item" >
	<tr>
		<td class="main_td1" align="center">{$item.id}</td>
		<td class="main_td1" align="center">{$item.name}</td>
		<td class="main_td1" align="center">{$item.nid}</td>
		<td class="main_td1" align="center">{$item.order}</td>
		<td class="main_td1" align="center"><eq name="item.checked" value="1">是<else/><a href="{:U('System/sitemenu?checked='.$item['id'])}" title="设为默认">否</a></eq></td>
		<td class="main_td1" align="center"><a href="{:U('System/site?menu='.$item['id'])}">查看站点</a>/<a href="{:U('System/sitemenu?edit='.$item['id'])}">修改</a>/<a href="#" onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U('System/sitemenu?del='.$item['id'])}'">删除</a></td>
	</tr>
	</foreach>
	
</table>
<!--菜单列表 结束-->
</div>
</div>

</if>
</div><include file="$footer" />

