<include file="$header" />
<form name="form1" method="post" action="" enctype="multipart/form-data">
	<div class="module_title">
		<strong>添加滚动图片</strong>
	</div>

	<div class="module_border">
		<div class="l">标题：</div>
		<div class="c">
			<input type="text" name="name" class="input_border"
				value="{$info.name}" size="30">
		</div>
	</div>

	<div class="module_border">
		<div class="l">类别：</div>
		<div class="c">
			<select name="type_id">
				<foreach name="scrotype" item="vo">
				<option value="{$vo.id}">{$vo.typename}</option>
				</foreach>


			</select>
		</div>
	</div>

	<div class="module_border">
		<div class="l">状态：</div>
		<div class="c">
			<input type="radio" name="status" value="0" checked="checked">隐藏
			<input type="radio" name="status" value="1" checked="checked">显示
		</div>
	</div>

	<div class="module_border">
		<div class="l">排序：</div>
		<div class="c">
			<input type="text" name="order" class="input_border" value="10"
				size="10">
		</div>
	</div>

	<div class="module_border">
		<div class="l">上传图片:</div>
		<div class="c">
			<input type="file" name="pic" class="input_border" size="20">
			<notempty name="info.pic">
			<a href="{$info.pic}" target="_blank" title="有图片"><img src="/template/admin/images/ico_1.jpg" border="0" /></a></notempty>
		</div>
	</div>

	<div class="module_border">
		<div class="l">链接地址:</div>
		<div class="c">
			<input type="text" name="url" class="input_border" value="" size="30">请填写url地址
		</div>
	</div>

	<div class="module_border">
		<div class="l">简介:</div>
		<div class="c">
			<textarea name="summary" cols="40" rows="5"></textarea>
		</div>
	</div>

	<div class="module_submit">
		<input type="submit" name="submit" value="确认提交"> <input
			type="reset" name="reset" value="重置表单">
	</div>
</form>
<include file="$footer" />