<include file="$header" />
<ul class="nav3">
	<li><a href="{:U('system/info')}" id="c_so">系统参数</a></li>
	<foreach name="list" item="var">
	<li><a href="{:U('system/info?type_id='.$var['id'].'&name='.$var['name'])}" id="c_so">{$var.name}</a></li>
	</foreach>
</ul><literal>
<style type="text/css">
.main_td1{ height:30px;}
</style></literal>
<if condition="$Think.request.type_id eq ''">

<div class="module_add">
	<form action="" method="post" enctype="multipart/form-data">
		<div class="module_title">
			<strong>{$MsgInfo.admin_system_name}</strong>
		</div>


		<div class="module_border">
			<div class="d">{$MsgInfo.admin_system_con_webname}：</div>
			<div class="c">
				<input type="text" name="con_webname"
					value="{$_G.system.con_webname}" />
			</div>
		</div>

		<div class="module_border">
			<div class="d">{$MsgInfo.admin_system_con_weburl}：</div>
			<div class="c">
				<input type="text" name="con_weburl" value="{$_G.system.con_weburl}" />
			</div>
		</div>

		<div class="module_border">
			<div class="d">{$MsgInfo.admin_system_con_webpath}：</div>
			<div class="c">
				<input type="text" name="con_webpath"
					value="{$_G.system.con_webpath}" />
			</div>
		</div>

		<div class="module_border">
			<div class="d">网站logo：</div>
			<div class="c">
				<input type="file" name="pic"  class="input_border" size="20" />  <notempty name="_G.system.con_logo"> <a href="{$_G.system.con_logo}" target="_blank" title="有图片"><img src="{$tpldir}/images/ico_1.jpg" border="0"  /></a></notempty>
			</div>
		</div>
		<div class="module_border">
			<div class="d">{$MsgInfo.admin_system_con_beian}：</div>
			<div class="c">
				<input type="text" name="con_beian" value="{$_G.system.con_beian}" />
			</div>
		</div>

	

		<div class="module_border">
			<div class="d">微博地址：</div>
			<div class="c">
				<input type="text" name="con_weibourl" value="{$_G.system.con_weibourl}" />
			</div>
		</div>
		<div class="module_border">
			<div class="d">联系电话：</div>
			<div class="c">
				<input type="text" name="con_contact"
					value="{$_G.system.con_contact}" />
			</div>
		</div>
		<div class="module_border">
			<div class="d">联系邮箱：</div>
			<div class="c">
				<input type="text" name="con_sysemail"
					value="{$_G.system.con_sysemail}" />
			</div>
		</div>
		<div class="module_border">
			<div class="d">公司名称：</div>
			<div class="c">
				<input type="text" name="con_compay_name"
					value="{$_G.system.con_compay_name}" />
			</div>
		</div>
		<div class="module_border">
			<div class="d">网站版权信息：</div>
			<div class="c">
				<input type="text" name="con_recordInfo"
					value="{$_G.system.con_recordInfo}" />
			</div>
		</div>
		<div class="module_border">
			<div class="d">公司地址：</div>
			<div class="c">
				<input type="text" name="con_compAddress"
					value="{$_G.system.con_compAddress}" />
			</div>
		</div>
		<div class="module_border">
			<div class="d">在线客服：</div>
			<div class="c">
				<textarea name="con_qqkf" cols="50" placeholder="" rows="5">{$_G.system.con_qqkf}</textarea>
				请用"|"隔开填写号码
			</div>
		</div>

		<div class="module_border" style="border: none;">
			<div class="d">官方群号:</div>
			<div class="c">
				<textarea name="con_qqgroup" cols="50" placeholder="" rows="5">{$_G.system.con_qqgroup}</textarea>
				请用"|"隔开填写号码
			</div>
		</div>

		<div class="module_border" style="border: none;">
			<div class="d">网站关键字：</div>
			<div class="c">
				<textarea name="con_keywords" cols="50" rows="5">{$_G.system.con_keywords}</textarea>
			</div>
		</div>

		<div class="module_border" style="border: none;">
			<div class="d">网站描述：</div>
			<div class="c">
				<textarea name="con_description" cols="50" rows="5">{$_G.system.con_description}</textarea>
			</div>
		</div>
		<div class="module_border" style="border: none;">
			<div class="d">{$MsgInfo.admin_system_con_webopen}：</div>
			<div class="c">
				<tagLib name="zi" />
				<zi:input type="radio" name="con_webopen" value="1|是,0|否" checked="_G.system.con_webopen" />

			</div>

		</div>

		<div class="module_border" style="border: none;">
			<div class="d">{$MsgInfo.admin_system_con_closemsg}：</div>
			<div class="c">
				<textarea name="con_closemsg" cols="50" rows="5">{$_G.system.con_closemsg}</textarea>
			</div>
		</div>

		<div class="module_border" style="border: none;">
			<div class="d">{$MsgInfo.admin_system_con_tongji}：</div>
			<div class="c">
				<textarea name="con_tongji" cols="50" rows="5">{$_G.system.con_tongji}</textarea>
			</div>
		</div>

		<div class="module_border" style="border: none;">
			<div class="d"></div>
			<div class="c">
				<div class="module_submit" style="margin: 30px 0">
					<input type="submit" value="{$MsgInfo.admin_name_submit}" />
				</div>
			</div>
		</div>



	</form>
</div>
<elseif condition="$Think.request.type_id neq ''" />


<div class="module_add">
	<div class="module_title">
		<strong>{$Think.request.name|urldecode}参数</strong>
	</div>
</div>
<table border="0" cellspacing="1" width="100%">
	<form action="" method="post">
		<tr>
			<td width="32%" class="main_td">参数名称</td>
			<td width="*" class="main_td">参数值</td>


		</tr>
		<foreach name="_G._system" item="item"> <if
			condition="$item.type_id eq $_REQUEST['type_id']">
		<tr
			<if condition="$key%2 eq 1"> class="tr2"</if>
			>
			<td class="main_td1"><input type="text"
				value="{$item.name|br2nl}" name="name[{$item.nid}]"
				style="font-family: '微软雅黑'; font-size: 12px; padding: 0 10px" /></td>
			<td align="left" class="main_td1"><if condition="$item.type eq 0"> <input id="editor" type="text/plain" type="text" value="{$item.value|br2nl}" name="value[{$item.nid}]" /> <elseif condition="$item.type eq 2" />
				<textarea id="editor" type="text/plain" style="height: 200px;" name="value[{$item.nid}]" cols="30" rows="4">{$item.value|br2nl}</textarea>
				<elseif condition="$item.type eq 3" /> <input name="value[{$item.nid}]" value="{$item.value|br2nl}" size="15">
				<INPUT onclick="uploadImg('value[{$item.nid}]');" type=button value=上传图片...> <else /> <input type="radio"
					name="value[{$item.nid}]" value="1"
				<if condition="$item.value eq 1">checked="checked"</if> /> 是 <input type="radio" name="value[{$item.nid}]" value="0"
				<if condition="$item.value eq 0">checked="checked"</if>/> 否 </if></td>

		</tr>
		</if> </foreach>
		<tr>
			<td colspan="7" class="submit"><input type="submit"
				value="确认修改" /></td>
		</tr>
	</form>
</table>
</if>




<script>
function change(val){
if (val==0){
	document.getElementById("text_v").style.display ="";
	document.getElementById("option_v").style.display ="none";
}else{
	document.getElementById("text_v").style.display ="none";
	document.getElementById("option_v").style.display ="";
}
}
function check_form(){
var frm = document.forms['form1'];
 var title = frm.elements['name'].value;
 var nid = frm.elements['nid'].value;
 var errorMsg = '';
  if (title.length == 0 ) {
	errorMsg += '参数名称必须填写' + '\n';
  }
  if (nid.length == 0 ) {
	errorMsg += '变量名必须填写' + '\n';
  }
  if (errorMsg.length > 0){
	alert(errorMsg); return false;
  } else{  
	return true;
  }
}
</script>


<include file="$footer" />