<include file="$header" />
<div class="module_add">
	<div class="module_title"><strong><font color="#FF0000">{$Think.request.username}</font>投资记录</strong></div>
</div>
<table  border="0"  cellspacing="1"   width="100%">
	  <form action="" method="post">
		<tr >
			<td class="main_td">ID</td>
			<td class="main_td">投资人</td>
			<td class="main_td">投资金额</td>
			<td class="main_td">投资时间</td>
			<td class="main_td">投资状态</td>
			<td width="" class="main_td">审核状态</td>
			<td class="main_td">借款标</td>
			<td class="main_td">借款标识名</td>
			<td width="" class="main_td">借款总额</td>
			<td class="main_td">自动投标</td>
		</tr>

		<foreach name="list" item="item" >
		<tr >
			<td >{$item.id}</td>
			<td class="main_td1" align="center"><a href="javascript:void(0)" onclick='tipsWindown("用户详细信息查看","{:U('Users/views?user_id'.$item['user_id'])}",700,400");'>	{$item.username}</a></td>
			<td>￥{$item.account}</td>
			<td>{$item.addtime|date="Y-m-d H:i:s",###}</td>
			<td><eq name="item.status" value="0">等待满标<else/>{$item.status|linkages="borrow_tender_status",###}</eq></td>
			<td>{$item.tender_status|linkages="borrow_tender_verify_status",###}</td>
			<td><a href="{:U('Borrow/views?nid='.$item['borrow_nid'])}">{$item.borrow_name}</a></td>
			<td>{$item.borrow_nid}</td>
			<td>￥{$item.borrow_account}</td>
			<td>{$item.auto_status|linkages="borrow_tender_auto_status",###}</td>
		</tr>
		</foreach>
		<tr>
		<td colspan="9" class="action">
		<div class="floatl">
			投资总额：{$account_tender}元 	预计获得收益：{$recover_account_interest}元
		</div>
		<div class="floatr">
			 标题：<input type="text" name="borrow_name" id="borrow_name" value="{$Think.request.borrow_name|urldecode}" size="8"/> 用户名：<input type="text" name="username" id="username" value="{$Think.request.username|urldecode}" size="8"/>贷款号：<input type="text" name="borrow_nid" id="borrow_nid" value="{$Think.request.borrow_nid}" size="8"/> 状态<select id="status"  name="status"><option value="">全部</option><option value="1" <eq name="Think.request.status" value="1">selected="selected"</eq>>已通过</option><option value="0" <eq name="Think.request.status" value="0">selected="selected"</eq>>未通过</option></select>  <input type="submit" value="搜索" class="submit" >
			 
			
		</div>
		</td>
		</tr>
		<tr>
			<td colspan="9" class="page">
			{$page} 
			</td>
		</tr>
	
	</form>	
</table>

<include file="$footer" />