<include file="$header" />
<div class="module_add">
	<div class="module_title">
		<strong>用户信息</strong>
	</div>
</div>
<table border="0" cellspacing="1" width="100%">
	<tr>
		<td width="" class="main_td">ID</td>
		<td width="*" class="main_td">用户名</td>
		<td width="*" class="main_td">用户类型</td>
		<td width="*" class="main_td">头像</td>
		<td width="*" class="main_td">用户状态</td>
		<td width="*" class="main_td">邀请人</td>
		<td width="*" class="main_td">查看详情</td>
	</tr>
	<foreach name="list" item="item">
	<tr>
		<td class="main_td1" align="center">{$item.user_id}</td>
		<td class="main_td1" align="center">{$item.username}</td>
		<td class="main_td1" align="center">{$item.type_name}</td>
		<td class="main_td1" align="center"><img src="{$item.user_id|avatar}" width="30" height="30" /></td>
		<td class="main_td1" align="center"><if condition="$item.status eq 1">正常<elseif condition='$item.status eq 0' />申请<elseif condition='$item.status eq 2' />锁定</if></td>
		<td class="main_td1" align="center">{$item.invite_username|default='-'}</td>
		<td class="main_td1" align="center"><a href="{:U('Users/viewinfo?user_id='.$item['user_id'])}">查看</a> <a href="{:U('Users/info_edit?user_id='.$item['user_id'])}">修改</a></td>

	</tr>
	</foreach>
	<tr>
		<td colspan="11" class="action">
			<div class="floatl">
				<script>
	  var url = "{:U('Users/info','','')}";
	   
	  	function sousuo(){
	  		var sou='';
			var username = $("#username").val();
			var email = $("#email").val();
			if (username!=''&&username!=null){
				 sou += "/username/"+username;
			}
			if (email!=''&&email!=null){
				 sou += "/email/"+email;
			}
			location.href=url+sou;
		}
	  
	  </script>
			</div>
			<div class="floatr">
				{$MsgInfo.users_name_username}：<input type="text" name="username" id="username" value="{$Think.request.username|urldecode}" />
				{$MsgInfo.users_name_email}：<input type="text" name="email" id="email" value="{$Think.request.email}" /> <input type="button" value="{$MsgInfo.users_name_sousuo}" / onclick="sousuo()">
			</div>
		</td>
	</tr>
	<tr align="center">
		<td colspan="10" align="center"><div align="center">{$page}</div></td>
	</tr>
</table>
<include file="$footer" />