<include file="$header" /><ul class="nav3">
	<li><a href="{:U('borrow/change')}">所有转让</a></li>
	<li><a href="{:U('borrow/change?status=4')}">转让网站</a></li>
	<li><a href="{:U('borrow/change?status=2')}">正在转让</a></li>
	<li><a href="{:U('borrow/change?status=5')}">撤销</a></li>
	<li><a href="{:U('borrow/change?status=1')}">转让成功</a></li>
	<li><a href="{:U('borrow/change?status=1&web=1')}">转让网站统计</a></li>
	<li><a href="{:U('borrow/web_repay_no')}">网站应收明细账</a></li>
</ul>
<div class="module_add">
	<div class="module_title">
		<strong>网站应收明细账</strong>
	</div>
</div>
<table border="0" cellspacing="1" width="100%">
	<form action="" method="post">
		<tr class="ytit1">
			<td>借款标题</td>
			<td>应收日期</td>
			<td>借款者</td>
			<td>第几期/总期数</td>
			<td>收款总额</td>
			<td>应收本金</td>
			<td>应收利息</td>
			<td>逾期罚息</td>
			<td>逾期天数</td>
			<td>状态</td>
		</tr>
        <foreach name="list" item="item" >
		<tr>
			<td><a href="{:U('Index/Index/index?site=full_success&nid='.$item['borrow_nid'])}" target="_blank" title="{$item.borrow_name}">{$item.borrow_name}</a></td>
			<td>{$item.recover_time|date="Y-m-d",###}</td>
			<td><a href="{:U('Users/views?user_id='.$item['borrow_userid'].'&type=scene')}" target="_blank">{$item.borrow_username}</a></td>
			<td>{$item.recover_period+1}/{$item.borrow_period}</td>
			<td>￥{$item.recover_account }</td>
			<td>￥{$item.recover_capital }</td>
			<td>￥{$item.recover_interest }</td>
			<td>￥{$item.late_interest|default=0 }</td>
			<td>{$item.late_days|default=0 }天</td>
			<td><if condition="$item.recover_web eq 1">网站垫付<else/>
            <eq name="item.recover_status" value="1"><font color="#666666">已还</font><else/><font
				color="#FF0000">未还</font></eq></if>
			</td>
		</tr>
		</foreach>
		<tr>
			<td colspan="14" class="action">
				<div class="floatl">已还总计：{$all_recover|default=0.00}元</div>
				<div class="floatr">
					应收时间：<input type="text" name="dotime1" id="dotime1" <empty name="Think.request.dotime1"> value=''<else /> value="{$Think.request.dotime1|date="Y-m-d",###}"</empty> size="15" onclick="laydate())" /> 到 <input type="text" name="dotime2" <empty name="Think.request.dotime2"> value=''<else /> value="{$Think.request.dotime2|date="Y-m-d",###}"</empty> id="dotime2" size="15" onclick="laydate())" /> 状态：<select name="recover_status" id="recover_status">
                        <option value="">不限</option>
						<option value="1" <eq name="Think.request.recover_status" value="1">selected="selected"</eq>>已还</option>
						<option value="2" <eq name="Think.request.recover_status" value="2">selected="selected"</eq>>未还</option></select>
					<input type="button" value="搜索" / onclick="sousuo('{:U(CONTROLLER_NAME.'/'.ACTION_NAME,'','')}')">
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="14" class="page">{$page}</td>
		</tr>
		
	</form>
</table>
<script>

function sousuo(url){
	var sou = "";
	var username = $("#username").val();
	if (username!="" && username!=null){
		sou += "/username/"+username;
	}
	var keywords = $("#keywords").val();
	if (keywords!="" && keywords!=null){
		sou += "/keywords/"+keywords;
	}
	var borrow_name = $("#borrow_name").val();
	if (borrow_name!="" && borrow_name!=null){
		sou += "/borrow_name/"+borrow_name;
	}
	var borrow_nid = $("#borrow_nid").val();
	if (borrow_nid!="" && borrow_nid!=null){
		sou += "/borrow_nid/"+borrow_nid;
	}
	var dotime1 = $("#dotime1").val();
	if (dotime1!="" && dotime1!=null){
		sou += "/dotime1/"+dotime1;
	}
	var dotime2 = $("#dotime2").val();
	if (dotime2!="" && dotime2!=null){
		sou += "/dotime2/"+dotime2;
	}
	var status = $("#status").val();
	if (status!="" && status!=null){
		sou += "/status/"+status;
	}
	var is_vouch = $("#is_vouch").val();
	if (is_vouch!="" && is_vouch!=null){
		sou += "/is_vouch/"+is_vouch;
	}
	var borrow_type = $("#borrow_type").val();
	if (borrow_type!="" && borrow_type!=null){
		sou += "/borrow_type/"+borrow_type;
	}
	
	location.href=url+sou;
	
}
</script><include file="$footer" />