<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/addbooks.css" type="text/css">
    <title>图书添加</title>
</head>
<body>

<include file="Common:nav"/>



<form action="{:U('addBooks')}" enctype="multipart/form-data" method="POST">
<div class="edit-main">
    <div class="edit-main-title">
      <label>图书名称</label>
      <input type="text" class="form-control" name="booksname" id ="booksname"placeholder="请输入图书名称"/>
      <span class="glyphicon "></span>
    </div>
    <div class="select-box">
      <select class="selectpicker" name="firstcate" id="topselect">
        <option>请选择分类</option>
        <foreach name='cateList' item='v'>
          <option  value="{$v.id}">{$v.category_name}</option>
        </foreach>
      </select>

      <select class="selectpicker" name="secendcate" id="midselect">
          
      </select>

      <select class="selectpicker"name="thirdcate" id="botselect">

      </select>
      <span id="selectif" class="glyphicon"></span>

    </div>
       <div class="form-group">
          <label for="exampleInputFile">选择封面图片</label>
          <input type="file" id="exampleInputFile" name="photo"/>
      </div>
      <button type="submit" id="submit" class="btn btn-success">上 传 图 书</button>
</div>
</form>

<include file="Common:footer"/>


  <script type="text/javascript">
      var getcate="U('getCate')";  
  </script>

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>

  <script src="__PUBLIC__/js/addbooks.js"></script>



</body>
</html>