<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>pc图书-会员注册</title>
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="__PUBLIC__/css/register.css" type="text/css">

</head>
<body>

<script type="text/javascript">
  var verifyurl="{:U('verify')}";
  var asynemail="{:U('asynemail')}";
  var asynverify="{:U('asynverify')}";
</script>
<!-- {$Verifys|dump} -->
<include file="Common:nav"/>

<div class="register">
<form action="{:U('CheckRegister')}" method="POST">
    <div class="form-group  has-feedback">
      <label class="control-label" for="inputError2"></label>
        <div class="input-group">
          <span class="input-group-addon">电子邮箱&nbsp<b class="glyphicon glyphicon-envelope"></b></span>
          <input type="text" class="form-control" id="email" aria-describedby="inputError2Status" name="email">
        </div>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    </div>

    <div class="form-group  has-feedback">
      <label class="control-label" for="inputError2"></label>
        <div class="input-group">
            <span class="input-group-addon">密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码&nbsp<b class="glyphicon glyphicon-lock"></b></span>
            <input type="password" class="form-control" id="pwd" aria-describedby="inputError2Status" name="pwd">
        </div>
      <span class="glyphicon  form-control-feedback" aria-hidden="true"></span>
    </div>

    <div class="form-group  has-feedback">
      <label class="control-label" for="inputError2"></label>
        <div class="input-group">
          <span class="input-group-addon">重复密码&nbsp<b class="glyphicon glyphicon-lock"></b></span>
          <input type="password" class="form-control" id="pwded" aria-describedby="inputError2Status" name="pwded">
        </div>
      <span class="glyphicon  form-control-feedback" aria-hidden="true"></span>
    </div>

    <div class="form-group  has-feedback">
      <label class="control-label" for="inputSuccess2"></label>
        <div class="input-group">
          <span class="input-group-addon">用户昵称&nbsp<b class="glyphicon glyphicon-user"></b></span>
          <input type="text" class="form-control" id="username" aria-describedby="inputError2Status" name="username">
        </div>
      <span class="glyphicon  form-control-feedback" aria-hidden="true"></span>
    </div>

     <div class="yanzhengma-list">
        <div class="form-group  has-feedback">
          <label class="control-label" for="inputError2"></label>
            <div class="input-group">
              <span class="input-group-addon">&nbsp验&nbsp证&nbsp码&nbsp<b class="glyphicon glyphicon-barcode"></b></span>
              <input type="text" class="form-control" id="verify" aria-describedby="inputError2Status" name="verify"/>
            </div>
          <span class="glyphicon  form-control-feedback" id="verifyok" aria-hidden="true"></span>
        </div>
    </div>
    <div class="yanzhengma"><img id ="yanzhengma" src="{:U('Register/verify')}" style="height:45px;width:145px;border-radius:5px;"></div>

    <input type="submit" id="submit" class="btn btn-success" value="提交注册"/>
</div>
</form>


<include file="Common:footer"/>


  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>

  <script src="__PUBLIC__/js/validata.js"></script>

</body>
</html>