<!DOCTYPE html>
<html>
 <head>
        <title>{:C('WEB_NAME')}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        
        <!-- jQuery AND jQueryUI -->
        <script type="text/javascript" src="__PUBLIC__/js/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
        
        <!-- Compressed Version
        <link type="text/css" rel="stylesheet" href="min/b=CoreAdmin&f=__PUBLIC__/css/reset.css,__PUBLIC__/css/style.css,__PUBLIC__/css/jqueryui/jqueryui.css,__PUBLIC__/js/jwysiwyg/jquery.wysiwyg.old-school.css,__PUBLIC__/js/zoombox/zoombox.css" />
        <script type="text/javascript" src="min/b=CoreAdmin/js&f=cookie/jquery.cookie.js,jwysiwyg/jquery.wysiwyg.js,tooltipsy.min.js,iphone-style-checkboxes.js,excanvas.js,zoombox/zoombox.js,visualize.jQuery.js,jquery.uniform.min.js,main.js"></script>
        -->
        <link rel="stylesheet" href="__PUBLIC__/css/min.css" />
        <script type="text/javascript" src="__PUBLIC__/js/min.js"></script>
        
    </head>
    <body>
        
        <script type="text/javascript" src="__PUBLIC__/content/settings/main.js"></script>
<link rel="stylesheet" href="__PUBLIC__/content/settings/style.css" />


  <div class="settings" id="settings">
        <div class="wrapper">
            <div class="grid3">
                <div class="titre">Backgrounds</div>
                <a href="url(__PUBLIC__/css/img/bg.html" class="backgroundChanger active" title="White"></a>
                <a href="url(__PUBLIC__/css/img/dark-bg.html" class="backgroundChanger dark" title="Dark"></a>
                <a href="url(__PUBLIC__/css/img/wood.html" class="backgroundChanger dark" title="Wood"></a>
                <a href="url(__PUBLIC__/css/img/altbg/smoothwall.html" class="backgroundChanger" title="Smoothwall"></a>
                <a href="url(__PUBLIC__/css/img/altbg/black_denim.html" class="backgroundChanger dark" title="black_denim"></a>
                <a href="url(__PUBLIC__/css/img/altbg/carbon.html" class="backgroundChanger dark" title="Carbon"></a>
                <a href="url(__PUBLIC__/css/img/altbg/double_lined.html" class="backgroundChanger" title="Double lined"></a>
                <div class="clear"></div>
            </div>
            <div class="grid3">
                <div class="titre">Bloc style</div>
                <a href="black.html" class="blocChanger" title="Black" style="background:url(__PUBLIC__/css/img/bloctitle.png);"></a>
                <a href="white.html" class="blocChanger active" title="White" style="background:url(__PUBLIC__/css/img/white-title.png);"></a>
                <a href="wood.html" class="blocChanger" title="Wood" style="background:url(__PUBLIC__/css/img/wood-title.jpg);"></a>
                <div class="clear"></div>
            </div>
            <div class="grid3">
                <div class="titre">Sidebar style</div>
                <a href="grey.html" class="sidebarChanger active" title="Grey" style="background:#494949"></a>
                <a href="black.html" class="sidebarChanger" title="Black" style="background:#262626"></a>
                <a href="white.html" class="sidebarChanger" title="White" style="background:#EEEEEE"></a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <a class="settingbutton" href="#">

        </a>
    </div>        
        <!--              
                HEAD
                        --> 
        <div id="head">
            <a href="#" style="margin-left:15px;"><img src="__PUBLIC__/img/icons/top/logo.png" alt="" /></a>
            <div class="left">
                <a href="#" class="button profile" style="top:10px;"><img src="__PUBLIC__/img/icons/top/huser.png" alt="" /></a>
                Hi, 
                <a href="#">admin</a>
                |
                <a href="#">退出</a>
            </div>
            <div class="right">
                <form action="#" id="search" class="search placeholder">
                    <label> 查找内容</label>
                    <input type="text" value="" name="q" class="text"/>
                    <input type="submit" value="rechercher" class="submit"/>
                </form>
            </div>
        </div>