        <!--            
                SIDEBAR
                         --> 
        <div id="sidebar">
            <ul>
                <li>
                    <a href="{:U('index')}">
                        <img src="__PUBLIC__/img/icons/menu/inbox.png" alt="" />
                        首 页
                    </a>
                </li>
                <li class="current"><a href="#"><img src="__PUBLIC__/img/icons/menu/layout.png" alt="" /> 借款管理</a>
                    <ul>
                                                <li class="current"><a href="{:U('Borrow/index',array('p'=>'table'))}">借款信息</a></li>
                                                <li><a href="forms.html?p=forms">Forms</a></li>
                                                <li><a href="table.html?p=table">Table</a></li>
                                                <li><a href="tabs.html?p=tabs">Tabs</a></li>
                                                <li><a href="gallery.html?p=gallery">Gallery</a></li>
                                                <li><a href="notifications.html?p=notif">Notifications</a></li>
                                                <li><a href="charts.html?p=charts">Charts</a></li>
                                                <li><a href="typography.html?p=typo">Typography</a></li>
                                                <li><a href="icons.html?p=icons">Icons</a></li>
                                                <li><a href="calendar.html?p=calendar">Calendar</a></li>
                                            </ul>
                </li>
                <li><a href="#"><img src="__PUBLIC__/img/icons/menu/brush.png" alt="" /> Another submenu</a>
                    <ul>
                        <li><a href="#">Fake menu #1</a></li>
                        <li><a href="#">Fake menu #2</a></li>
                        <li><a href="#">Fake menu #3</a></li>
                    </ul>
                </li>
                <li><a href="#"><img src="__PUBLIC__/img/icons/menu/brush.png" alt="" /> Infinite sublevel</a>
                    <ul>
                        <li><a href="#">Fake menu #1</a></li>
                        <li><a href="#">Fake menu #2</a></li>
                        <li><a href="#">Fake menu #3</a>
                        <ul>
                            <li><a href="#">Fake menu #1</a></li>
                            <li><a href="#">Fake menu #2</a></li>
                            <li><a href="#">Fake menu #3</a>
                                <ul>
                                    <li><a href="#">Fake menu #1</a></li>
                                    <li><a href="#">Fake menu #2</a></li>
                                    <li><a href="#">Fake menu #3</a></li>
                                </ul>
                            </li>
                        </ul>
                        </li>
                    </ul>
                </li>
                <li class="nosubmenu"><a href="#"><img src="__PUBLIC__/img/icons/menu/lab.png" alt="" /> This button is useless</a></li>
                <li class="nosubmenu"><a href="modal.html" class="zoombox w450 h700"><img src="__PUBLIC__/img/icons/menu/comment.png" alt="" /> Modal box</a></li>
            </ul>


        </div>
                