div.titlemenu_dolphin{
margin:0px;
padding:0px 0px 5px 0px;
}

div.titlemenu_dolphin a.titlemenu_dolphin:link,div.titlemenu_dolphin a.titlemenu_dolphin:visited,div.titlemenu_dolphin a.titlemenu_dolphin:active{
display:block;
text-decoration: none;
text-align: left;
font:12px/14px Verdana, Arial, Helvetica, sans-serif;
height:30px;
padding-left:16px;
background:url(../images/dot2.jpg) 0px 1px no-repeat;
color:#505050;
}

div.titlemenu_dolphin a.titlemenu_dolphin:hover{
display:block;
color: #e10000; 
text-decoration: none;
}