{template "content","header"}

<div class="banner-box">

	<div class="bd">

        <ul>      

        	{pc:slider action="lists" postion="53" siteid="$siteid" order="desc" num="3"}

            {loop $data $r}    	    

            <li style="background:url({$r[image]}) center no-repeat;"><a href="{$r[url]}"></a></li>

            {/loop}

			{/pc}

            

        </ul>

    </div>

    <div class="banner-btn">

        <a class="prev" href="javascript:void(0);"></a>

        <a class="next" href="javascript:void(0);"></a>

        <div class="hd"><ul></ul></div>

    </div>

    

</div>

<script type="text/javascript">

$(document).ready(function(){



	$(".prev,.next").hover(function(){

		$(this).stop(true,false).fadeTo("show",1);

	},function(){

		$(this).stop(true,false).fadeTo("show",1);

	});

	

	$(".banner-box").slide({

		titCell:".hd ul",

		mainCell:".bd ul",

		effect:"fold",

		interTime:5000,

		delayTime:500,

		autoPlay:true,

		autoPage:true, 

		trigger:"click" 

	});



});

</script>



<div class="cl"></div>

<div class="box">

	<div class="home-tit mt50"><img src="images/t-1.png"></div>

    <div class="home-yw-list mt40">

    	<ul>

        	<li>            	

            	<div class="yw-con trans">
					<a href="{$CATEGORYS[16][url]}">
                	<div class="pic"><img src="images/yw-ico-1.png"></div>

                    <div class="tit">金融品牌加盟<p>线上加盟、线下加盟</p></div>
					</a>
                </div>

                <div class="more trans"><a href="{$CATEGORYS[16][url]}">业务详情</a></div>                

            </li>

            <li>            	

            	<div class="yw-con trans">
					<a href="{$CATEGORYS[17][url]}">
                	<div class="pic"><img src="images/yw-ico-2.png"></div>

                    <div class="tit">P2P平台建设<p>P2P网贷系统</p></div>
					</a>
                </div>

                <div class="more trans"><a href="{$CATEGORYS[17][url]}">业务详情</a></div>                

            </li>

            <li>            	

            	<div class="yw-con trans">
					<a href="{$CATEGORYS[18][url]}">
                	<div class="pic"><img src="images/yw-ico-3.png"></div>

                    <div class="tit">APP定制开发<p>android系统、ios系统</p></div>
					</a>
                </div>

                <div class="more trans"><a href="{$CATEGORYS[18][url]}">业务详情</a></div>                

            </li>

            <li>            	

            	<div class="yw-con trans">
					<a href="{$CATEGORYS[19][url]}">
                	<div class="pic"><img src="images/yw-ico-4.png"></div>

                    <div class="tit">企业推广营销<p>全方位企业营销解决方案</p></div>
					</a>
                </div>

                <div class="more trans"><a href="{$CATEGORYS[19][url]}">业务详情</a></div>                

            </li>

        </ul>

    </div>

</div>

<div class="cl"></div>

<div class="home-about mt50" style="background:url(images/home-about-bg.jpg) top center no-repeat #F5F5F5">

	<div class="box">

    	<div class="home-tit mt50"><img src="images/t-2.png"></div>

        <div class="home-about-pic mt40 fl">

        {pc:content action="position" posid="5" num="1" order="listorder DESC"}

            {loop $data $r}

        <img src="{$r[thumb]}" width="550" height="422"><p><a href="{$r[url]}"></a></p>

         {/loop}

            {/pc}

        <span></span></div>

        <div class="home-about-con mt40 fr">

        	<div class="tit">{pc:get sql="SELECT * FROM v9_page where catid=7"}

                  {loop $data  $val}

                  {$val[title]}

                 {/loop}

				{/pc}<p>Professional and reliable</p></div>

            <div class="con" style="height:150px;">

            {pc:get sql="SELECT * FROM v9_page where catid=7"}

                  {loop $data  $val}

                  {$val[content]}。。。

                 {/loop}

				{/pc}

            ...

            </div>

            <div class="more"><a href="{$CATEGORYS[7][url]}" class="amore fl">查看详情</a></div>

        </div>

    </div>

    <div class="cl"></div>

    <div class="box">

        <div class="home-tit mt40"><img src="images/t-3.png"><a href="{$CATEGORYS[21][url]}" class="amore fr">查看更多</a></div>

        <div class="home-case-list mt40">

            <ul>

            	{pc:content action="lists" catid="21" num="3" order="listorder DESC"}



                {loop $data $r}

                <li class="trans">

                    <div class="pic"><img src="{$r[thumb]}" width="324" height="234"><p class="trans"><a href="{$r[url]}"></a></p></div>

                    <div class="tit trans"><a href="{$r[url]}">{$r[title]}</a></div>

                    <div class="titbg trans"></div>

                </li>

                {/loop}



                {/pc}

                

            </ul>

        </div>

    </div>

    <div class="cl"></div>

</div>

<div class="box">

		

    	<div class="home-tit mt50"><img src="images/t-4.png"></div>
		<div class="picScroll-left">
                <div class="hd">
                    <a class="next"></a>
                    <ul></ul>
                    <a class="prev"></a>
                    <span class="pageState"></span>
                </div>
                <div class="bd">
                    <ul class="picList">
                    	{pc:content action="lists" catid="20" num="5" order="listorder DESC"}



        				{loop $data $r}
                        <li>
                        	<div class="home-about-pic mt40 fr"><img src="{$r[thumb]}" width="550" height="422"></div>

                                <div class="home-about-con mt40 fl bg-gray">
                        
                                    <div class="tit">{$r[title]}<p>{date('Y / m / d',$r[inputtime])}</p></div>
                        
                                    <div class="con">
                        
                                    {str_cut($r[description],220)}...
                        
                                    </div>
                        
                                    <div class="more"><a href="{$r[url]}" class="amore2 fl" style="margin-right:15px;">查看详情</a><a href="{$CATEGORYS[20][url]}" class="amore2 fl">更多加盟商</a></div>
                        
                                </div>
                        </li>
                        {/loop}

						{/pc}
                    </ul>
                </div>
            </div>
        	 <script type="text/javascript">
            jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:1,trigger:"click"});
            </script>

        

        

	<div class="home-tit mt40"><img src="images/t-5.png"><a href="{$CATEGORYS[23][url]}" class="amore fr">查看更多</a></div>

    <div class="home-news-box mt40">

    	{pc:content action="lists" catid="23" num="2" order="listorder DESC"}



        {loop $data $r}

    	<div class="newsdiv">

        	<div class="pic"><img src="{$r[thumb]}" width="275" height="198"></div>

            <div class="rinfo">

            	<p class="time">{date('Y/m/d',$r[inputtime])}</p>

                <p class="tit"><a href="{$r[url]}">{str_cut($r[title],40)}</a></p>

                <p class="con">{str_cut($r[description],120)}</p>

                <p class="more"><a href="{$r[url]}" class="amore2">查看更多</a></p>

            </div>

        </div>

        {/loop}

		{/pc}

        

    </div>

    

</div>

<div class="cl"></div>

<div class="line"></div>

<div class="box">

	<div class="link-tit"><img src="images/t-6.png"></div>

    <div class="link-list">

    	<ul>

        	{pc:content action="lists" catid="26" num="7" order="listorder DESC" moreinfo="1"}



        	{loop $data $r}

        	<li><a href="{$r[weburl]}" target="_blank">{$r[title]}</a></li>

            {/loop}

			{/pc}

            

        </ul>

    </div>

</div>



{template "content","footer"}