/* ============ндубап╠М============== */

ul.newslist_time_1{
margin:0px;
padding:6px 0px 0px;
}

li.newslist_time_1 {
margin:0px;
padding-left:15px;
list-style-type: none;
height:25px;
background: transparent url(../images/listt.jpg) 0px 5px no-repeat;
}

li.newslist_time_1 .time{
float:right;
font:10px/18px Verdana, Arial, Helvetica, sans-serif;
color:#999;
padding:0px;
}

a.newslist_time_1:link,a.newslist_time_1:visited,a.newslist_time_1:active{
color:#464646;
text-decoration: none;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
}

a.newslist_time_1:hover{
color:#e10000;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
}
