/* ============ндубап╠М============== */

ul.newslist_time{
margin:0px;
padding:0px 2px;
height:100%;
}

li.newslist_time {
margin:0px;
padding-left:17px;
list-style-type: none;
height:27px;
background: transparent url(../images/arrow.jpg) 0px 5px no-repeat;
}

li.newslist_time .time{
float:right;
font:10px/16px Verdana, Arial, Helvetica, sans-serif;
color:#949494;
padding:0px;
}

a.newslist_time:link,a.newslist_time:visited,a.newslist_time:active{
color:#535353;
text-decoration: none;
font:12px/20px Verdana, Arial, Helvetica, sans-serif;
}

a.newslist_time:hover{
color:#e10000;
font:12px/20px Verdana, Arial, Helvetica, sans-serif;
}
