	.navbar-default{
		height: 60px;
		margin-bottom: 0px;
		border-radius: 0px;
		border:none;
		background: #101010;
	}
	.container-fluid{
		height: 60px;
	}
	.navbar-header{
		padding-top:5px;
		width: 100px;
	}
	.navbar-brand{
		padding-left: 25px;
	}
	.navbar-collapse{
		padding-top:5px; 
	}





/* v2 */
.container {
  width: 1200px;
}

.course-content {
  float: none;

}
.course-nav-hd {
  position: relative;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #d0d6d9;
  font-size: 16px;
  font-weight: bold;
  color: #14191e;
}
.course-nav-row { 
  border-bottom: 1px solid #edf1f2;

}
.course-nav-row .hd {
    width: 56px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #787d82;
    text-align: right;
    padding-top: 7.5px;

}

.l {
    float: left;
}

.course-nav-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 7.5px 10px 0px 5px;


}
.course-nav-item a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  font-size: 12px;
}
.course-nav-item.on a {
  background: #f01400;
  color: #fff;
}






  body{
    font-size: 15px;
    background: #fff;
  }
  body a{
    color: #444444;
    text-decoration:none;
    cursor: pointer;
  }
  body a:hover{
    text-decoration: none;
  }
  body label{
    color: #444444;
    font-weight:normal;
  }


    .thumbnail{
      width:191px;
      padding-top: 8px;
      margin-left: 4px;
      margin-right: 4px;
      border-radius:0px; 
      border: 0px;
    }
    .row{
      float:left;
    }
    .nav-tabs{
      width:1200px;
    }
    .bookslist{
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
    }
    .bookslist-list{
      border: 1px solid #ccc;
      border-top:0px;
      width:1200px;
      height:auto;
      min-height:700px; 
    }
    .books-list-page{
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    .pagination{
      margin-left: 460px;
    }


  
    #footer{
      clear: both;
    	width:100%;
    	height: 100px;
    	background: #101010;
    }
    .waper{
    	width:1090px;
    	height: 100px;
    	margin-left: auto;
    	margin-right: auto;
    }
    .footer_link li{
    	float: left;
    	list-style-type: none;
    	margin-right: 20px;
    	padding-top: 20px;
    }
    .copyright{
    	float: left;
    	margin-left: 40px;
    	padding-top: 5px;
    	color: #Fff;

    }