{template "content","header"}
<div class="sub-banner" style="background:url({$CATEGORYS[6][image]}) center no-repeat;"></div>

<script type="text/javascript" src="js/jquery.timelinr-0.9.53.js"></script>
<script type="text/javascript">
$(function(){
    $().timelinr({
		autoPlay: 'false',
		autoPlayDirection: 'forward',
		startAt: 1
	})
});
</script>

<div class="sub-top">
	<div class="box">    
	{pc:content action="category" catid="6" siteid="$siteid" order="listorder ASC"}
    {loop $data $r}<a href="{$r[url]}" {if $catid==$r[catid] || $top_parentid==$r[catid]} class="cur"{/if}>{$r[catname]}</a>{/loop}{/pc}</div>
</div>
<div class="box">
	<div class="fz-tit">发展<p>中国最专业的金融品牌与科技服务商</p></div>
	<div id="timeline">
           		<ul id="dates">
                	{pc:content action="lists" catid="$catid" num="200" order="listorder asc"}
           	 		{loop $data $r}
               		<li><a href="#{$r[title]}">{$r[title]}</a></li>
                    {/loop}
            		{/pc}
               </ul>
               <ul id="issues">
               		{pc:content action="lists" catid="$catid" num="200" order="listorder asc" moreinfo="1"}
           	 		{loop $data $r}
                  	<li id="{$r[title]}">
                  		<div class="pic"><img src="{$r[thumb]}"></div>
                  		<div class="con">
                        {$r[content]}                    
                        </div>
                   </li>
                   {/loop}
            		{/pc}
               </ul>
            </div>
</div>
{template "content","footer"}