{template "content","header"}
<div class="sub-banner" style="background:url({$CATEGORYS[20][image]}) center no-repeat;"></div>

<div class="sub-top">
	<div class="box"><a href="{$CATEGORYS[20][url]}" class="cur">{$CATEGORYS[20][catname]}</a></div>
</div>
<div class="box">
	
	<div class="list-case">
    	<ul>
        	{pc:content action="lists" catid="$catid" num="4" order="listorder DESC" moreinfo="1" page="$page"}
            {loop $data $r}
        	<li>
            	<div class="left-info">
                	<p class="t"><a href="{$r[url]}">{$r[title]}</a></p>
                    <p class="time"><img src="images/ico-7.png"> {date('Y-m-d',$r[inputtime])}</p>
                    <p class="con">{$r[description]}…</p>
                    <p class="more"><a href="{$r[url]}" class="amore3">查看更多</a></p>
                </div>
                <div class="pic"><a href="{$r[url]}"><img src="{$r[thumb]}"></a></div>
            </li>
            {/loop}
            {/pc}
            
        </ul>
    </div>
	<div class="pages">{$pages}</div>
</div>
{template "content","footer"}