<!DOCTYPE html>
<html>
 <head>
        <title>{:C('WEB_NAME')}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        
        <!-- jQuery AND jQueryUI -->
        <script type="text/javascript" src="__PUBLIC__/js/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
        
        <!-- Compressed Version
        <link type="text/css" rel="stylesheet" href="min/b=CoreAdmin&f=__PUBLIC__/css/reset.css,__PUBLIC__/css/style.css,__PUBLIC__/css/jqueryui/jqueryui.css,__PUBLIC__/js/jwysiwyg/jquery.wysiwyg.old-school.css,__PUBLIC__/js/zoombox/zoombox.css" />
        <script type="text/javascript" src="min/b=CoreAdmin/js&f=cookie/jquery.cookie.js,jwysiwyg/jquery.wysiwyg.js,tooltipsy.min.js,iphone-style-checkboxes.js,excanvas.js,zoombox/zoombox.js,visualize.jQuery.js,jquery.uniform.min.js,main.js"></script>
        -->
        <link rel="stylesheet" href="__PUBLIC__/css/min.css" />
        <script type="text/javascript" src="__PUBLIC__/js/min.js"></script>
        
    </head>
    <body>
        
        <script type="text/javascript" src="__PUBLIC__/content/settings/main.js"></script>
<link rel="stylesheet" href="__PUBLIC__/content/settings/style.css" />




      
        <!--              
                HEAD
                        --> 
        <div id="head">
            <a href="#" style="margin-left:15px;"><img src="__PUBLIC__/img/icons/top/logo.png" alt="" /></a>
            <div class="left">
                <a href="#" class="button profile" style="top:10px;"><img src="__PUBLIC__/img/icons/top/huser.png" alt="" /></a>
                你好, 
                <a href="#">{$getAdminInfo.username}&nbsp;({$getAdminInfo.name})&nbsp;</a>
                |
                <a href="{:U('Login/loginOut')}">退出</a>
            </div>
            <div class="right">
                <form action="#" id="search" class="search placeholder">
                    <label> 查找内容</label>
                    <input type="text" value="" name="q" class="text"/>
                    <input type="submit" value="rechercher" class="submit"/>
                </form>
            </div>
        </div>