/* ============ËÑË÷±íµ¥============== */
div.globalsearchformzone{
padding:0px;
margin:0px;
height:20px;
}


div.globalsearchformzone div.globalsearchform{
float:left;
padding:0px;
margin:0px;
height:20px;
font:12px/18px simsun;
}

div.globalsearchformzone div.globalsearchform1{
float:right;
padding:0px;
margin:0px;
line-height:20px;
}

div.globalsearchformzone div.globalsearchform .input{
border:0px;
height:18px;
line-height:19px;
padding:0px 0px 0px 5px;
margin:0px;
background:transparent;
color:#8c8c8c;
border:1px #9fcff5 solid;
background:#daecfb;
width:175px;
}

div.globalsearchformzone div.globalsearchform1 .imgbutton{
padding:0px;
margin:1px 0px 0px;
}