<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$tpldir}longbao/style.css" rel="stylesheet" type="text/css" />
<link href="{$tpldir}css/common.css" rel="stylesheet" type="text/css" />
<link href="{$tpldir}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$tpldir}css/new.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<form action="{:U('Attestations/one')}" name="form1" method="post"
		onsubmit="return check_form()" enctype="multipart/form-data">
		<div class="user_main_title1">
			<font color="#FF0000">*</font>必须是本人的相关资料<br /> <font color="#FF0000">*</font>真实
			有效<br /> <font color="#FF0000">*</font>审核时间：3个工作日<br />
		</div>
		<div class="user_right_border">
			<div class="l">资料上传：</div>
			<div class="c">
				<input type="file" name="pic" tabindex="1" />
				上传最大的图片为500K，上传的格式为jpg.gif
			</div>
		</div>
		<div class="user_right_border">
			<div class="l">上传类型：</div>
			<div class="c">
				<select name="type_id" tabindex="2">
					<foreach name="tlist" item="var">
					<option value="{$var.id}"<eq name="Think.request.nid"
							value="$var.nid">selected="selected"</eq>>{$var.name}
					</option>
					</foreach>
				</select>
			</div>
		</div>
		<div class="user_right_border" style="height: 100px; overflow: hidden">
			<div class="l">备注说明：</div>
			<div class="c">
				<textarea cols="50" rows="5" name="name"
					style="width: 400px; height: 80px;" tabindex="3"></textarea>
			</div>
		</div>
		<div class="user_right_border">
			<div class="l">
				<eq name="Think.request.type" value="amount"> <input
					type="hidden" name="web" value="amount"></eq>
			</div>
			<div class="c">
				<input type="submit" value="确认提交" class="xinbuton" size="30" />
			</div>
		</div>
	</form>
	<div class="user_right_foot">* 温馨提示：我们将严格对用户的所有资料进行保密</div>
	<script>

				function check_form(){

					 var frm = document.forms['form1'];

					 var file = frm.elements['litpic'].value;

					 var errorMsg = '';

					  if (file.length == 0 ) {

						errorMsg += '* 图片不能为空' + '\n';

					  }

					 

					  if (errorMsg.length > 0){

						alert(errorMsg); return false;

					  } else{  

						return true;

					}

				

				}

			</script>
</body>
</html>