<div class="m_change">
	<ul>
		<li><a href="{:U('borrow/auto')}">自动投标</a></li>
		<li><a href="{:U('borrow/auto_new')}" class="onn">添加自动投标</a></li>
	</ul>
</div>
<div class="us_r_bor1">
	<form method="post" name="form1" action="{:U('borrow/auto_add')}">
		<div class="user_main_title1">自动投标时，只有满足下面您选择的条件时系统才会为您自动投标。</div>
		<div>
			<div class="sideT"
				style="line-height: 30px; height: 550px; padding-top: 10px;">
				<div class="user_right_title">
					<span class=""><strong><img
							src="{$tpldir}/images/arrow111.gif" /> 借款人信息限制</strong></span>
				</div>
				<div class="set_table">
					<table border="0" style="text-align: left; font-size: 12px;">
						<tr>
							<th>状态：</th>
							<td><input id="status" type="checkbox" name="status"
								value="1"
							<eq name="_U.auto_result.status" value="1">
								checked="checked" </eq>/> <label for="">是否启用</label> <span>(如果不选中则当前规则不会生效)</span></td>
						</tr>
						<tr>
							<th>每次投标金额：</th>
							<td><span style="color: Blue; font-weight: bold;"> <input
									type="radio" name="tender_type" value="1"
								<if
										condition="($_U['auto_result']['tender_type'] eq 1) OR ($_U['auto_result']['tender_type'] eq '') ">
									checked="checked"</if> /> <label for="">按金额投标</label>
							</span> <input name="tender_account" type="text" maxlength="5"
								id="tender_account" style="width: 80px;"
								value="{$_U.auto_result.tender_account}" /> 元<span>(最少100元,100的倍数)</span>
						</tr>
						<tr>
							<th></th>
							<td><span>(当前规则满足时系统将为您自动投标的额度，投标金额和比例都只能为大于0的为整数。)</span><br />
								<span style="color: Red;">1、如果超过标的的最大投标额度则以标的的最大额度为准，如果小于标的的最小投标额度则不投。
									<br /> 2、当按比列投标时，根据所设定的比例算得金额少于100元时，以100元进行投标。 <br />
									3、当按比列投标时，根据所设定的比例算得金额大于标的最大投标金额时，以最大投标金额进行投标。 <br />
									4、当投标金额大于标的金额的<span id="">20</span>%时，则按此比例进行投标。
							</span></td>
						</tr>
					</table>
				</div>
				<div class="set_table">
					<table border="0" style="text-align: left; font-size: 12px;">
						<tr>
							<th>关系选项：</th>
							<td><input id="my_friend" type="checkbox" name="my_friend"
								value="1"
							<eq name="_U.auto_result.my_friend" value="1">checked="checked"</eq>/>
								<label for="my_friend">必须是我的好友</label></td>
							<td><span>(不选中则没有此项限制)</span></td>
						</tr>
						<tr>
							<th>还款信用：</th>
							<td><input id="late_status" type="checkbox"
								name="late_status" value="1"
							<eq name="_U.auto_result.late_status" value="1">checked="checked"</eq>
								/> <label for="late_status">逾期次数必须小于等于(≤)</label> <select
								name="late_times" id="late_times">
									<option<if
											condition="($_U['auto_result']['late_times'] eq 0) OR ($_U['auto_result']['late_times'] eq '') ">
										selected="selected"</if> value="0"> 0
									</option>
									<option value="1"<eq name="_U.auto_result.late_times"
											value="1">selected="selected"</eq> >1
									</option>
									<option value="2"<eq name="_U.auto_result.late_times"
											value="2">selected="selected"</eq> >2
									</option>
									<option value="3"<eq name="_U.auto_result.late_times"
											value="3">selected="selected"</eq> >3
									</option>
									<option value="4"<eq name="_U.auto_result.late_times"
											value="4">selected="selected"</eq> >4
									</option>
									<option value="5"<eq name="_U.auto_result.late_times"
											value="5">selected="selected"</eq> >5
									</option>
									<option value="6"<eq name="_U.auto_result.late_times"
											value="6">selected="selected"</eq> >6
									</option>
									<option value="7"<eq name="_U.auto_result.late_times"
											value="7">selected="selected"</eq> >7
									</option>
									<option value="8"<eq name="_U.auto_result.late_times"
											value="8">selected="selected"</eq> >8
									</option>
									<option value="9"<eq name="_U.auto_result.late_times"
											value="9">selected="selected"</eq> >9
									</option>
									<option value="10"<eq name="_U.auto_result.late_times" value="10">selected="selected"</eq>
										>10
									</option>
							</select></td>
							<td><input id="dianfu_status" type="checkbox"
								name="dianfu_status" value="1"
								<eq name="_U.auto_result.dianfu_status" value="1">checked="checked" </eq>  />
								<label for="dianfu_status">被垫付次数必须小于等于(≤)</label> <select
								name="dianfu_times" id="dianfu_times">
									<option<if
											condition="($_U['auto_result']['dianfu_times'] eq 0) OR ($_U['auto_result']['dianfu_times'] eq '') ">
										selected="selected"</if> value="0"> 0
									</option>
									<option value="1"<eq name="_U.auto_result.dianfu_times" value="1">selected="selected"</eq>
										>1
									</option>
									<option value="2"<eq name="_U.auto_result.dianfu_times" value="2">selected="selected"</eq>
										>2
									</option>
									<option value="3"<eq name="_U.auto_result.dianfu_times" value="3">selected="selected"</eq>
										>3
									</option>
									<option value="4"<eq name="_U.auto_result.dianfu_times" value="4">selected="selected"</eq>
										>4
									</option>
									<option value="5"<eq name="_U.auto_result.dianfu_times" value="5">selected="selected"</eq>
										>5
									</option>
									<option value="6"<eq name="_U.auto_result.dianfu_times" value="6">selected="selected"</eq>
										>6
									</option>
									<option value="7"<eq name="_U.auto_result.dianfu_times" value="7">selected="selected"</eq>
										>7
									</option>
									<option value="8"<eq name="_U.auto_result.dianfu_times" value="8">selected="selected"</eq>
										>8
									</option>
									<option value="9"<eq name="_U.auto_result.dianfu_times" value="8">selected="selected"</eq>
										>9
									</option>
									<option value="10"<eq name="_U.auto_result.dianfu_times" value="10">selected="selected"</eq>
										>10
									</option>
							</select></td>
						</tr>
						<tr>
							<th>信用积分：</th>
							<td><input id="borrow_credit_status" type="checkbox"
								name="borrow_credit_status" value="1"
							<eq name="_U.auto_result.borrow_credit_status" value="1">checked="checked"</if>/>
								<label for="borrow_credit_status">积分必须为</label> <input
									name="borrow_credit_first" type="text"
									value="{$_U.auto_result.borrow_credit_first}" maxlength="6"
									id="borrow_credit_first" style="width: 50px;" /> ~ <input
									name="borrow_credit_last" type="text"
									value="{$_U.auto_result.borrow_credit_last}" maxlength="6"
									id="borrow_credit_last" style="width: 50px;" /></td>
						</tr>
					</table>
				</div>
				<div class="user_right_title">
					<span class=""><strong><img
							src="{$tpldir}images/arrow111.gif" /> 标的信息限制</strong></span>
				</div>
				<div class="set_table" style="clear: both;">
					<table border="0"
						style="text-align: left; float: left; font-size: 12px;">
						<tr>
							<th>还款方式：</th>
							<td><input id="borrow_style_status" type="checkbox"
								name="borrow_style_status" value="1"
							<eq name="_U.auto_result.borrow_style_status" value="1">checked="checked"</eq>/>
								<label for="">还款方式必须为</label> <select name="borrow_style"
								id="borrow_style">
									<option value="0"<eq
											name="_U.auto_result.borrow_style" value="0">selected="selected"</eq>>按月分期还款
									</option>
									<option value="1"<eq
											name="_U.auto_result.borrow_style" value="1">selected="selected"</eq>>按季分期还款
									</option>
									<option value="2"<eq
											name="_U.auto_result.borrow_style" value="2">selected="selected"</eq>>到期还本
									</option>
							</select></td>
							<td><span>(不选中则没有此项限制)</span></td>
						</tr>
						<tr>
							<th>借款期限：</th>
							<td><input id="timelimit_status" name="timelimit_status"
								type="radio" value="0" checked="checked"
							<eq name="_U.auto_result.timelimit_status" value="0">
								checked="checked"</eq>/> <label for="">不限定借款期限范围</label></td>
							<td><span></span></td>
						</tr>
						<tr>
							<th></th>
							<td><span title="此选项只对按月还款、按季还款有效"> <input
									id="timelimit_status" type="radio" name="timelimit_status"
									value="1" name="timelimit_status"
								<eq name="_U.auto_result.timelimit_status" value="1">checked="checked"</eq>/>
									<label for="">借款期限按月范围必须在</label>
							</span> <select name="timelimit_month_first" id="timelimit_month_first">




									<for start="1" end="18">


									<option value="{$i}"<eq
											name="_U.auto_result.timelimit_month_first" value="$i">selected="selected"</eq>>{$i}个月
									</option>



									</for>



							</select> ~ <select name="timelimit_month_last" id="timelimit_month_last">



									<for start="1" end="18">



									<option value="{$i}"<eq
											name="_U.auto_result.timelimit_month_last" value="$i">selected="selected"</eq>>{$i}个月
									</option>



									</for>



							</select></td>
							<td><span>(此选项只对按月还款、按季还款有效)</span></td>
						</tr>
						<tr>
							<th>利率选项：</th>
							<td><input id="apr_status" type="checkbox" name="apr_status"
								value="1" <eq name="_U.auto_result.apr_status" value="1">checked="checked" </eq>/>
								<label for="">利率范围必须在</label> <select name="apr_first">



									<for start="1" end="25">



									<option value="{$i}"<eq
											name="_U.auto_result.apr_first" value="$i">selected="selected"</eq>>{$i}%
									</option>



									</for>



							</select> ~ <select name="apr_last">



									<for start="1" end="25">



									<option value="{$i}"<eq
											name="_U.auto_result.apr_last" value="$i">selected="selected"</eq>>{$i}%
									</option>



									</for>



							</select></td>
							<td><span>(不选中则没有此项限制)</span></td>
						</tr>
						<eq name="Vvar.status" value="1">

						<tr>
							<th>其他要求：</th>
							<td><input id="vouch_status" type="checkbox"
								name="vouch_status" value="1"
							<if condition="$_U['auto_result']['vouch_status'] eq 1">
								checked="checked"</if> /> <label for="vouch_status">必须为担保标</label> <input
								id="tuijian_status" type="checkbox" name="tuijian_status"
								value="1"
							<if condition="$_U['auto_result']['tuijian_status'] eq 1">
								checked="checked"</if>/> <label for="tuijian_status">必须为快速标</label></td>
							<td><span>(选项为"且"关系)</span></td>
						</tr>
						</eq>

					</table>
				</div>
			</div>
			<div style="text-align: center;">
				<input type="hidden" name="id" value="{$Think.request.id}" /> <input
					class="save" type="submit" name="" value="保存" id="" /> <input
					class="abolish" type="reset" name="" value="取消" id="" />
			</div>
		</div>
	</form>

</div>