<include file="$header" />

<div class="bodyer clearfix">



	<div class="products-list">
		<div class="fn-left products-team bg-bule het485">
			<h2 class="h4">
				<a style="color: #fff;"
					href="{:U('borrow/borrow_list?type=credit')}">信用标</a>
			</h2>
			<div class="content-padding">
				<h3 class="h6">申请条件</h3>
				<ul class="ui-list-disc">
					<li class="fn-clear"><i></i><span>对象：22-55周岁的中国公民</span></li>
					<li class="fn-clear"><i></i><span>期限：1-18个月内</span></li>
					<li class="fn-clear"><i></i><span>担保机构： 投资理财信息服务平台</span></li>
					<li class="fn-clear"><i></i><span>计息方式：借款满标审核通过后计算利息</span></li>
					<li class="fn-clear"><i></i><span>垫付机制：逾期31个工作日内垫付，VIP客户垫付50%本金，非VIP客户不垫付。</span></li>
				</ul>
				<div class="products-link">
					<p class="text-center review-button">
						<a href="{:U('borrow/borrow_list?type=credit')}"
							class="ui-button ui-button-blue ui-button-mid w70">立即申请</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="products-list">
		<div class="fn-left products-team bg-green het485">
			<h2 class="h4">
				<a style="color: #fff;" href="{:U('borrow/borrow_list?type=jin')}">净值标</a>
			</h2>
			<div class="content-padding">
				<h3 class="h6">申请条件</h3>
				<ul class="ui-list-disc">
					<li class="fn-clear"><i></i><span>对象：22-55周岁的中国公民</span></li>
					<li class="fn-clear"><i></i><span>期限：1-18个月内</span></li>
					<li class="fn-clear"><i></i><span>担保机构： 投资理财信息服务平台</span></li>
					<li class="fn-clear"><i></i><span>计息方式：借款满标审核通过后计算利息</span></li>
					<li class="fn-clear"><i></i><span>垫付机制：逾期31个工作日内垫付，VIP客户垫付50%本金，非VIP客户不垫付。</span></li>
				</ul>
				<div class="products-link">
					<p class="text-center review-button">
						<a href="{:U('borrow/borrow_list?type=jin')}"
							class="ui-button ui-button-blue ui-button-mid w70">立即申请</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="products-list">
		<div class="fn-left products-team bg-orange het485">
			<h2 class="h4">
				<a style="color: #fff;" href="{:U('borrow/borrow_list?type=fast')}">抵押标</a>
			</h2>
			<div class="content-padding">
				<h3 class="h6">申请条件</h3>
				<ul class="ui-list-disc">
					<li class="fn-clear"><i></i><span>对象：22-55周岁的中国公民</span></li>
					<li class="fn-clear"><i></i><span>期限：1-18个月内</span></li>
					<li class="fn-clear"><i></i><span>担保机构： 投资理财信息服务平台</span></li>
					<li class="fn-clear"><i></i><span>计息方式：借款满标审核通过后计算利息</span></li>
					<li class="fn-clear"><i></i><span>垫付机制：逾期31个工作日内垫付，VIP客户垫付50%本金，非VIP客户不垫付。</span></li>
				</ul>
				<div class="products-link">
					<p class="text-center review-button">
						<a href="{:U('borrow/borrow_list?type=fast')}"
							class="ui-button ui-button-blue ui-button-mid w70">立即申请</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="products-list">
		<div class="fn-left products-team bg-bule het485">
			<h2 class="h4">
				<a style="color: #fff;" href="/borrow_list/index.html">秒还标</a>
			</h2>
			<div class="content-padding">
				<h3 class="h6">申请条件</h3>
				<ul class="ui-list-disc">
					<li class="fn-clear"><i></i><span>对象：22-55周岁的中国公民</span></li>
					<li class="fn-clear"><i></i><span>期限：1-18个月内</span></li>
					<li class="fn-clear"><i></i><span>担保机构： 投资理财信息服务平台</span></li>
					<li class="fn-clear"><i></i><span>计息方式：借款满标审核通过后计算利息</span></li>
					<li class="fn-clear"><i></i><span>垫付机制：逾期31个工作日内垫付，VIP客户垫付50%本金，非VIP客户不垫付。</span></li>
				</ul>
				<div class="products-link">
					<p class="text-center review-button">
						<a href="{:U('borrow/borrow_list?type=seconds')}"
							class="ui-button ui-button-blue ui-button-mid w70">立即申请</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="products-list">
		<div class="fn-left products-team bg-green het485">
			<h2 class="h4">
				<a style="color: #fff;" href="{:U('borrow/borrow_list?type=vouch')}">担保标</a>
			</h2>
			<div class="content-padding">
				<h3 class="h6">申请条件</h3>
				<ul class="ui-list-disc">
					<li class="fn-clear"><i></i><span>对象：22-55周岁的中国公民</span></li>
					<li class="fn-clear"><i></i><span>期限：1-18个月内</span></li>
					<li class="fn-clear"><i></i><span>担保机构： 投资理财信息服务平台</span></li>
					<li class="fn-clear"><i></i><span>计息方式：借款满标审核通过后计算利息</span></li>
					<li class="fn-clear"><i></i><span>垫付机制：逾期31个工作日内垫付，VIP客户垫付50%本金，非VIP客户不垫付。</span></li>
				</ul>
				<div class="products-link">
					<p class="text-center review-button">
						<a href="{:U('borrow/borrow_list?type=vouch')}"
							class="ui-button ui-button-blue ui-button-mid w70">立即申请</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="products-list">
		<div class="fn-left products-team bg-orange het485">
			<h2 class="h4">
				<a style="color: #fff;" href="{:U('borrow/borrow_list?type=flow')}">流转标</a>
			</h2>
			<div class="content-padding">
				<h3 class="h6">申请条件</h3>
				<ul class="ui-list-disc">
					<li class="fn-clear"><i></i><span>对象：22-55周岁的中国公民</span></li>
					<li class="fn-clear"><i></i><span>期限：1-18个月内</span></li>
					<li class="fn-clear"><i></i><span>担保机构： 投资理财信息服务平台</span></li>
					<li class="fn-clear"><i></i><span>计息方式：借款满标审核通过后计算利息</span></li>
					<li class="fn-clear"><i></i><span>垫付机制：逾期31个工作日内垫付，VIP客户垫付50%本金，非VIP客户不垫付。</span></li>
				</ul>
				<div class="products-link">
					<p class="text-center review-button">
						<a href="{:U('borrow/borrow_list?type=flow')}"
							class="ui-button ui-button-blue ui-button-mid w70">立即申请</a>
					</p>
				</div>
			</div>
		</div>
	</div>


</div>

<include file="$footer" />