<div class="m_change">
	<ul>
		<li><a href="{:U('borrow/care')}" class="onn">我关注的借款</a></li>
	</ul>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0"
	class="tabyel">
	<form action="" method="post">
		<tr class="ytit">
			<td colspan="6">我关注的借款</td>
		</tr>
		<tr class="ytit1">
			<td>标题</td>
			<td>类型</td>
			<td>金额(元)</td>
			<td>年利率</td>
			<td>期限</td>
			<td>进度</td>
		</tr>


		<foreach name="list" item="item">
		<tr>
			<td><a href="{:U('Index/index?site=full_success&nid='.$item['borrow_nid'])}" title="{$item.name}" target="_blank">{$item.name}</a></td>
			<td><if condition="$item.vouch_status eq 1">担保标<elseif condition="$item.is_jin eq 1" />净值标<elseif condition="$item.is_flow eq 1" />流转标<elseif condition="$item.fast_status eq 1" />快借标<else />普通标</if></td>
			<td>{$item.account}元</td>
			<td>{$item.borrow_apr} %</td>
			<td>{$item.borrow_period|linkages="borrow_apr",###}</td>
			<td>{$item.borrow_account_scale|default=0.00}%</td>
		</tr>
		</foreach>
	</form>
</table>
<div style="padding: 10px 0; text-align: center">{$page}</div>
