<div class="m_change">
	<ul>
		<li><a href="{:U('borrow/debting')}" class="onn">可以转让的债权</a></li>
		<li><a href="{:U('borrow/debt_move')}">正在转让的债权</a></li>
		<li><a href="{:U('borrow/move_success')}">成功转让的债权</a></li>
		<li><a href="{:U('borrow/buy_success')}"}>成功购买的债权</a></li>
		<li><a href="{:U('borrow/wait?type=change')}">回收中的债权</a></li>
	</ul>
</div>
<div class="us_r_bor1">
	<div class="t20">
		发布时间： <input type="text" name="dotime1" id="dotime1"
			value="{$Think.request.dotime1}" size="15"
			onClick="laydate()" /> 到 <input type="text" name="dotime2"
			value="{$Think.request.dotime2}" id="dotime2" size="15"
			onClick="laydate()" /> 关键字： <input type="text"
			name="keywords" id="keywords" size="15"
			value="{$Think.request.keywords|urldecode}" /> <input value="搜索"
			class="xinbuton" type="submit"
			onClick="sousuo('{:U('borrow/debting','','')}" />
	</div>
	<div class="t20">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="tabyel">
			<tr class="ytit">
				<td colspan="10">可以转让的债权</td>
			</tr>
			<form action="" method="post">
				<tr class="ytit1">
					<td>借款者</td>
					<td>借款标</td>
					<td>借出总额</td>
					<td>收益总额</td>
					<td>已收总额</td>
					<td>待收总额</td>
					<td>已收利息</td>
					<td>待收利息</td>
					<td>未还期数/总期数</td>
					<td>操作</td>
				</tr>

				<foreach name="list" item="item">
				<tr>
					<td>{$item.nikename}</td>
					<td><a href="{:U('Index/index?site=full_success&nid='.$item['borrow_nid'])}" target="_blank">{$item.borrow_name}</a></td>
					<td>￥{$item.account}</td>
					<td>￥{$item.recover_account_all}</td>
					<td>￥{$item.recover_account_yes}</td>
					<td>￥{$item.recover_account_wait }</td>
					<td>￥{$item.recover_account_interest_yes }</td>
					<td>￥{$item.recover_account_interest_wait }</td>
					<td>{$item.norepay_num|default=0}期/<lt name="item.borrow_period" value="1">1<else/>{$item.borrow_period}</lt>期</td>
					<td><if condition="$item.change_no eq 1"> 有逾期出现不能转让。 <else />
						<if condition="$item.change_status eq 2">正在转让 <elseif condition="$item.change_status eq 3" /> 转让申请 <elseif condition="$item.change_status eq 4" /> 转让网站中 <elseif condition="$item.change_status eq 1" /> 已转让 <else /> <gt name="item.recover_account_wait" value="0">
						<a href="#" onclick="JqueryAjaxs('{:U('borrow/change?id='.$item['id'].'&account='.$item['recover_account_capital_wait'])}');">债权转让</a>
						<else /> -</gt> </if> </if></td>
				</tr>
				</foreach>
			</form>
		</table>
	</div>
	<div style="padding: 10px 0; text-align: center">{$page}</div>
</div>
<!--借出明细 结束-->
