<div class="footer">
  <div class="footer_con">
    <div class="footer_top">
    <div style="float: left;width:233px;_display: inline;">
     <div class="footer_logo" style="width:100%;_display: inline;"><img src="{$tpldir}images/footlogo.png"/></div>
     <div class="footer_top_kefu" style="width:233px;_display: inline;margin-right:0px">
        <ul>
          <li>客服电话 (服务时间 9:00-21:00)</li>
          <li><strong>{$_G.system.con_contact}</strong></li>
        </ul>
      </div>
    </div>

    <div style="float: left;width:760px;_display: inline;">
      <div class="footer_top_dl">
       
						<dl>
							<dt><a href="javascript:()">关于我们</a></dt>
							<dd><a href="{:U('Index/index?site=gsjj')}">公司介绍</a></dd>
					        <dd><a href="{:U('Index/index?site=zxns')}">公司执照</a></dd>
							<dd><a href="{:U('Index/index?site=contact')}">联系我们</a></dd>
						</dl>
       <dl>
							<dt><a href="javascript:()">新手上路</a></dt>
							<dd><a href="{:U('Index/index?site=invest')}">如何投资</a></dd>
							<dd><a href="{:U('account/recharge_new')}">充值问题</a></dd>
							<dd><a href="{:U('account/logs')}">资金管理</a></dd>
						</dl>
       <dl>
							<dt><a href="javascript:()">安全保障</a></dt>
							<dd><a href="{:U('Index/index?site=fxgk')}">风险管控</a></dd>
							<dd><a href="{:U('Index/index?site=hetong&id=4')}">服务协议</a></dd>
							<dd><a href="{:U('Index/index?site=hetong&id=5')}">隐私条款</a></dd>
						</dl>
        <dl>
          <dt><a href="javascript:()">金融服务</a></dt>
         <dd><a href="{:U('account/tender_count')}">投资统计</a></dd>
							<dd><a href="{:U('approve/myapp')}">认证管理</a></dd>
							<dd><a href="{:U('Index/index?site=fees')}">资费说明</a></dd>
        </dl>
      </div>
      
      <div class="footer_top_kefu1"> <img src="{$tpldir}longbao/images/weixin.jpg" width="117 "/> </div>
      </div>
      <div class="copyright_main"> <span>地址：{$_G.system.con_compAddress};{$_G.system.con_recordInfo};{$_G.system.con_beian}{$_G.system.con_tongji|htmlspecialchars_decode}</span> </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!--footer部分结束--> 
</body></html>