
<div class="m_change">
	<ul>
		<li><a href="{:U('borrow/gettender')}">投标中的借款</a></li>
		<li><a href="{:U('borrow/success?type=wait')}">回收中的借款</a></li>
		<li><a href="{:U('borrow/gathering?type=wait')}">未收款明细账</a></li>
		<li><a href="{:U('borrow/gathering?type=yes')}">已收款明细账</a></li>
		<li><a href="{:U('borrow/before')}">转让前收款明细</a></li>
		<li><a href="{:U('borrow/lenddetail')}" class="onn">借出明细账</a></li>
		<li><a href="{:U('borrow/success?type=yes')}">回收完的借款</a></li>
	</ul>
</div>
<div class="us_r_bor1">
	<div class="t20">
		发布时间： <input type="text" name="dotime1" id="dotime1"
			value="{$Think.request.dotime1}" size="15" onclick="laydate();" /> 到
		<input type="text" name="dotime2" value="{$Think.request.dotime2}"
			id="dotime2" size="15" onclick="laydate();" /> 关键字： <input
			type="text" name="keywords" id="keywords" size="15"
			value="{$Think.request.keywords|urldecode}" /> <input value="搜索"
			class="xinbuton" type="submit"
			onclick="sousuo('{:U('borrow/lenddetail','','')}')" />
	</div>
	<div class="t20">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="tabyel">
			<tr class="ytit">
				<td colspan="11">借出明细账</td>
			</tr>
			<form action="" method="post">
				<tr class="ytit1">
					<td>借款者</td>
					<td>借款标</td>
					<td>借出总额</td>
					<td>收益总额</td>
					<td>已收总额</td>
					<td>待收总额</td>
					<td>已收利息</td>
					<td>待收利息</td>
					<td>已还期数/总期数</td>
					<td>备注</td>
				</tr>

				<foreach name="list" item="item">
				<tr>
					<td>{$item.nikename}</td>
					<td><a href="{:U('Index/index?site=full_success&nid='.$item['borrow_nid'])}"
						target="_blank">{$item.borrow_name}</a></td>
					<td>￥{$item.account}</td>
					<td>￥{$item.recover_account_all}</td>
					<td><if condition="$item.change_status eq 1">￥{$item.recover_account_yes_all}<else />￥{$item.recover_account_yes}</if></td>
					<td><if condition="$item.change_status eq 1">0<else />￥{$item.recover_account_wait}</if></td>
					<td><if condition="$item.change_status eq 1">￥{$item.recover_interest_yes_all}<else />￥{$item.recover_account_interest_yes}</if></td>
					<td><if condition="$item.change_status eq 1">0<else />￥{$item.recover_account_interest_wait}</if></td>
					<td><if condition="$item.change_status eq 1">{$item.count_all|default=0.00}期/{$item.borrow_period}期<else />{$item.recover_times|default=0.00}期/{$item.borrow_period}期</if></td>
					<td><if condition="$item.change_status eq 1">已转让<else />-</if></td>
				</tr>
				</foreach>
			</form>
		</table>
	</div>
	<div style="padding: 10px 0; text-align: center">{$pages}</div>
</div>
<script type="text/javascript">
var url = "{:U('borrow/gathering','','')}";
function sousuo(urla){
	if (urla!="") url = urla;


	var _url = "";


	var dotime1 = $("#dotime1").val();


	var keywords = $("#keywords").val();


	var username = $("#username").val();


	var status = $("#status").val();


	var reply_status = $("#reply_status").val();


	var tender_username = $("#tender_username").val();


	var dotime2 = $("#dotime2").val();


	if (username!=''){


		 _url += "/username/"+username;


	}


	if (tender_username!=''){


		 _url += "/tender_username/"+tender_username;


	}


	if (status!=''){


		 _url += "/status/"+status;


	}


	if (reply_status!=''){


		 _url += "/reply_status/"+reply_status;


	}


	if (keywords!=''){


		 _url += "/keywords/"+keywords;


	}


	if (dotime1!=''){


		 _url += "/dotime1/"+dotime1;


	}


	if (dotime2!=''){


		 _url += "/dotime2/"+dotime2;


	}


	location.href=url+_url;


}





</script>
