<include file="$header" />
<div class="bodyer clearfix">
       	    	<div class="form-container box1000 mian">
					<div class="mianleft">
                    	          	<dl class="sidebar">
            	<dt>
                
              <div class="hos">使用须知USE</div>
                
                
                </dt>
                <dd>
                	<ul>
                    <foreach name="_G.site_sub_list_1" item="_item" >
                     
                        <li><a href="{:U('Index/index?site='.$_item['nid'])}" <eq name="_G.site_result.nid" value="$_item['nid']">style="color:#f3927f"</eq>>{$_item.name}</a></li>
                        </foreach>
                        
                    </ul>
                </dd>
            </dl>
            <dl class="sidebar">
             <div class="hos">新闻中心NEWS</div>
                <dd>
                	<ul>
                    	 <foreach name="_G.site_sub_list_7" item="_item" >
                     
                        <li><a href="{:U('Index/index?site='.$_item['nid'])}" <eq name="_G.site_result.nid" value="$_item['nid']">style="color:#f3927f"</eq>>{$_item.name}</a></li>
                        </foreach>
                    </ul>
                </dd>
            </dl>
            <dl class="sidebar">
            	 <div class="hos">关于我们ABOUT</div>
                <dd>
                	<ul>
                    	 <foreach name="_G.site_sub_list_10" item="_item" >
                     
                        <li><a href="{:U('Index/index?site='.$_item['nid'])}" <eq name="_G.site_result.nid" value="$_item['nid']">style="color:#f3927f"</eq>>{$_item.name}</a></li>
                        </foreach>
                    </ul>
                </dd>
            </dl>
 
                    </div>
                    <div class="mianright"><style type="text/css">
                    .mianright p{  text-align:left}
                    </style>
             	<h2><span><a href="/">首页</a> > {$_G.site_result.name} > {$_G.articles_result.name}</span></h2>
                        <p><img src="{$tpldir}zhuliu/images/about_02.jpg" width="650" height="130" /></p>
                        <div style="text-align:left"><p> {$_G.articles_result.contents|htmlspecialchars_decode}</p></div>
                    </div>	
                </div>

            </div>
<div class="cle"></div>
<include file="$footer" />