<include file="$header" />
<empty name="_G.user_id"> <script>
	window.onload=function()
	{
	 
      $('#element_to_pop_up').bPopup({
            speed: 650,
            transition: 'slideIn',
	    transitionClose: 'slideBack'
        });   
        
	setTimeout("location.href='{:U('Index/login')}'",2000);
	}
	</script> </empty>
<div class="con_box">
  <div>
    <div class="con_bor">
      <div class="pos_bor"> <span><a href="{:U('borrow/index')}">我要借款</a> > 借款认证</span> </div>
      <div class="con2">
        <div style="width: 897px; margin: 20px auto">
          <div style="margin: 20px 0">
            <div class="m_change">
              <ul>
                <li><a href="{:U('Approve/realname')}" <eq name="ACTION_NAME" value="realname">class="onn"</eq> >实名认证</a></li>
                <li><a href="{:U('Approve/phone_status')}"  <eq name="ACTION_NAME" value="phone_status">class="onn"</eq> >手机认证</a></li>
                <li><a href="{:U('Approve/video_status')}" <eq name="ACTION_NAME" value="video_status">class="onn"</eq> >视频认证</a></li>
              </ul>
            </div>
            <div style="padding: 20px 80px">
 <if condition="$_G['user_info']['phone_status'] eq 0">
                <if condition="$Think.request.phone neq ''">
                  <form action="{:U('approve/phone_status')}" method="post" name="formx" id="formx">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="jk_tab" id="checksms">
                      <tr>
                        <td width="24%" align="right"><span>*</span>手机号码：</td>
                        <td width="76%" align="left"><span>{$Think.request.phone}</span></td>
                      </tr>
                      <tr>
                        <td width="24%" align="right"><span>*</span>输入短信验证码：</td>
                        <td width="76%" align="left"><input type="text" name="sms_code" style="width: 150px; border: #BFBFBF solid 1px; height: 18px;" />
                          <input name="phone_new" type="hidden" value="{$Think.request.phone}"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" name="submit" value="提交并继续" class="btn1" /></td>
                      </tr>
                    </table>
                  </form>
                  <script>
function formck(){
	var frm = document.forms['formx'];
	var sms_code = frm.elements['sms_code'].value;
	var errorMsg = '';
	if (sms_code.length == 0 ) {
		errorMsg += '* 验证码不能为空' + '\n';
	}
	if (errorMsg.length > 0){
		alert(errorMsg); return false;
	}else{  
		return true;
	}
}
</script>
  <else />
                  <script>
function checksms(){
	
  var newphone=$("#phone").val();
  if (newphone==""){
		alert("请填写手机号码！");
		return false;
	  }
  $.get("{:U('Users/checkphone')}",{phone:newphone},function(result){
		if (result==true){
			alert("手机号码已存在！");
			return false;
		}else{
		  $.post("{:U('Approve/phone_status')}",{phone:newphone},function(data){
			  location.href='{:U("Approve/phone_status","","")}/phone/'+newphone;
		});
		}
	});
}
</script>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0"
								class="jk_tab" id="newphonetable">
                    <tr>
                      <td width="24%" align="right"><span>*</span>手机号码：</td>
                      <td width="76%" align="left"><input type="text"
										name="phone" id="phone"
										style="width: 150px; border: #BFBFBF solid 1px; height: 18px;" /></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><input type="submit" name="submit"
										onclick="checksms()" value="获取验证码" class="btn1" /></td>
                    </tr>
                  </table>
                </if>
                <elseif condition="$_G['user_info']['phone_status'] eq 1" />
                <if condition="$Think.request.new_phone neq ''">
                  <form action="{:U('approve/phone_status')}" method="post" name="formx" id="formx">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0"
									class="jk_tab" id="checksms">
                      <tr>
                        <td width="24%" align="right"><span>*</span>旧手机号码：</td>
                        <td width="76%" align="left"><span>{$_G.user_info.phone}<input name="phone_old" type="hidden" value="{$_G.user_info.phone}"></span></td>
                      </tr>
                      <tr>
                        <td width="24%" align="right"><span>*</span>新手机号码：</td>
                        <td width="76%" align="left"><span>{$Think.request.new_phone}</span></td>
                      </tr>
                      <tr>
                        <td width="24%" align="right"><span>*</span>输入短信验证码：</td>
                        <td width="76%" align="left"><input type="text" name="sms_code" style="width: 150px; border: #BFBFBF solid 1px; height: 18px;" />
                          <input name="phone_new" type="hidden" value="{$Think.request.new_phone}"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" name="submit" value="提交并继续" class="btn1" /></td>
                      </tr>
                    </table>
                  </form>
                  <script>
function formck(){
	var frm = document.forms['formx'];
	var sms_code = frm.elements['sms_code'].value;
	var errorMsg = '';
	if (sms_code.length == 0 ) {
		errorMsg += '* 验证码不能为空' + '\n';
	}
	if (errorMsg.length > 0){
		alert(errorMsg); return false;
	}else{  
		return true;
	}
}
</script>
                  <else />
                  <div class="user_main_title1"> <font color="#FF0000">*</font>您已通过手机认证！<br />
                  </div>
                  <script>
function checksms(){

  var newphone=$("#phone").val();
  if (newphone==""){
		alert("请填写手机号码！");
		return false;
	  }
	 
  $.post("{:U('users/checkphone')}",{phone:newphone},function(result){
		if (result==true){
			alert("手机号码已存在！");
			return false;
		}else{
		  $.post("{:U('approve/phone_status')}",{new_phone:newphone},function(data){
		     if (data==1){
			  location.href='{:U("approve/phone_status","","")}'+'/new_phone/'+newphone;
			  }else{
			  alert(data);
			  return false;
			  }
		  });
		}
	});
}
</script>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0"
								class="jk_tab" id="newphonetable">
                    <tr>
                      <td width="14%" align="right" style="text-align: right;"><span>*</span>新手机号码：</td>
                      <td width="76%" align="left"><input type="text"
										name="phone" id="phone"
										style="width: 150px; border: #BFBFBF solid 1px; height: 18px;" /></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><input type="submit" name="submit" onclick="checksms()" value="获取验证码" class="btn1" />
                        ，验证码会发至{$_G.user_info.phone}</td>
                    </tr>
                  </table>
                </if>
                <elseif condition="$_G['user_info']['phone_status'] eq 2">
                <font color="#FF0000"></font>您未通过手机认证！请与管理员联系<br />
              </if>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="$footer" />