<include file="$header" />
<div class="bodyer clearfix">
	<if condition="$Think.request.type eq 'email'">

	<div class="regist clearfix  box1000">

		<dl class="reg">
			<dt>
				<img src="{$tpldir}new/images/login_04.jpg"
					style="margin-left: 40px" />
			</dt>
			<dt>
				<div
					style="padding: 40px; padding-bottom: 0px; margin-left: 6px; padding-left: 0px; padding-top: 0px;">
					<div
						style="line-height: 40px; padding: 25px; padding-bottom: 20px; padding-left: 0px; width: 964px;">
						<div style="width: 675px; margin: 20px auto;">
							<div style="color: #ff7978; line-height: 28px; font-size: 14px">{$_G.user_result.email}将收到一封认证邮件，登录您的邮箱查收，并点击邮件中的链接，完成激活。激活成功后，
								可以使用站内所有功能，再次感谢你的加入。【{$_G.system.con_webname}系统】</div>
							<div style="text-align: center; margin-top: 15px;">
								<a href="{$_U.emailurl}" target="_blank" style="background: #fb776e; color: #fff; display: block; height: 30px; line-height: 30px; margin: 0 auto; width: 120px;">登录邮箱激活</a>
							</div>

							<div style="margin-top: 25px; font-size: 14px">
								如果20分钟内没有收到激活邮件，请查看你信箱的垃圾邮箱，依然没有收到请重新发送。【{$_G.system.con_webname}系统】<br />
								<input type="text" name="email" id="email"
									value="{$_G.user_result.email}" readonly="readonly"
									style="width: 250px; border: #BFBFBF solid 1px; height: 30px; background: none; text-indent: 10px" />
								<input type="button" name="submit" value="重新发送"
									onClick="sendemail()" class="xinbuton"
									style="background: #2cace7; border: none; color: #fff; font-family: '微乳雅黑'; font-size: 12px; height: 30px; width: 70px;" />


								<script>

function sendemail(){
  var newemail=$("#email").val();
  $.get("{:U('index/reg?type=sendemail')}",{checkemail:newemail},function(result){
		alert(result);
  });
}
</script>

							</div>

							<div style="margin-top: 15px; font-size: 14px">
								等待激活时间，您还可以去这里看看：<a href="{:U('invest/index?nid=invest')}"
									style="color: #025ED0; font-size: 14px; text-decoration: underline"
									target="_blank">我要投资</a> <a href="{:U('borrow/index')}"
									style="color: #025ED0; font-size: 14px; text-decoration: underline"
									target="_blank">我要借款</a> <a href="{:U('users/index')}"
									style="color: #025ED0; font-size: 14px; text-decoration: underline"
									target="_blank">用户中心</a>
							</div>
						</div>
					</div>

				</div>
			</dt>
		</dl>

	</div>
	<else />
	<form action="" method="post" id="reg_form_h" name="reg_form_h"
		onsubmit="return check_reg();">


		<div class="reg_box">
			<div id="reg_title"></div>
			<p class="go-login">
				已有账号？<a href="{:U('Index/login')}" style="color: #058bcb">立即登录</a>
			</p>
			<div class="control_group mb10">
				<label class="control_label"> <em>*</em>邮箱账号
				</label>
				<div class="controls">
					<input type="text" placeholder="请输入邮箱"
						onblur="checkEmail(this.value,'{:U('index/reg')}');" name="email"
						id="email" class="inputBox" value=""> <span class="wrong"><em
						id="email_notice">邮件地址不能为空</em></span>
				</div>
			</div>
			<div class="control_group mb10">
				<label class="control_label"> <em>*</em>用户账号
				</label>
				<div class="controls">
					<input type="text" id="username" name="username"
						onblur="checkUsername(this.value,'{:U('index/reg')}');" placeholder="请输入用户名" value="" class="inputBox"> <span class="wrong"><em id="username_notice">请输入3-15位字符</em></span>
				</div>
			</div>
             <div class="control_group mb10">
				<label class="control_label"><em>*</em>用户昵称</label>
				<div class="controls">
				 <input type="text" id="niname" name="niname"  onblur="checkNiname(this.value,'{:U('index/reg')}');" placeholder="请输入昵称" value="" class="inputBox">
								  <span class="wrong"><em id="niname_notice">请输入1-15位字符</em></span>
								</div>
							</div>
			<div class="control_group mb10">
				<label class="control_label"> <em>*</em>登录密码
				</label>
				<div class="controls">
					<input type="password" placeholder="请输入密码" code="ie_psw1" name="password" onblur="checkPassword(this.value);" class="password_first inputBox password_new" id="password">
					<span class="wrong"><em id="password_notice">密码不能少于6个由数字与字母组成的字符</em></span>

				</div>
			</div>
			<div class="control_group mb10">
				<label class="control_label"> <em>*</em>重复密码
				</label>
				<div class="controls">
					<input type="password" placeholder="确认密码" code="ie_psw1" class="password_again inputBox password_new" name='confirm_password' id='conform_password' onblur="checkConformPassword(this.value);"> <span class="wrong"><em id="conform_password_notice">密码不能少于6个由数字与字母组成的字符</em></span>
				</div>
			</div>
			<div class="control_group mb10 yanzhen">
				<label class="control_label"> <em></em>推荐码
				</label>
				<div class="controls">
					&nbsp;<input type="text" class="inputBox" style="padding-left: 10px;" name='invite_usercode' id='invite_usercode' value="{$Think.request.reginvite_code}">

				</div>
			</div>
			<div class="control_group mb10 yanzhen">

				<label class="control_label"> <em>*</em>验证码 </label>

				<div class="controls">
					<input type="text" placeholder="请输入验证码" class="inputBox mini" name="valicode"> &nbsp; &nbsp;<em class=user_action_error><img src="{:U('index/verify')}" id="valicode" alt="点击刷新" onClick="this.src='{:U('index/verify','','')}/'+ Math.random();" align="absmiddle" style="cursor: pointer; width: 100px; height: 40px;" />点击验证码刷新</em>
				</div>

			</div>
			<div class="control_group mb10 xieyi">
				<label class="control_label"></label>
				<div class="controls">
					<input name="tiaoli" checked="checked" type="checkbox">
					我已阅读并同意 <a href="{:U('Index/index?site=hetong&id=5')}"
						class="registerArticle">《隐私条款》</a>

				</div>
			</div>
			<div class="control_group mb10">
				<label class="control_label"></label>
				<div class="controls">
					<button class="btn_large btn" id="submit" type="submit">立即注册</button>
					<input name="invite_user_id" type="hidden"
						value="{$reginvite_user_id}" />
				</div>
			</div>
		</div>


	</form>

	<literal> <script>

function check_reg(obj){
var reg_err=userReg();
if(reg_err==true){
	 var frm = document.forms['reg_form_h'];
     var valicode = frm.elements['valicode'].value;
	 if (valicode.length == 4 ) {
	 return true;
	 }else{
		  alert("请输入4位数验证码!");
		   return false;
	 }
 }else{
	 alert("请输入正确的信息进行注册!");
	return false;
	 
 }
}
</script> </literal> </if>
</div>
<include file="$footer" />