
<div class="m_change">
	<ul>
		<li><a href="{:U('users/reginvite')}">邀请好友</a></li>
		<li><a href="{:U('users/reginvite_tender')}" class="onn">推荐投资记录</a></li>
		<li><a href="{:U('users/myfriend')}">我的好友</a></li>
	</ul>
</div>
<div class="us_r_bor1">
	<div class="t20">
		发布时间： <input type="text" name="dotime1" id="dotime1" value="{$Think.request.dotime1}" size="15" onclick="laydate();" /> 到
		<input type="text" name="dotime2" value="{$Think.request.dotime2}" id="dotime2" size="15" onclick="laydate();" /> 标题： <input type="text" name="keywords" id="keywords" size="15" value="{$Think.request.keywords|urldecode}" /> <input value="搜索" class="xinbuton" type="submit" onclick="sousuo('{:U('users/reginvite_tender','','')}')" />
	</div>
	<div class="t20">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="tabyel">
			<form action="" method="post">
				<tr class="ytit">
					<td colspan="10">推荐人投资记录</td>
				</tr>
				<tr class="ytit1">
					<td>借款者</td>
					<td>投资人</td>
					<td>标题</td>
					<td>借款类型</td>
					<td>借款者等级</td>
					<td>年利率</td>
					<td>期限</td>
					<td>投资金额</td>
					<td>进度</td>
					<td>状态</td>
				</tr>


				<foreach name="list" item="item">
				<tr>
					<td>{$item.borrow_niname}</td>
					<td>{$item.t_nikename}</td>
					<td title="{$item.name}"><a href="{:U('Index/index?site=full_success&nid='.$item['borrow_nid'])}" target="_blank">{$item.name}</a></td>
					<td><if condition="$item.vouch_status eq 1">担保标<elseif condition="$item.is_jin eq 1" />净值标<elseif condition="$item.is_flow eq 1" />流转标<elseif condition="item.fast_status eq 1" />快借标<else />普通标</if></td>
					<td>{$item.credit.approve_credit|credit="credit",###}</td>
					<td>{$item.borrow_apr}%</td>
					<td>{$item.borrow_period|linkages="borrow_period",###}</td>
					<td>￥{$item.tender_account}</td>
					<td>{$item.borrow_account_scale}%</td>
					<td><eq name="item.spread" value="0"><if condition="$item.is_Seconds eq 1">秒标不奖励<else/>未奖励 </if><else/>
                    
                    已奖励</eq></td>
				</tr>
				</foreach>
			</form>
			<script type="text/javascript">


var url = "{:U('users/reginvite_tender','','')}";





function sousuo(urla){


	if (urla!="") url = urla;


	var _url = "";


	var dotime1 = $("#dotime1").val();


	var keywords = $("#keywords").val();


	var username = $("#username").val();


	var status = $("#status").val();


	var reply_status = $("#reply_status").val();


	var tender_username = $("#tender_username").val();


	var dotime2 = $("#dotime2").val();


	if (username!=''&&username!=null){


		 _url += "/username/"+username;


	}


	if (tender_username!=''&&tender_username!=null){


		 _url += "/tender_username/"+tender_username;


	}


	if (status!=''&&status!=null){


		 _url += "/status/"+status;


	}


	if (reply_status!=''&&reply_status!=null){


		 _url += "/reply_status/"+reply_status;


	}


	if (keywords!=''&&keywords!=null){


		 _url += "/keywords/"+keywords;


	}


	if (dotime1!=''&&dotime1!=null){


		 _url += "/dotime1/"+dotime1;


	}


	if (dotime2!=''&&dotime2!=null){


		 _url += "/dotime2/"+dotime2;


	}


	location.href=url+_url;


}





</script>
		</table>
	</div>
	<div style="padding: 10px 0; text-align: center">{$page}</div>
	<!--好友请求 结束-->
</div>
