<div class="m_change">
	<ul>
		<li><a href="{:U('borrow/repayment')}"<eq name="ACTION_NAME" value="repayment">class="onn"</eq>>还款中的借款</a></li>
		<li><a href="{:U('borrow/repaymentplan')}">还款明细账</a></li>
		<li><a href="{:U('borrow/loandetail')}">借款明细账</a></li>
		<li><a href="{:U('borrow/repaymentyes')}"<eq name="ACTION_NAME" value="repaymentyes">class="onn"</eq>>已还清的借款</a></li>
	</ul>
</div>
<div class="us_r_bor1">
	<!--正在还款的借款 开始-->

	<div class="t20">
		<div>
			发布时间： <input type="text" name="dotime1" id="dotime1" value="{$Think.request.dotime1}" size="15" onClick="laydate();" /> 到
			<input type="text" name="dotime2" value="{$Think.request.dotime2}" id="dotime2" size="15" onClick="laydate();" /> 关键字： <input type="text" name="keywords" id="keywords" size="15" value="{$Think.request.keywords|urldecode}" /> <input value="搜索" class="xinbuton" type="submit" onClick="sousuo('{:U(CONTROLLER_NAME.'/'.ACTION_NAME,'','')}" />
		</div>
	</div>
	<div class="t20">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="tabyel">
			<form action="" method="post">
<eq name="ACTION_NAME" value="repayment">
				<tr class="ytit">
					<td colspan="11">正在还款的借款</td>
				</tr>
				<tr class="ytit1">
					<td>标题</td>
					<td>协议</td>
					<td>借款类型</td>
					<td>借款金额</td>
					<td>年利率</td>
					<td>还款期限</td>
					<td>借款时间</td>
					<td>偿还本息</td>
					<td>已还本息</td>
					<td>未还本息</td>
					<td>操作</td>
				</tr>

				<foreach name="list" item="item">
				<tr>
					<td title="{$item.name}"><a href="{:U('Index/index?site=full_success&nid='.$item['borrow_nid'])}" target="_blank">{$item.name}</a></td>
					<td><a href="{:U('Index/index?site=protocol&nid='.$item['borrow_nid'])}" target="_blank">查看协议</a></td>
					<td><if condition="$item.vouch_status eq 1">担保标<elseif condition="$item.is_jin eq 1" />净值标<elseif condition="$item.is_flow eq 1" />流转标<elseif condition="$item.fast_status eq 1" />快借标<else />普通标</if></td>
					<td>{$item.account}(元)</td>
					<td>{$item.borrow_apr} %</td>
					<td>{$item.borrow_period|linkages="borrow_period",###}</td>
					<td>{$item.addtime|date="Y-m-d",###}</td>
					<td>￥{$item.repay_account_all}</td>
					<td>￥{$item.repay_account_yes|default=0.00}</td>
					<td>￥{$item.repay_account_wait}</td>
					<td><a
						href="{:U('borrow/repayment_view?borrow_nid='.$item['borrow_nid'])}">还款明细</a></td>
				</tr>
				</foreach> 
 <else />

				<tr class="ytit">
					<td colspan="11">已还完的借款</td>
				</tr>
				<tr class="ytit1">
					<td>标题</td>
					<td>协议</td>
					<td>借款类型</td>
					<td>借款金额</td>
					<td>年利率</td>
					<td>还款期限</td>
					<td>借款时间</td>
					<td>偿还本息</td>
					<td>已还本息</td>
					<td>已还逾期罚息</td>
					<td>操作</td>
				</tr>
				<foreach name="list" item="item">
				<tr>
					<td title="{$item.name}"><a href="{:U('Index/index?site=full_success&nid='.$item['borrow_nid'])}" target="_blank">{$item.name}</a></td>
					<td><a href="{:U('Index/index?site=protocol&nid='.$item['borrow_nid'])}" target="_blank">查看协议</a></td>
					<td><if condition="$item.vouch_status eq 1">担保标<elseif condition="$item.is_jin eq 1" />净值标<elseif condition="$item.is_flow eq 1" />流转标<elseif condition="$item.fast_status eq 1" />快借标<else />普通标</if></td>
					<td>{$item.account}(元)</td>
					<td>{$item.borrow_apr} %</td>
					<td>{$item.borrow_period|linkages="borrow_period",###}</td>
					<td>{$item.addtime|date="Y-m-d",###}</td>
					<td>￥{$item.repay_account_all}</td>
					<td>￥{$item.repay_account_yes|default=0.00}</td>
					<td>￥{$item.late_interest|default=0.00}</td>
					<td><a
						href="{:U('borrow/repayment_view?borrow_nid='.$item['borrow_nid'])}">还款明细</a></td>
				</tr>
				</foreach> 
                </eq>
			</form>
		</table>
	</div>
	<div style="padding: 10px 0; text-align: center">{$page}</div>
</div>
<!--正在还款的借款 结束-->
<script type="text/javascript">
var url = "{:U(CONTROLLER_NAME.'/'.ACTION_NAME,'','')}";
function sousuo(urla){
	if (urla!="") url = urla;


	var _url = "";


	var dotime1 = $("#dotime1").val();


	var keywords = $("#keywords").val();


	var username = $("#username").val();


	var status = $("#status").val();


	var reply_status = $("#reply_status").val();


	var tender_username = $("#tender_username").val();


	var dotime2 = $("#dotime2").val();


	if (username!=''&&username!=null){


		 _url += "/username/"+username;


	}


	if (tender_username!=''&&tender_username!=null){


		 _url += "/tender_username/"+tender_username;


	}


	if (status!=''&&status!=null){


		 _url += "/status/"+status;


	}


	if (reply_status!=''&&reply_status!=null){


		 _url += "/reply_status/"+reply_status;


	}


	if (keywords!=''&&keywords!=null){


		 _url += "/keywords/"+keywords;


	}


	if (dotime1!=''&&dotime1!=null){


		 _url += "/dotime1/"+dotime1;


	}


	if (dotime2!=''&&dotime2!=null){


		 _url += "/dotime2/"+dotime2;


	}


	location.href=url+_url;


}





</script>
