
<div class="m_change">
	<ul>
		<li><a href="{:U('borrow/gettender')}">投标中的借款</a></li>
		<li><a href="{:U('borrow/success?type=wait')}" <if condition="($Think.request.type eq 'wait') AND (ACTION_NAME eq 'success')">class="onn"</if>>回收中的借款</a></li>
		<li><a href="{:U('borrow/gathering?type=wait')}" <if condition="($Think.request.type eq 'wait') AND (ACTION_NAME eq 'gathering')"> class="onn"</if>>未收款明细账</a></li>
		<li><a href="{:U('borrow/gathering?type=yes')}" <if condition="($Think.request.type eq 'yes') AND (ACTION_NAME eq 'gathering')"> class="onn"</if>>已收款明细账</a></li>
		<li><a href="{:U('borrow/before')}" <if condition="ACTION_NAME eq 'before'"> class="onn"</if>>转让前收款明细</a></li>
		<li><a href="{:U('borrow/lenddetail')}" <if condition="ACTION_NAME eq 'lenddetail'"> class="onn"</if>>借出明细账</a></li>
		<li><a href="{:U('borrow/success?type=yes')}" <if condition="($Think.request.type eq 'yes') AND (ACTION_NAME eq 'success')"> class="onn"</if>>回收完的借款</a></li>
	</ul>
</div>
<div class="us_r_bor1">
	<div class="t20">
		发布时间： <input type="text" name="dotime1" id="dotime1" value="{$Think.request.dotime1}" size="15" onclick="laydate();" /> 到
		<input type="text" name="dotime2" value="{$Think.request.dotime2}" id="dotime2" size="15" onclick="laydate();" /> 标题： <input type="text" name="keywords" id="keywords" size="15" value="{$Think.request.keywords|urldecode}" /> <input value="搜索" class="xinbuton" type="submit" onclick="sousuo('{:U('borrow/success?type='.$_REQUEST['type'],'','')}')" />
	</div>
	<div class="t20">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="tabyel">
			<form action="" method="post">
				<tr class="ytit">
					<td colspan="9"><if condition="$Think.request.type eq 'yes'">回收完的借款<else />回收中的借款</if></td>
				</tr>
				<tr class="ytit1">
					<td>借款者</td>
					<td>标题</td>
					<td>借款类型</td>
					<td>借款者等级</td>
					<td>年利率</td>
					<td>期限</td>
					<td>投资金额</td>
					<td>已收金额</td>
					<td>协议书</td>


				</tr>


				<foreach name="list" item="item">
				<tr>
					<td>{$item.nikename}</td>
					<td title="{$item.name}"><a href="{:U('Index/index?site=full_success&nid='.$item['borrow_nid'])}" target="_blank">{$item.nikename}</a></td>
					<td>{$item.borrow_style|linkages="borrow_style",###}</td>
					<td>{$item.credit.approve_credit|credit="credit",###}</td>
					<td>{$item.borrow_apr|linkages="borrow_apr",###}%</td>
					<td>{$item.borrow_period|linkages="borrow_period",###}</td>
					<td>￥{$item.tender_account}</td>
					<td>￥{$item.recover_account_yes|default=0.00}</td>
					<td><a href="{:U('index/index?site=protocol&nid='.$item['borrow_nid'])}"
						target="_blank">查看协议书</a></td>
				</tr>
				</foreach>
			</form>
		</table>
	</div>
	<div style="padding: 10px 0; text-align: center">{$page}</div>


	<script type="text/javascript">
var url = "{:U('borrow/success?type='.$_REQUEST['type'],'','')}";
function sousuo(urla){
	if (urla!="") url = urla;


	var _url = "";


	var dotime1 = $("#dotime1").val();


	var keywords = $("#keywords").val();


	var username = $("#username").val();


	var status = $("#status").val();


	var reply_status = $("#reply_status").val();


	var tender_username = $("#tender_username").val();


	var dotime2 = $("#dotime2").val();


	if (username!=''){


		 _url += "/username/"+username;


	}


	if (tender_username!=''){


		 _url += "/tender_username/"+tender_username;


	}


	if (status!=''){


		 _url += "/status/"+status;


	}


	if (reply_status!=''){


		 _url += "/reply_status/"+reply_status;


	}


	if (keywords!=''){


		 _url += "/keywords/"+keywords;


	}


	if (dotime1!=''){


		 _url += "/dotime1/"+dotime1;


	}


	if (dotime2!=''){


		 _url += "/dotime2/"+dotime2;


	}


	location.href=url+_url;


}





</script>
</div>
