<include file="$header" />
<div class="clearfix con_box">
	<div class="mi_content">
		<div class="mi_c_left">
			<dl class="vipcenter_left">
				<dt>
					<a href="#">管理中心</a>
				</dt>
				<dd>
					<a href="{:U('Users/index')}"<if condition="ACTION_NAME eq 'index'">style="color:#e36d55;font-weight:bold"</if> >帐号管理</a>
				</dd>
				<dd>
					<a href="{:U('Account/logs')}"<if condition="(ACTION_NAME eq 'logs')  OR (ACTION_NAME eq 'recharge_new') OR (ACTION_NAME eq 'cash_new')">style="color:#e36d55;font-weight:bold"</if> >资金情况</a>
				</dd>
				<dd>
					<a href="{:U('approve/myapp')}"<if condition="ACTION_NAME eq 'myapp'">style="color:#e36d55;font-weight:bold"</if> >认证中心</a>
				</dd>
				<dd>
					<a href="{:U('Attestations/index')}">资料审核</a>
				</dd>
				<dd>
					<a href="{:U('approve/recommend')}"<if condition="ACTION_NAME eq 'recommend'">style="color:#e36d55;font-weight:bold"</if> >推荐申请</a>
				</dd>
				<dd>
					<a href="{:U('Message/index')}"<if condition="MODULE_NAME eq 'Message'">style="color:#e36d55;font-weight:bold"</if> >站内信({$_G.message_result.message_no|default='0'})</a>
				</dd>
				<dt>
					<a href="#">投资管理</a>
				</dt>
				<dd>
					<a href="{:U('borrow/gettender')}"<if condition="ACTION_NAME eq 'gettender'">style="color:#e36d55;font-weight:bold"</if>>我的投标</a>
				</dd>
				<dd>
					<a href="{:U('borrow/care')}"<if condition="ACTION_NAME eq 'care'">style="color:#e36d55;font-weight:bold"</if>>我关注的标</a>
				</dd>
				<dd>
					<a href="{:U('account/tender_count')}"<if condition="ACTION_NAME eq 'tender_count'">style="color:#e36d55;font-weight:bold"</if>>投资统计</a>
				</dd>
				<dd>
					<a href="{:U('borrow/debting')}"<if condition="(ACTION_NAME eq 'debting') OR (ACTION_NAME eq 'debt_move') OR (ACTION_NAME eq 'move_success') OR (ACTION_NAME eq 'buy_success')">style="color:#e36d55;font-weight:bold"</if>>债权转让与购买</a>
				</dd>
				<dd>
					<a href="{:U('borrow/auto')}"<if condition="ACTION_NAME eq 'auto'">style="color:#e36d55;font-weight:bold"</if>>自动投标</a>
				</dd>
				<dt>
					<a href="#">借款管理</a>
				</dt>
				<dd>
					<a href="{:U('borrow/amount')}"<if condition="(ACTION_NAME eq 'amount') OR (ACTION_NAME eq 'amount_list') OR (ACTION_NAME eq 'amount_log')">style="color:#e36d55;font-weight:bold"</if>>信用额度</a>
				</dd>
				<dd>
					<a href="{:U('borrow/publish')}"<if condition="ACTION_NAME eq 'publish'">style="color:#e36d55;font-weight:bold"</if>>发布的借款</a>
				</dd>
				<dd>
					<a href="{:U('borrow/repayment')}"<if condition="ACTION_NAME eq 'repayment'">style="color:#e36d55;font-weight:bold"</if>>偿还中的借款</a>
				</dd>
				<dd>
					<a href="{:U('borrow/repaymentyes')}"<if condition="ACTION_NAME eq 'repaymentyes'">style="color:#e36d55;font-weight:bold"</if>>已还清的借款</a>
				</dd>
				<dd>
					<a href="{:U('borrow/repaylog')}"<if condition="ACTION_NAME eq 'repaylog'">style="color:#e36d55;font-weight:bold"</if>>借款统计</a>
				</dd>
				<dt>
					<a href="#">基本信息</a>
				</dt>
				<dd>
					<a href="{:U('rating/basic')}"<if condition="ACTION_NAME  eq 'basic'">style="color:#e36d55;font-weight:bold"</if>>资料修改</a>
				</dd>
				<dd>
					<a href="{:U('users/avatar')}"<if condition="ACTION_NAME  eq 'avatar'">style="color:#e36d55;font-weight:bold"</if>>更改头像</a>
				</dd>
				<dd>
					<a href="{:U('users/userpwd')}"<if condition="ACTION_NAME  eq 'userpwd'">style="color:#e36d55;font-weight:bold"</if>>密码重设</a>
				</dd>
				<dd>
					<a href="{:U('users/reginvite')}"<if condition="ACTION_NAME  eq 'reginvite'">{style="color:#e36d55;font-weight:bold"</if>>邀请管理</a>
				</dd>
			</dl>
		</div>
		<div class="user_right">{__CONTENT__}</div>
	</div>
</div>
<include file="$footer" />