<dl class="vipcenter_right">
	<dt class="hh_top">

		可用余额：￥{$account.balance|default=0.00} &nbsp;&nbsp;&nbsp; <a
			href="{:U('account/recharge_new')}"><img
			src="{$tpldir}images/vipcenter_10.jpg" alt="充值" /></a>&nbsp; <a
			href="{:U('account/cash_new')}"><img
			src="{$tpldir}images/vipcenter_12.jpg" alt="提现" /></a>&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp; 最近代收款金额：￥{$account.await|default=0.00}
	</dt>
	<dt class="main_title">
		<span><a href="{:U('rating/basic')}">修改个人信息</a></span>我的个人信息

	</dt>
	<dd>
		<div class="Personal">
			<div class="Personal_mg">
				<a href="{:U('users/avatar')}" title="点击修改头像"><img
					src="{$_G.user_id|avatar}" width="100" height="100" /></a>
			</div>
			<div class="Personal_tl">
				<p>
					<b>{$_G.user_result.username}</b>，欢迎您!
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>信用等级：</strong>{$credit.approve_credit|credit="credit",###}
				</p>
				<p>
					<strong>用户类型：</strong>
					<if condition="$uvip.status eq 1"> <strong style="color: blue">Vip会员</strong>

					<else /> 普通会员&nbsp;<a href="{:U('Index/index?site=vip')}" style="color:#0000ff;">申请VIP</a>
				</if>
				</p>
				<p>
					<strong>注册时间：</strong>{$_G.user_result.reg_time|date="Y-m-d",###}&nbsp;&nbsp;&nbsp;&nbsp;<strong>最后登录时间：</strong>{$_G.user_result.last_time|date="Y-m-d",###}
				</p>

				<p>
					<strong>个人统计：</strong><b class="red">{$borrow.borrow_times|default="0"}</b>
					条借款记录&nbsp;&nbsp;&nbsp;&nbsp;<b class="red">{$borrow.tender_times|default="0"}</b>
					条投标记录
				</p>
			</div>
			<div class="Personal_link">
				<p>
					<strong>快捷通道</strong>
				</p>
				<p>
					<img src="{$tpldir}images/center_17.jpg" width="24" height="20" style="margin-bottom: -4px;" /> <a href="{:U('account/recharge_new')}">账号充值</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
						src="{$tpldir}images/center_19.jpg" width="24" height="20" style="margin-bottom: -4px;" /> <a href="{:U('account/cash_new')}">申请提现</a>
				</p>
				<p>
					<img src="{$tpldir}images/center_26.jpg" width="24" height="19" style="margin-bottom: -4px;" /> <a href="{:U('account/tender_count')}">投资记录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
						src="{$tpldir}images/center_25.jpg" width="24" height="21"
						style="margin-bottom: -4px;" /> <a href="{:U('borrow/repaylog')}">借款统计</a>
				</p>
			</div>
		</div>
		<dl class="mation">
			<dt>
				<strong></strong>安全中心
			</dt>
			<dd>
				<ul>

					<li><strong>邮箱认证：</strong> <if condition="$_G['user_info']['email_status'] eq 1">
						<img src="{$tpldir}images/center_35.gif" width="36" height="25" style="margin-bottom: -8px;" /> {$_G.user_result.email}<else />
						<a href="{:U('approve/email_status')}"><img src="{$tpldir}images/center_34.gif" width="36" height="25" style="margin-bottom: -8px;" /></a> 您还未进行邮箱认证</if></li>
					<li><strong>手机认证：</strong> <if condition="$_G['user_info']['phone_status'] eq 1"> <img src="{$tpldir}images/center_33.gif" width="33" height="31" style="margin-bottom: -12px;" />{$_G.user_info.phone}<else />
						<a href="{:U('Approve/phone_status')}" style="color:#555"><img src="{$tpldir}images/center_32.gif" width="33" height="31" style="margin-bottom: -12px;" />您还未进行手机认证</a></if></li>
					<li><strong>身份认证：</strong> <if condition="$_G['user_info']['realname_status'] eq 1">
						<img src="{$tpldir}images/center_43.gif" width="36" height="26"
							style="margin-bottom: -8px;" /> {$_G.user_info.realname}<else />
						<a href="{:U('approve/realname')}"><img src="{$tpldir}images/center_42.gif" width="36" height="26"
							style="margin-bottom: -8px;" /> </a>您还未进行身份认证</if></li>
					<li><strong>视频认证：</strong> <if condition="$_G['user_info']['video_status'] eq 1">
						<img src="{$tpldir}images/center_41.gif" width="33" height="29" style="margin-bottom: -10px;" /> 您已经进行视频认证<else />
						<a href="{:U('Index/index?site=video')}"><img src="{$tpldir}images/center_40.gif" width="33" height="29" style="margin-bottom: -10px;" /> </a>您还未进行视频认证</if></li>
				</ul>
			</dd>
		</dl>
		<dl class="mation">
			<dt>
				<strong></strong>账户概况
			</dt>
			<dd>


				<p>
					<span>账户总额: <strong>￥{$account.total|default=0.00}</strong></span><span>可用余额:
						<strong>￥{$account.balance|default=0.00}</strong>
					</span><span>冻结余额: <strong>￥{$account.frost|default=0.00}</strong></span>
				</p>
				<p>
					<span>待收金额: <strong>￥{$account.await|default=0.00}</strong></span>
					<span>提现成功总额: <strong>￥{$account.cash_total|default=0.00}({$account.cash_success|default=0}笔)</strong></span>


					<span>充值成功总额: <strong>￥{$recharge.recharge_all|default=0}</strong></span>
				</p>

				<p>
					<span>在线充值总额: <strong>￥{$recharge.recharge_all_up|default=0}</strong></span><span>线下充值总额:
						<strong>￥{$recharge.recharge_all_down|default=0}</strong>
					</span> <span>信用额度: <strong>{$amount.borrow_amount}</strong></span>
				</p>



				<p>
					<span>可用额度: <strong>{$amount.borrow_amount_use}</strong></span>
				</p>





			</dd>
		</dl>


		<dl class="mation">
			<dt>
				<strong></strong><span><a
					href="{:U('account/tender_count')}">投资统计</a></span>收益详情
			</dt>
			<dd>
				<p>
					<span>已赚利息: <strong>{$count.tender_interest_yes|default=0.00}元</strong></span><span>已赚罚息:
						<strong>{$count.all_late_interest|default=0.00}元</strong>
					</span><span>已赚违约金 : <strong>{$item.weiyue|default=0.00}元</strong></span>
				</p>
				<p>
					<span>已赚奖励: <strong>{$count.award_add|default=0.00}元</strong></span><span>待回收本息:
						<strong>{$count.tender_recover_wait|default=0.00}元</strong>
					</span><span>已回收本息: <strong>{$count.tender_recover_yes|default=0.00}元</strong></span>
				</p>

			</dd>
		</dl>


		<dl class="mation">
			<dt>
				<strong></strong><span><a
					href="{:U('borrow/repaylog')}">借款统计</a></span>借款详情
			</dt>
			<dd>
				<p>
					<span>借款总额: <strong>{$count.borrow_account|default=0.00}元</strong></span><span>发布借款笔数:
						<strong>{$count.borrow_times|default=0} 笔</strong>
					</span><span>已还本息: <strong>{$count.borrow_repay_yes|default=0.00}元</strong></span><span>待还本息:
						<strong>{$count.borrow_repay_wait|default=0.00}元</strong>
					</span>
				</p>



			</dd>
		</dl>

	</dd>
</dl>