<script>
var con_id = Array();
function checkFormAll(form) {	
	if(form.allcheck.checked==true){
		con_id.length=0;
	}
	for (var i=1;i<form.elements.length;i++)    {
		 if(form.elements[i].type=="checkbox"){ 
            e=form.elements[i]; 
            e.checked=(form.allcheck.checked)?true:false; 
			if(form.allcheck.checked==true){
				con_id[con_id.length] = e.value;
			}else{
				con_id.length=0;
			}
        } 
	}
}

function on_submit(path,id){
	 $('#type').val(id);
	 $('#form1').action=path;
	 $('#form1').submit();
}
</script>

<div>
	<div class="m_change">
		<ul>
			<li><a href="{:U('Message/index')}"<if condition="(ACTION_NAME eq 'index') OR (ACTION_NAME eq 'view')">
					class="onn"</if>>收件箱</a></li>
			<li><a href="{:U('Message/sented')}"<if condition="(ACTION_NAME eq 'sented') OR (ACTION_NAME eq 'viewed')">class="onn"</if>>已发送</a></li>
			<li><a href="{:U('Message/sent')}"<if condition="ACTION_NAME eq sent">class="onn"</if>>发信息</a></li>
		</ul>
	</div>
	<div class="us_r_bor1">
		<!--收件箱 开始-->
		<if condition="ACTION_NAME eq 'index'">
		<div class="user_main_title1">
			<input type="button" value="删除" onclick="on_submit('{:U('Message/index')}',1)" class="xinbuton" />
		</div>
		<div class="t20">
			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="tabyel">
				<form action="" method="post" id="form1">
					<tr class="ytit1">
						<td><input type="checkbox" name="allcheck"
							onclick="checkFormAll(this.form)" /> <input type="hidden"
							name="type" id="type" value="1" /></td>
						<td>发件人</td>
						<td>标题</td>
						<td>发送时间</td>
					</tr>

					<foreach name="list" item="item">

					<tr>
						<td><input type="checkbox" name="id[]" value="{$item.id}" /></td>
						<td>{$item.send_nikename|default="系统"}</td>
						<td><a href="{:U('Message/view?id='.$item['id'])}"><eq name="item.status" value="0">
								<strong>{$item.name}</strong>
								<else />{$item.name}</eq></a></td>
						<td>{$item.addtime|date="Y-m-d H:i",###}</td>
					</tr>
					</foreach>
					<tr>
						<td colspan="11" class="page"><div class="user_list_page">
								{$page} <input type="hidden" value="delete" id="type"
									name="type" />
							</div></td>
					</tr>
				</form>
			</table>
			<div class="user_right_foot">* 温馨提示：未阅读短消息无法删除。</div>
			<!--收件箱 结束-->
		</div>

		<!--发件箱 开始--> 
  <elseif condition="ACTION_NAME eq 'sented'" />

		<div class="user_main_title1">
			<input type="button" value="删除"
				onclick="on_submit('{:U('Message/sented')}/',1)" class="xinbuton" />
		</div>

		<div class="t20">
			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="tabyel">
				<form action="{:U('message/deled')}" method="post" id="form1">
					<tr class="ytit1">
						<td><input type="checkbox" name="allcheck"
							onclick="checkFormAll(this.form)" /></td>
						<td>收件人</td>
						<td>标题</td>
						<td>发送时间</td>
					</tr>
					<foreach name="list" item="item">

					<tr>
						<td><input type="checkbox" name="id[{$key}]"
							value="{$item.id}" /></td>
						<td>{$item.receive_nikename|default="系统"}</td>
						<td><a href="{:U('message/viewed?id='.$item['id'])}">{$item.name}</a></td>
						<td>{$item.addtime|date="Y-m-d H:i",###}</td>
					</tr>
					</foreach>
					<tr>
						<td colspan="5" class="page"><div class="user_list_page">{$page}</div></td>
					</tr>

					<input type="hidden" name="type" id="type" value="0" />
				</form>
			</table>
			<!--发件箱 结束-->
		</div>
		<!--发件箱 开始--> <elseif condition="ACTION_NAME eq 'sent'" />

		<form method="post" action="">
			<div class="user_right_border">
				<div class="l">发件人：</div>
				<div class="c">{$_G.user_result.username}</div>
			</div>
			<div class="user_right_border">
				<div class="l">收件人：</div>
				<div class="c">
					<input type="text" name="receive_user" value="{$Think.request.receive}" tabindex="1" />
				</div>
			</div>
			<div class="user_right_border">
				<div class="l">标题：</div>
				<div class="c">
					<input type="text" name="name" tabindex="2" />
				</div>
			</div>
			<div class="user_right_border">
				<div class="l">内容：</div>
				<div class="c">
					<textarea name="contents" rows="7" cols="50" tabindex="3"></textarea>
				</div>
			</div>
			<div class="user_right_border">
				<div class="l">验证码：</div>
				<div class="c">
					<input name="valicode" type="text" size="11" maxlength="4" tabindex="4" /> &nbsp;<img src="{:U('index/verify')}" alt="点击刷新" onClick="this.src='{:U('Index/verify','','')}/' + Math.random();" align="absmiddle" style="cursor: pointer" />
				</div>
			</div>
			<div class="user_right_border">
				<div class="l"></div>
				<div class="c">
					<input type="submit" value="确认提交" class="xinbuton" size="30"
						tabindex="6" />
				</div>
			</div>
		</form>


		<!--查看 开始--> <elseif condition="ACTION_NAME eq 'view'" />

		<div class="user_main_title1">
			<input type="button" onclick="javascript:location.href='{:U('Message/index')}'" value="返回" /> <input type="button" value="删除" onclick="javascript:location.href='{:U('Message/deled?id='.$_U['message_result']['id'])}'" />
		</div>
		<form method="post" action="">
			<div class="user_right_border">
				<div class="l">标题：</div>
				<div class="c">{$_U.message_result.name}</div>
			</div>
			<div class="user_right_border">
				<div class="l">发送人：</div>
				<div class="c">
					{$_U.message_result.send_nikename|default="系统"}</div>
			</div>
			<div class="user_right_border">
				<div class="l">发送时间：</div>
				<div class="c">{$_U.message_result.addtime|date="Y-m-d H:i:s",###}</div>
			</div>
			<div class="user_right_border">
				<div class="l">发送内容：</div>
				<div class="c">{$_U.message_result.contents}</div>
			</div>
			<if condition="($_U['message_result']['send_username'] neq '') AND ($_U['message_result']['send_username'] neq 0)">

			<div class="user_right_border">
				<div class="l">回复：</div>
				<div class="c">
					<textarea name="contents" rows="7" cols="50"></textarea>
				</div>
			</div>
			<div class="user_right_border">
				<div class="l"></div>
				<div class="c">
					<input type="hidden" name="id" value="{$_U.message_result.id}" />
					<input type="hidden" name="receive_user"
						value="{$_U.message_result.send_username}" /> <input
						type="submit" value="回复" />
				</div>
			</div>
			</if>
		</form>
		<!--查看 结束--> <!--查看 开始--> <elseif condition="ACTION_NAME eq 'viewed'" />
		<div class="user_main_title1">
			<input type="button"
				onclick="javascript:location.href='{:U('Message/sented')}'"
				value="返回" /> <input type="button" value="删除"
				onclick="javascript:location.href='{:U('Message/deled?id='.$_U['message_result']['id'])}'" />
		</div>
		<div class="user_right_border">
			<div class="l">标题：</div>
			<div class="c">{$_U.message_result.name}</div>
		</div>
		<div class="user_right_border">
			<div class="l">收件人：</div>
			<div class="c">
				{$_U.message_result.receive_nikename}</div>
		</div>
		<div class="user_right_border">
			<div class="l">发送时间：</div>
			<div class="c">{$_U.message_result.addtime|date="Y-m-d H:i:s",###}</div>
		</div>
		<div class="user_right_border">
			<div class="l">发送内容：</div>
			<div class="c">{$_U.message_result.contents}</div>
		</div>

		<!--查看 结束--> </if>
	</div>
</div>



