<include file="$header" />
<empty name="_G.user_id"> <script>
	window.onload=function()
	{
	 
      $('#element_to_pop_up').bPopup({
            speed: 650,
            transition: 'slideIn',
	    transitionClose: 'slideBack'
        });   
        
	setTimeout("location.href='{:U('Index/login')}'",2000);
	}
	</script> </empty>
<div class="con_box">
<div>
<div class="con_bor">
<div class="pos_bor"> <span><a href="{:U('borrow/index')}">我要借款</a> > 借款认证</span> </div>
<div class="con2">
<div style="width: 897px; margin: 20px auto">
<div style="margin: 20px 0">
<div class="m_change">
  <ul>
    <li><a href="{:U('Approve/realname')}"<eq name="ACTION_NAME" value="realname">class="onn"</eq>>实名认证</a></li>
    <li><a href="{:U('Approve/phone_status')}" <eq name="ACTION_NAME" value="phone_status">class="onn"</eq>>手机认证</a></li>
    <li><a href="" <eq name="ACTION_NAME" value="video_status">class="onn"</eq>>视频认证</a></li>
  </ul>
</div>
<div style="padding: 20px 80px">
<div style="padding:20px 80px"> 
<if condition="$_G['user_info']['video_status'] eq 0"> 
<eq name="Think.request.action" value="ok">

  <div class="user_main_title1"> <strong style="color:red;">您目前已提交了所有信用认证，客服人员将于1~3个工作日内尽快审核，审核通过后即可发布借款！<br>
   </strong> </div>
  <else/>
  <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="jk_tab">
    <tr>
      <td width="24%" align="right"><span>*</span>&nbsp;</td>
      <td width="76%" align="left">您的视频认证提交后，客服人员会及时的跟你联系。</td>
    </tr>
    <tr>
      <td width="24%" align="right"><span>*</span>视频认证：</td>
      <td width="76%" align="left"><input type="submit" name="submit" onclick="checkvideo()" value="提交申请" class="btn1" /></td>
    </tr>
  </table>
  
  <script>
function checkvideo(){
  $.post("{:U('approve/video_status')}",{submit:1},function(result){
		location.href='{:U('Index/index?site=video&action=ok')}';
  });
}
</script> 
 
  </eq>
<elseif condition="$_G['user_info']['video_status'] eq 1"/>
  
  <div class="user_main_title1"><font color="#FF0000">*</font>您已通过视频认证！<br />
  </div>
  </if> 		</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>
 <include file="$footer" />