    <include file="Common:header"/>     
    <include file="Common:left"/>   
                
                
                
                
        <!--            
              CONTENT 
                        --> 
        <div id="content" class="white">
            <h1><img src="__PUBLIC__/img/icons/posts.png" alt="" /> 编辑管理员资料</h1>

<div class="bloc">
    <div class="title">管理员资料</div>
    <div class="content">
    <form action = "{:U('updateModify')}" method="POST">
        <div class="input">
            <label >登入账号</label>
            <label>{$modifyInfo.username}</label>
        </div>
        <div class="input">
            <label >修改登入密码</label>
            <input type="text" name="pwd"/>
            长度6以上位字母或数字组合 (若不修改请保留空)
        </div>
        <div class="input">
            <label >管理员名称</label>
            <input type="text" name="adminname" value="{$modifyInfo.adminname}"/>
        </div>

        <div class="input">
            <label for="select">管理员类型</label>
            <select name ='type_id'>
                <foreach name="getAdminName" item="v">
                    <option value="{$v.id}">{$v.name}</option>
                </foreach>
            </select>

        </div>
        <div class="input">
            <label >QQ</label>
            <input type="text" name="qq" value="{$modifyInfo.qq}"/>
        </div>
                <div class="input">
            <label >手机号</label>
            <input type="text" name="phone" value="{$modifyInfo.phone}"/>
        </div>

            <input type="hidden" name="id" value="{$modifyInfo.id}">

        <div class="submit">
            <if condition ="$getAdminInfo.type_id eq 1"><input type="submit" value="提交" /><else/><p style="color:red;">超级管理员才能操作管理员</p></if>
        </div>
    </form>
    </div>
</div>



        
        
    </body>
</html>