<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>会员中心-{$_SESSION['username']}</title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="__PUBLIC__/css/member.css" type="text/css">
  <style>
    .books-list-page{
      width: 880px;
      margin: 0 auto;
      text-align: center;
    }
    .books-list-page .current{
      background-color:red;
      color:#fff;
    }
 </style>

</head>

<body>
<script type="text/javascript">
  var menue = {$Think.get.menue};
</script>


<include file="Common:nav"/>

<div id="main">
<!-- ===================会员左侧菜单===================== -->
  <include file="Common:memberleft"/>
  <div class="r space-main">
    
    <div class="family">
        <h1 class="family-hd">我关注的图书</h1>
    </div>
    <div class="course-tool-bar clearfix">
        <div class="tool-left l">
            <a href="" class="sort-item active"><span class="glyphicon glyphicon-heart" style="color:red;"></span>&nbsp关注的图书</a>
        </div>
        <div class="tool-right r">
            <span class="tool-item total-num">共<b></b>个课程</span>
            <span class="tool-item tool-pager">
                <span class="pager-num"><b class="pager-cur">{$Think.get.p|default=1}</b>/<em class="pager-total">{$totalPage|default=1}</em>&nbsp;&nbsp;</span>
                <if condition="$_GET['p'] neq 1">
                <a href="{:U('follow',array('menue'=>1,'p'=>$_GET['p']-1))}" class="glyphicon glyphicon-arrow-left"></a>&nbsp;&nbsp;
                </if>
                <if condition="$_GET['p'] lt $totalPage">
                  <a href="{:U('follow',array('menue'=>1,'p'=>$_GET['p']+1))}" class="glyphicon glyphicon-arrow-right"></a>
                </if>
            </span>
        </div>
    </div>

      <ul class="follow-list">
        <foreach name="followResult" item="v">
              <li data-id="{$v.id}" >
                  <div class="box-left l">
                    <a href="{:U('Books/index',array('id'=>$v['id']))}" title="{$v.books_name}" target="_blank">
                      <div class="course-list-img">
                        <img src="__APP__/Uploads/middle/{$v.books_face}" width="220" height="123" alt="{$v.books_name}">
                        <div class="pro-bg"></div>
                        <em class="dot-progress">10%</em>
                        <div class="progress-bar">
                        <i class="studyrate bar" value="10" data-finishval="10" style="width: 10%"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="box-right">
                      <h3 class="box-hd">
                        <span>{$v.books_name}</span>
                        <span class="span-new ">阅读: {$v.books_counts}</span>
                        <span class="span-new ">发布: {$v.add_time|date="Y-m-d H:i:s",###}</span>
                      </h3>
                      <div class="study-points">
                        <!-- <span class="span-left span-common">已学习至：1-1 MySQL&#20248;&#21270;&#31616;&#20171;</span>
                        <span class="span-mid span-common">学习耗时： 7分</span>
                        <span class="span-right span-common">最后学习：2015-05-04</span> -->
                      </div>
                      <div class="study-btm">
                      <php>
                        //if(S('getMiniContentId')){
                        //$getMiniContentId = S('getMiniContentId');
                        //} else {
                          $getMiniContentId = M('content_category')->where(array('bid'=>$v['id'],array('content_id'=>array('NEQ',0))),'AND')->order("content_id ASC")->field("content_id")->limit(1)->find();
                          //echo M('content_category')->getLastSql();
                          //dump($getMiniContentId);
                          $this->getMiniContentId = $getMiniContentId;
                          //S('getMiniContentId', $getMiniContentId,3600*24);
                        //}
                      </php>
                          <a href="{:U('Books/index',array('bid'=>$v['id'],'content_id'=>$getMiniContentId['content_id']))}" class="beginstudy" data-title="" target="_blank">查看</a>
                          <a style="background-color:#FF7744;" href="{:U('delFollow',array('bid'=>$v['id']))}" class="beginstudy" id="delfollow" data-title="">取消关注</a>
                          <!-- <a href="" class="beginstudy" data-title="1-1 内容简介">删除</a> -->
                      </div>
                  </div>
              </li>
          </foreach>
      </ul>
       <div class="books-list-page">{$page}</div>
  </div>
</div>

</div>



<include file="Common:footer"/>


	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/js/member.js"></script>
  <script type="text/javascript">
      $('#delfollow').click(function(){
        if(confirm("确认取消关注吗？")){
          return true;
        }else{
          return false;
        }
      });
  </script>
</body>
</html>