<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>图书编辑</title>
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="__PUBLIC__/css/editorbooks.css" type="text/css">
</head>
<body>

  <script type="text/javascript">
      var options ={
        cssPath: '/css/index.css',
        filterMode: true
      };
      var editor = k.create('textarea[name="content"]',options);
  </script>

<include file="Common:nav"/>

<div class="book-content-top-box">
  <div class="book-content-top">
    <span><a href="{:U('Bookslist/index')}">图书库</a><p class="glyphicon glyphicon-menu-right"></p>
    <foreach name="cateResult" item="v">
       <a href="{:U('Bookslist/index',array('cid'=>$v['id']))}">{$v.category_name}</a><p class="glyphicon glyphicon-menu-right"></p>
    </foreach>
    <a>{$booksInfo.books_name}</a></span>
  </div>
</div>
<div class="content-main">

    <div class="edit-left">
      <form action="{:U('addContentCate',array('bid' => $booksInfo['id']))}" method="POST">
        <div class="col-lg-6">
        <div class="select-cate-top">
             <select class="selectpicker" name="addActicleCateName">
              <optgroup label="顶级目录">
              <option>顶级</option>
              <optgroup label="点击下面一级目录添加二级目录">
              <foreach name="getTopContentCate" item="v">
                <option value="{$v.id}">{$v.content_category_name}</option>
              </foreach>
            </select>
        </div>
          <div class="input-group">

            <input type="text" class="form-control" name="addContentCate" placeholder="请添加目录名称"/>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">增加目录</button>
            </span>
          </div>
        </div>
      </form>
      <div class="content-Cate">
        <ul>
          <foreach name='getAllContentCateResult' item="v">
          <li><a <if condition="$v['content_id']">style="color:blue" </if> href="{:U('index',array('bid' => $booksInfo['id'],'cid'=>$v['id'],'content_id'=>$v['content_id']))}">
          <if condition="$v['level'] eq 2">&nbsp;&nbsp;&nbsp;&nbsp;</if><if condition="$v['level'] eq 3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</if>{$v.content_category_name}</a></li>
          </foreach>
        </ul>       
      </div>
  </div>
  <if condition="$_GET['content_id']">

        <form action="{:U('modifyContentList',array('bid' => $booksInfo['id']))}" method="POST">
      <div class="edit-main">
        <label>绑定目录</label>
        <div class="select-box"> 
        <select class="selectpicker" name="acticleCateName">
            <option>请选择目录</option>
            <foreach name="getContentCate" item="v">
              <option <if condition="$v['id'] eq $getContentList['pid']">selected = "selected"</if> value="{$v.id}">
              <if condition="$v['level'] eq 2">&nbsp;&nbsp;&nbsp;&nbsp;</if>
               {$v.content_category_name}
              </option>
            </foreach>
        </select>
        </div>

        <div class="edit-main-title">
          <label>标题 </label>
          <input type="text" class="form-control" name="acticleName" value="{$getContentList.acticle_name}" placeholder="请输入文章标题">
        </div>

          <div class="edit-main-title">
          <label>设置关键字（以逗号，分格多个关键字） </label>
          <input type="text" class="form-control" name="keyword" value="{$getContentList.key_word}" placeholder="请输入关键字">
        </div>
         
          <textarea class="form-control" rows="26" id="editor_id" name="content" >{$getContentList.acticle_content}</textarea>
          <input type="hidden" name = "cid" value="{$_GET['cid']}"/>
          <input type="hidden" name = "content_id" value="{$_GET['content_id']}"/>
          <button type="submit" class="btn btn-success">修 改 文 章</button>
      </div>
      </form>


  <else/>
      <form action="{:U('addContentList',array('bid' => $booksInfo['id']))}" method="POST">
      <div class="edit-main">
        <label>绑定目录</label>
        <div class="select-box"> 
        <select class="selectpicker" name="acticleCateName">
            <option>请选择目录</option>
            <foreach name="getContentCate" item="v">
              <option value="{$v.id}"><if condition="$v['level'] eq 2">&nbsp;&nbsp;&nbsp;&nbsp;</if>
               {$v.content_category_name}
              </option>
            </foreach>
        </select>
        </div>

        <div class="edit-main-title">
          <label>标题 </label>
          <input type="text" class="form-control" name="acticleName" placeholder="请输入文章标题">
        </div>

          <div class="edit-main-title">
          <label>设置关键字 </label>
          <input type="text" class="form-control" name="keyword" placeholder="请输入关键字">
        </div>
         
          <textarea class="form-control" rows="26" id="editor_id" name="content" ></textarea>

          <button type="submit" class="btn btn-success">上 传 文 章</button>
      </div>
      </form>
  </if>

</div>

<include file="Common:footer"/>


  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="__APP__/editor/kindeditor.js"></script>
  <script type="text/javascript" src="__APP__/editor/lang/zh-CN.js"></script>
 
  <script type="text/javascript">
      KindEditor.ready(function(k){
        window.editor=k.create('#editor_id');
      });
  </script>

</body>
</html>